@import '../../scss/variables/colors';

$base-class: 'dropdown';

.#{$base-class} {
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(66, 77, 87, 0.3);
  border-radius: 4px;
  min-width: 168px;
  max-width: 336px;
  display: none;

  &--visible {
    display: block;
  }

  &__list {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 504px;

    &:focus {
      outline: none;
    }
  }

  &__list-item {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    line-height: 1.3;
    font-size: 14px;
    color: $font-primary-color;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &__icon {
      margin-right: 10px;
      width: 16px;
      height: 16px;
    }

    &__content {
      box-sizing: border-box;
      overflow: hidden;
      flex: 1 1 auto;
    }

    &--focused {
      background-color: $hover-background-color;
    }

    &__checkmark {
      opacity: 0;
      visibility: hidden;
      transition: all 0.15s ease-in-out;
      fill: $primary-color;
      margin-left: auto;
      padding-left: 5px;
    }

    &--selected {
      color: $primary-color;

      .#{$base-class}__list-item__checkmark {
        opacity: 1;
        visibility: visible;
        transition: all 0.15s ease-in-out;
      }

      .#{$base-class}__list-item__content {
        max-width: calc(100% - 15px);
        width: 100%;
      }
    }

    &--disabled {
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none;
    }

    &--with-divider {
      border-bottom: 1px solid $divider-color;
    }
  }
}

@media screen and (max-height: 504px) {
  .#{$base-class}__list {
    max-height: calc(100vh - 10px);
  }
}
