$base-class: 'navigation-list';

.#{$base-class} {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;

  &--scrollable {
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
