$base-class: card;

.#{$base-class} {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border: solid 1px var(--border-subtle);
  border-radius: 4px;
  background-color: var(--background);
  padding: 16px;
  min-width: 320px;

  &__header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 48px;

    &__image {
      border-radius: 4px;
      background-color: var(--surface-basic-disabled);
      width: 48px;
      height: 48px;
    }

    &__heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__title {
        margin: 0;
        color: var(--content-default);
      }

      &__description {
        margin: 0;
        color: var(--content-subtle);
      }
    }
  }

  &__content,
  &__expanded-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin: 0;
    width: 100%;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;

    &__line {
      background-color: var(--border-subtle);
      width: 100%;
      height: 1px;
    }

    &__buttons {
      display: flex;
      gap: 12px;
      align-items: center;
      width: 100%;

      &-expander {
        margin-left: auto;
      }
    }
  }
}
