@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'field-label';

@mixin themable() {
  color: $text-primary;
}

.#{$base-class} {
  font-size: 14px;
  display: block;
  line-height: 20px;
  margin-bottom: 4px;

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
