@import '../../scss/variables/colors';

.form {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;

  &__header,
  &__footer {
    margin-bottom: 32px;
  }

  &__label {
    color: $font-primary-color;
    margin: 0;
    margin-bottom: 16px;
  }

  &__helper {
    color: $font-secondary-color;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
  }
}
