@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'form';

@mixin themable() {
  &__label {
    color: $text-primary;
  }

  &__helper {
    color: $text-secondary;
  }
}

.#{$base-class} {
  &__header,
  &__footer {
    margin-bottom: 32px;
  }

  &__label {
    margin: 0;
  }

  &__helper {
    margin: 0;
    margin-top: 16px;
    font-size: 15px;
    line-height: 24px;
  }

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
