@import '../../utils/StackingContextLevel';

$base-class: 'picker-list';

.#{$base-class} {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 4px);
  z-index: $stacking-context-level-dropdown;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 6px 20px rgb(66 77 87 / 40%);
  background-color: var(--picker-list-background);
  padding: 4px 0;
  width: 100%;
  max-height: 242px;
  overflow: scroll;
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;

  &__no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 6px 11px;
    height: 36px;

    &:hover {
      background-color: var(--picker-list-option-background-hover);
    }

    &:focus,
    &:active {
      background-color: var(--picker-list-option-background-focus);
    }

    &[aria-current='true'] {
      border-color: var(--action-primary-default);
    }

    &[aria-disabled='true'] {
      color: var(--content-basic-disabled);

      &:hover {
        background-color: unset;
        cursor: auto;
      }
    }

    &--select-all {
      border-bottom: 1px solid var(--border-basic-tertiary);
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--picker-list-group-background);
      cursor: auto;
      padding: 12px 12px 4px;
      height: 36px;
      text-transform: uppercase;
      color: var(--content-basic-secondary);
      font-size: 12px;
      font-weight: 600;
    }

    &__content {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__custom {
      width: 100%;
      height: auto;
    }
  }
}
