$base-class: 'picker';

.#{$base-class} {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  color: var(--content-basic-primary);

  &__container {
    position: relative;
  }
}
