$base-class: 'picker-list';

.#{$base-class} {
  background-color: var(--surface-basic-default);
  border-radius: 4px;
  box-shadow: 0 6px 20px rgba(66, 77, 87, 0.4);
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-height: 242px;
  overflow: scroll;
  padding: 4px 0;
  position: absolute;
  width: 341px;

  &--compact {
    top: 36px;
  }

  &--medium {
    top: 40px;
  }

  &--large {
    top: 46px;
  }

  &__no-results {
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: center;
  }

  &__item {
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: space-between;
    padding: 6px 11px;

    &:hover {
      background-color: var(--surface-basic-hover);
    }

    &[aria-current='true'] {
      border-color: var(--color-action-default);
    }

    &[aria-disabled='true'] {
      color: var(--content-disabled);

      &:hover {
        background-color: unset;
        cursor: auto;
      }
    }

    &--select-all {
      border-bottom: 1px solid var(--border-subtle);
    }

    &__header {
      align-items: center;
      color: var(--content-subtle);
      cursor: auto;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      height: 36px;
      justify-content: space-between;
      padding: 7px 12px;
      text-transform: uppercase;
    }
  }
}
