$base-class: 'picker';

.#{$base-class} {
  box-sizing: border-box;
  color: var(--content-default);
  display: inline-block;
  position: relative;
  width: 100%;

  &__container {
    position: relative;
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;

    &--disabled {
      color: var(--content-disabled);
    }
  }

  &__error {
    color: var(--color-negative-default);
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;

    &__icon {
      margin-right: 5px;
    }
  }

  &__tag {
    margin-bottom: 4px;
    margin-right: 4px;
  }
}
