$base-class: 'picker-trigger-body';

.#{$base-class} {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;

  &__item {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__input {
    display: flex;
    flex-grow: 2;
    align-items: center;
    outline: none;
    border: 0;
    background: none;
    padding: 0;
    height: 22px;
    line-height: 22px;
    color: var(--content-basic-primary);
    font-size: 15px;
  }
}
