$base-class: 'picker-trigger';

.#{$base-class} {
  align-items: center;
  background-color: var(--surface-basic-default);
  border: 1px solid var(--border-default);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  justify-content: flex-end;
  line-height: 22px;
  padding: 7px 12px;
  position: relative;
  transition: border 0.15s ease-in-out;
  width: 100%;

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 36px;
  }

  &--large {
    height: 42px;
  }

  &--multi-select {
    align-items: flex-start;
    height: auto;
    overflow: hidden;
  }

  &:hover {
    border-color: var(--border-hover);
    cursor: pointer;
  }

  &__clear-icon {
    align-items: center;
    background-color: var(--surface-secondary-subtle);
    border-radius: 50%;
    display: flex;
    height: 20px;
    justify-content: center;
    margin-top: 2px;
    width: 20px;
  }

  &__content {
    flex-grow: 2;

    &--multi-select {
      height: auto;
      max-height: 96px;
      overflow-y: scroll;
    }
  }

  &--disabled {
    background-color: var(--surface-basic-disabled);
    color: var(--content-disabled);

    &:hover {
      border-color: var(--border-default);
      cursor: auto;
    }
  }

  &--focused,
  &--focused:hover {
    border-color: var(--color-action-default);
  }

  &--error,
  &--error:hover {
    border-color: var(--color-negative-default);
  }
}
