$base-class: 'picker-trigger';

.#{$base-class} {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  transition: border 0.15s ease-in-out;
  border: 1px solid var(--border-basic-primary);
  border-radius: 4px;
  background-color: var(--surface-primary-default);
  padding: 7px 12px;
  width: 100%;
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;

  &:hover {
    border-color: var(--border-basic-hover);
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: 0;
    border-color: var(--action-primary-default);
  }

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 36px;
  }

  &--large {
    height: 42px;
  }

  &--multi-select {
    overflow: hidden;

    &--with-items {
      padding: 5px;
      height: auto;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    align-self: flex-start;

    &--compact {
      height: 18px;
    }

    &--medium {
      height: 22px;
    }

    &--large {
      height: 28px;
    }
  }

  &__clear-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--surface-moderate-default);
    width: 20px;
    height: 20px;
  }

  &__content {
    flex-grow: 2;
    max-height: 96px;
    overflow-y: auto;
  }

  &--disabled {
    background-color: var(--surface-basic-disabled);
    color: var(--content-basic-disabled);

    &:hover {
      border-color: var(--border-basic-primary);
      cursor: auto;
    }
  }

  &--focused,
  &--focused:hover {
    border-color: var(--action-primary-default);
  }

  &--error,
  &--error:hover {
    border-color: var(--action-negative-default);
  }
}
