.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 300px;
  height: 300px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--border-default);
  border-radius: 4px;
  background-color: var(--surface-basic-default);
  width: 100%;
  height: 100%;
}
