@import '../../utils/StackingContextLevel';

.popover {
  display: none;
  z-index: $stacking-context-level-popover;
  border-radius: 4px;
  box-shadow: var(--shadow-pop-over);
  background-color: var(--surface-primary-default);
  min-width: 168px;
  max-width: 336px;

  &:focus {
    outline: none;
  }

  &--visible {
    display: block;
  }
}
