@import '../../utils/StackingContextLevel';

.popover-trigger {
  display: flex;
  width: fit-content;
}

.popover {
  display: none;
  z-index: $stacking-context-level-popover;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-pop-over);
  background-color: var(--popover-background);
  min-width: 168px;
  max-width: 336px;

  &:focus {
    outline: none;
  }

  &--visible {
    display: block;
  }
}
