.listElement {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  list-style: none;
  line-height: 1.5;
  color: var(--content-default);
  font-size: 14px;
}

.listElement:hover {
  background-color: var(--surface-basic-hover);
}

.divider {
  border-bottom: 1px solid var(--border-default);
}

.label {
  margin-left: 5px;
  line-height: 20px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
