$base-class: 'product-tile';

.#{$base-class} {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-3);
  width: 36px;
  height: 36px;

  &--main-product {
    width: 42px;
    height: 42px;
  }

  &--badge {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--icon {
    color: var(--content-locked-white);

    svg {
      width: 24px;
      height: 24px;
    }

    &__large svg {
      width: 28px;
      height: 28px;
    }
  }
}
