$base-class: 'status-badge';

@mixin size($size) {
  border-radius: $size;
  width: $size;
  height: $size;
}

@mixin border($size) {
  border-width: $size;
}

.#{$base-class} {
  box-sizing: content-box;
  display: flex;
  border-style: solid;
  border-color: var(--surface-primary-default);

  &--3XS {
    @include size(4px);
    @include border(1px);
  }

  &--2XS {
    @include size(5px);
    @include border(1px);
  }

  &--XS {
    @include size(6px);
    @include border(1px);
  }

  &--SM {
    @include size(8px);
    @include border(1px);
  }

  &--MD {
    @include size(9px);
    @include border(2px);
  }

  &--LG {
    @include size(10px);
    @include border(2px);
  }

  &--XL {
    @include size(12px);
    @include border(2px);
  }

  &--2XL {
    @include size(16px);
    @include border(2px);
  }

  &--3XL {
    @include size(24px);
    @include border(3px);
  }

  &--offline {
    background-color: var(--content-basic-disabled);
  }

  &--accept {
    background-color: var(--surface-accent-emphasis-high-positive);
  }

  &--not-accept {
    background-color: var(--surface-accent-emphasis-high-negative);
  }
}
