$base-class: 'status-badge';

@mixin size($size, $border-size) {
  border-width: $border-size;
  border-radius: $size;
  width: $size;
  height: $size;
}

.#{$base-class} {
  box-sizing: content-box;
  display: flex;
  border-style: solid;
  border-color: var(--surface-primary-default);

  &--3XS {
    @include size(4px, 1px);
  }

  &--2XS {
    @include size(5px, 1px);
  }

  &--XS {
    @include size(6px, 1px);
  }

  &--SM {
    @include size(8px, 1px);
  }

  &--MD {
    @include size(9px, 2px);
  }

  &--LG {
    @include size(10px, 2px);
  }

  &--XL {
    @include size(12px, 2px);
  }

  &--2XL {
    @include size(16px, 2px);
  }

  &--3XL {
    @include size(24px, 3px);
  }

  &--offline {
    background-color: var(--content-basic-disabled);
  }

  &--accept {
    background-color: var(--surface-accent-emphasis-high-positive);
  }

  &--not-accept {
    background-color: var(--surface-accent-emphasis-high-negative);
  }
}
