.example-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-4);
  width: 64px;
  height: 64px;
}

.example-wrapped {
  border-radius: var(--radius-4);
  background: var(--surface-primary-active-colored);
  width: 50px;
  height: 50px;
}

.div {
  &--float {
    box-shadow: var(--shadow-float);
  }

  &--pop-over {
    box-shadow: var(--shadow-pop-over);
  }

  &--modal {
    box-shadow: var(--shadow-modal);
  }

  &--tooltip {
    box-shadow: var(--shadow-tooltip);
  }

  &--tooltip-arrow-bottom {
    box-shadow: var(--shadow-tooltip-arrow-bottom);
  }

  &--tooltip-arrow-top {
    box-shadow: var(--shadow-tooltip-arrow-top);
  }

  &--tooltip-arrow-right {
    box-shadow: var(--shadow-tooltip-arrow-right);
  }

  &--tooltip-arrow-left {
    box-shadow: var(--shadow-tooltip-arrow-left);
  }

  &--focus {
    box-shadow: var(--shadow-focus);
  }

  &--divider-bottom {
    box-shadow: var(--shadow-divider-bottom);
  }

  &--divider-top {
    box-shadow: var(--shadow-divider-top);
  }

  &--divider-bottom-left {
    box-shadow: var(--shadow-divider-bottom-left);
  }

  &--divider-top-left {
    box-shadow: var(--shadow-divider-top-left);
  }

  &--divider-top-right {
    box-shadow: var(--shadow-divider-top-right);
  }

  &--divider-bottom-right {
    box-shadow: var(--shadow-divider-bottom-right);
  }

  &--message-box {
    box-shadow: var(--shadow-message-box);
  }
}
