@import "../../scss/variables/colors";

.modal-base {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 800px;
  min-width: 400px;
  border-radius: 4px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #fff;
  color: $font-primary-color;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $overlay-background-color;
    z-index: 13000;

    &--visible {
      display: flex;
    }
  }

  &__close {
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    opacity: 0.5;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.modal {
  &__header {
    width: 100%;
    padding: 20px;
    color: $font-primary-color;
    background-color: #fff;
    box-sizing: border-box;
  }

  &__heading {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: $font-primary-color;
    line-height: 1.2;
    font-weight: 600;
    text-align: left;
    max-width: calc(100% - 32px);
  }

  &__body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f8fa;
    color: $font-primary-color;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}

.action-modal {
  padding: 52px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  &__heading {
    width: 100%;
    font-size: 24px;
    line-height: 1.33;
    color: $font-primary-color;
    text-align: center;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
  }

  &__content {
    width: 100%;
    font-size: 15px;
    line-height: 1.33;
    text-align: center;
    color: $font-primary-color;
  }

  &__actions {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  &__icon {
    margin-bottom: 20px;
  }
}
