@import '~@livechat/design-system-themes/dist/scss';

$modal-base-class: 'modal-base';
$modal-class: 'modal';
$action-modal-class: 'action-modal';

@mixin modal-base-themable() {
  background-color: $ui-background;
  color: $text-primary;
  box-shadow: 0 20px 60px 0 rgba($shadow, 0.3);

  &__overlay {
    background-color: $overlay;
  }

  &__close {
    background-color: transparent;
  }
}

.#{$modal-base-class} {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 800px;
  min-width: 400px;
  border-radius: 4px;
  overflow: hidden;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 13000;

    &--visible {
      display: flex;
    }
  }

  &__close {
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    box-shadow: none;
    opacity: 0.5;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @include lcds-theme() {
    @include modal-base-themable();
  }
}

@mixin modal-themable() {
  &__header {
    color: $text-primary;
    background-color: $ui-background;
  }

  &__heading {
    color: $text-primary;
  }

  &__body {
    background-color: $ui;
    color: $text-primary;
  }
}

.#{$modal-class} {
  &__header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  &__heading {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    text-align: left;
    max-width: calc(100% - 32px);
  }

  &__body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  @include lcds-theme() {
    @include modal-themable();
  }
}

@mixin action-modal-themable() {
  &__heading {
    color: $text-primary;
  }

  &__content {
    color: $text-primary;
  }
}

.#{$action-modal-class} {
  padding: 52px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  &__heading {
    width: 100%;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
  }

  &__content {
    width: 100%;
    font-size: 15px;
    line-height: 1.33;
    text-align: center;
  }

  &__actions {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  &__icon {
    margin-bottom: 20px;
  }

  @include lcds-theme() {
    @include action-modal-themable();
  }
}

.theme--light {
  .#{$modal-base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include modal-base-themable();
    }
  }

  .#{$modal-class} {
    @include lcds-theme($lcds-theme--light) {
      @include modal-themable();
    }
  }

  .#{$action-modal-class} {
    @include lcds-theme($lcds-theme--light) {
      @include action-modal-themable();
    }
  }
}
