@use 'sass:math';
@use 'sass:map';
@use '../../Grid.module.scss' as grid;
@use '../../_grid-utils.scss' as grid-utils;

.column {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
  min-height: 1px;
}

.columnFixedWidth {
  flex: 0 0 var(--column-width);
  width: var(--column-width);
}

.columnMinWidth {
  min-width: var(--column-min-width);
}

.columnMaxWidth {
  max-width: var(--column-max-width);
}

@for $i from 1 through grid.$grid-columns {
  .columnSm#{$i} {
    @include grid.column-styles(
      math.percentage(math.div($i, grid.$grid-columns))
    );
  }
}

.columnSmAuto {
  flex: 1 1 auto;
  max-width: 100%;
}

// Generate column classes for other breakpoints
@each $breakpoint in map.keys(grid.$breakpoints) {
  @if $breakpoint != 'sm' {
    $min-width: map.get(grid.$breakpoints, $breakpoint);

    @include grid-utils.breakpoint($min-width) {
      @for $i from 1 through grid.$grid-columns {
        .column#{grid-utils.capitalize($breakpoint)}#{$i} {
          @include grid.column-styles(
            math.percentage(math.div($i, grid.$grid-columns))
          );
        }
      }

      .column#{grid-utils.capitalize($breakpoint)}Auto {
        flex: 1 1 auto;
        max-width: 100%;
      }
    }
  }
}
