$base-class: 'details-card';
$min-card-height: 72px;

.#{$base-class} {
  position: relative;
  background-color: var(--surface-primary-default);
  width: 100%;
  min-height: $min-card-height;
  color: var(--content-basic-primary);

  &:hover {
    .#{$base-class}__button--fading {
      opacity: 1;
    }
  }

  &--with-divider {
    border-bottom: 1px solid var(--border-basic-tertiary);
  }

  &__label-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    transition:
      opacity var(--transition-duration-fast-1) ease-out
        var(--transition-duration-moderate-1),
      padding 0s ease-out var(--transition-duration-moderate-1),
      max-height 0s ease-out;
    opacity: 1;
    border: 0;
    background-color: transparent;
    padding: 0;
    padding: var(--spacing-6);
    width: 100%;
    max-height: $min-card-height;
    overflow: hidden;
    color: var(--content-basic-primary);

    &--hide {
      transition:
        opacity var(--transition-duration-fast-1) ease-out,
        padding var(--transition-duration-fast-1) ease-out
          var(--transition-duration-fast-1),
        max-height 0s ease-out var(--transition-duration-fast-1);
      opacity: 0;
      padding: 0 var(--spacing-6);
      max-height: 0;
    }

    &--fading {
      position: absolute;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    overflow: hidden;

    &--with-margin {
      margin-right: 36px;
    }

    &__left-node,
    &__right-node {
      display: flex;
    }

    &__left-node {
      margin-right: var(--spacing-2);
    }

    &__right-node {
      margin-right: var(--spacing-2);
      margin-left: var(--spacing-2);
    }

    &__content {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__button {
    position: absolute;
    top: 18px;
    right: 16px;
    transition: all 0.2s ease;
    z-index: 1;

    &--fading {
      opacity: 0;
    }

    &--closed {
      opacity: 1;
    }

    &__icon {
      transition: all 0.2s ease;

      &--open {
        transform: rotate(90deg);
      }
    }
  }

  &__content-wrapper {
    transition:
      opacity var(--transition-duration-moderate-1) ease-out,
      max-height var(--transition-duration-fast-1) ease-out
        var(--transition-duration-moderate-1);
    opacity: 0;
    overflow: hidden;

    &--open {
      transition:
        max-height var(--transition-duration-fast-1) ease-out,
        opacity var(--transition-duration-moderate-1) ease-out
          var(--transition-duration-fast-1);
      opacity: 1;
    }
  }

  &__content {
    padding: 0 var(--spacing-6) var(--spacing-6);

    &--spacing {
      padding-top: var(--spacing-6);
    }

    &--full-space {
      padding: 0;
    }
  }
}
