.promo-card {
  margin-bottom: var(--spacing-1);
  font-weight: 700;
}

.promo-image {
  margin-bottom: var(--spacing-2);
  width: 48px;
}

.custom-label {
  display: flex;
  align-items: center;
  height: 72px;
}

.custom-label-avatar {
  margin-right: var(--spacing-4);
}

.custom-label-content {
  display: flex;
  flex-direction: column;
}

.custom-label-content-label-1 {
  margin: 0;
  text-align: left;
}
