@import "~@livechat/design-system-themes/dist/scss";

$base-class: "btn-group";

@mixin shared() {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;

  .btn {
    font-weight: 400;

    &:focus,
    &:active {
      z-index: 1;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

@mixin themable() {
  .btn {
    &.active {
      border-color: $border;
      background-color: $ui-hover;
      text-shadow: 0 0 0.5px $text-primary;

      &:hover {
        background-color: $ui-hover;
      }
    }

    &:hover {
      background-color: $ui;
    }
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    .btn {
      color: $text-primary; // TODO: Move to themable mixin when legacy theme is removed
    }

    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      .btn {
        color: $text-secondary;
      }

      @include themable();
    }
  }
}
