@import "../../scss/variables/colors";

.btn-group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;

  .btn {
    color: $ui-tooltip-color;
    font-weight: 400;

    &.active {
      border-color: $border-primary-color;
      background-color: $ui-background-color-hover;
      text-shadow: 0 0 0.5px black;

      &:hover {
        background-color: $ui-background-color-hover;
      }
    }

    &:hover {
      background-color: $ui-background-color;
    }

    &:focus, &:active {
      z-index: 1;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
