@import "../../scss/variables/colors";

.btn-group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;

  .btn {
    color: $ui-tooltip-color;
    font-weight: 400;
    box-shadow: none;
    
    &.active {
      border-color: $border-primary-color;
      background-color: $ui-background-color-hover;
      z-index: 1;

      &:hover {
        background-color: $ui-background-color-hover;
      }
    }

    &:hover {
      background-color: $ui-background-color;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
