@import '../../scss/variables/colors';

.badge {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  min-width: 16px;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;

  & + & {
    margin-left: 4px;
  }
}

.badge--primary {
  color: $badge-primary-color;
  background-color: $badge-primary-bg;
}

.badge--light {
  color: $badge-light-color;
  background-color: $badge-light-bg;
}
