{
  "env": {
    "es2021": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": [
          "packages/react-components/tsconfig.json"
        ]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "import", "unused-imports"],
  "rules": {
    "eslint-comments/no-unused-disable": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "prefer-const": "error",
    "@typescript-eslint/no-unsafe-member-access": "off", // TODO: enable when design-system-icons will have proper types
    "@typescript-eslint/no-unsafe-call": "warn",
    "@typescript-eslint/no-unsafe-assignment": "off", // TODO: enable when design-system-icons will have proper types
    "@typescript-eslint/no-unsafe-return": "warn",
    "@typescript-eslint/restrict-template-expressions": "warn",
    "@typescript-eslint/no-floating-promises": "off",
    "no-console": "error",
    "no-undef": "error",
    "no-useless-escape": "error",
    "no-param-reassign": "error",
    "no-nested-ternary": "error",
    "no-multi-assign": "error",
    "no-invalid-this": "error",
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": ["const", "let", "var", "block", "block-like", "expression"],
        "next": "return"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "import/no-unresolved": "error",
    "import/named": "off",
    "import/no-cycle": "error",
    "import/extensions": ["error", "never"],
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "./**.module.scss",
            "group": "sibling",
            "position": "after"
          }
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
