@use './styles/pin';
@use './styles/size';
@use './styles/strips';

$base-class: 'table';

.#{$base-class} {
  width: 100%;
  border-collapse: collapse;
  contain: paint;

  &--small {
    @include size.table-size(48px, 8px, 16px);
  }

  &--medium {
    @include size.table-size(56px, 12px, 16px);
  }

  &--large {
    @include size.table-size(64px, 14px, 16px);
  }

  &--pinned_header {
    @include pin.generatePin('header');

    &--selectable {
      thead {
        position: sticky;
        top: 0;
        transition: top 0.2s ease-in-out;
        z-index: 5;
        box-shadow: var(--shadow-fixed-bottom);
        background-color: var(--background-01);
      }

      &.#{$base-class}--has-selected thead {
        top: 48px;
      }
    }
  }

  &--pinned_leftColumn {
    @include pin.generatePin('leftColumn');
  }

  &__cell {
    text-align: start;
    line-height: 21px;
    font-size: 14px;
  }

  &__selected {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out,
      height 0.2s ease-in-out,
      margin 0.2s ease-in-out,
      padding 0.2s ease-in-out;
    opacity: 0;
    z-index: 5;
    margin: 0;
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    background-color: var(--surface-invert-primary);
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    font-weight: 500;

    &--visible {
      transform: translateY(0);
      opacity: 1;
      margin: 0;
      padding: var(--spacing-2) var(--spacing-2) var(--spacing-2)
        var(--spacing-4);
      width: 100%;
      height: 48px;
      overflow: visible;
    }

    &__divider {
      margin: 0 var(--spacing-4);
      background-color: var(--border-invert-secondary);
      width: 1px;
      height: 24px;
    }

    &__checkbox {
      display: flex;
    }

    &__content {
      display: flex;
      gap: var(--spacing-2);
      align-items: center;
      color: var(--content-invert-primary);
    }

    > p {
      margin: 0;
      font-weight: 500;
    }

    > div:first-child {
      display: flex;
      align-items: center;
      margin-right: var(--spacing-1);
    }
  }

  &--stripped_rows {
    @include strips.generateStrips('rows');
  }

  &--stripped_columns {
    @include strips.generateStrips('columns');
  }

  tbody {
    width: 100%;
  }

  td,
  th {
    text-align: left;
  }

  th > div {
    display: flex;
  }
}
