@use './styles/pin';
@use './styles/size';

$base-class: 'header';

.#{$base-class} {
  border-bottom: 1px solid var(--border-basic-tertiary);
  background-color: var(--background-01);
  height: var(--spacing-12);
  line-height: var(--spacing-5);
  color: var(--content-basic-secondary);
  font-size: 13px;
  user-select: none;

  th:hover {
    background-color: var(--surface-primary-hover);
  }

  &__cell {
    display: flex;
    position: relative;
    align-items: center;

    > span {
      margin-left: var(--spacing-1);
    }

    &--hoverDisabled {
      &:hover {
        background-color: var(--background-01) !important;
      }
    }
  }

  &__hiddenIcon {
    visibility: hidden;
  }

  &__resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-basic-secondary);
    cursor: col-resize;
    width: 2px;
    height: 100%;

    &:hover,
    &:active {
      background-color: var(--action-primary-default);
      height: 100vh;
    }
  }

  &__content {
    display: flex;
    position: relative;
    gap: var(--spacing-2);
  }

  &__select-cell {
    padding: var(--spacing-2) var(--spacing-4);
    width: 48px;
  }

  &--selectable {
    border-top: 1px solid var(--border-basic-tertiary);
  }

  td,
  th {
    text-align: left;
  }
}
