$base-class: 'row';
$table-class: 'table';

.#{$base-class} {
  border-bottom: 1px solid var(--border-basic-tertiary);
  background-color: var(--custom-table-bg, var(--background-01));

  &:not(.#{$table-class}__header):hover {
    background-color: var(--surface-primary-hover);
  }

  &__select-cell {
    width: 48px;
  }

  &__selected {
    background-color: var(--surface-secondary-active);
  }
}
