@use './styles/pin';
@use './styles/size';

$base-class: 'table';

.#{$base-class} {
  width: 100%;
  border-collapse: collapse;
  contain: paint;

  &--small {
    @include size.table-size(48px, 8px, 16px);
  }

  &--medium {
    @include size.table-size(56px, 12px, 16px);
  }

  &--large {
    @include size.table-size(64px, 14px, 16px);
  }

  &--pinned_header {
    @include pin.generatePin('header');
  }

  &__cell {
    text-align: start;
    line-height: 21px;
    font-size: 14px;
  }

  &__selected {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
    padding: var(--spacing-2);
    font-weight: 500;

    > p {
      margin: 0;
      font-weight: 500;
    }

    > div:first-child {
      display: flex;
      align-items: center;
      margin-right: var(--spacing-1);
    }
  }

  &--stripped {
    tbody tr:nth-child(odd) {
      background-color: var(--surface-secondary-default);

      &:hover {
        background-color: var(--surface-primary-disabled);
      }
    }
  }

  tbody {
    width: 100%;
  }

  td,
  th {
    text-align: left;
  }

  th > div {
    display: flex;
  }
}
