.listbox {
  margin: 0;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-pop-over);
  background-color: var(--picker-list-background);
  padding: var(--spacing-2);
  width: 100%;
  overflow: auto;
  text-align: center;
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;
  color-scheme: var(--color-scheme);
}

.listbox-wrapper {
  position: relative;
  outline: 0;
  width: 100%;
}
