@import '../../scss/variables/colors';

.tab {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  border: none;
  background: none;
  outline: none;
  color: $font-primary-color;
  cursor: pointer;
  transition: color 0.25s;
  margin: 0 8px 11px 8px;
  font-size: 14px;
  overflow: visible;

  &__description {
    display: inline-block;
    color: #8e949a;
    opacity: 0.6;
    padding-left: 3px;
    transition: color 0.25s;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: '';
    background-color: $primary-color;
    height: 0;
  }

  &--selected {
    font-weight: 700;
    color: $primary-color;

    .tab__description {
      color: $primary-color;
    }

    &::before {
      height: 4px;
      bottom: -12px;
    }
  }

  &:hover {
    color: $primary-color;
    text-decoration: none;

    .tab__description {
      color: $primary-color;
    }
  }
}

.tabs {
  position: relative;
  border-bottom: 1px solid $divider-color;

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 0 -8px;
  }
}
