@import '~@livechat/design-system-themes/dist/scss';

$base-class-single: 'tab';
$base-class-multiple: 'tabs';

@mixin single-themable() {
  color: $text-primary;

  &__description {
    color: $text-tertiary;
  }

  &::before {
    background-color: $primary;
  }

  &--selected {
    .tab__description {
      color: $text-tertiary;
    }
  }

  &:hover {
    color: $text-primary;

    .tab__description {
      color: $text-primary;
    }
  }
}

.#{$base-class-single} {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: color 0.25s;
  margin: 0 8px 11px 8px;
  font-size: 14px;
  overflow: visible;

  &__description {
    display: inline-block;
    opacity: 0.6;
    padding-left: 3px;
    transition: color 0.25s;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: '';
    height: 0;
  }

  &--selected {
    font-weight: 700;

    .tab__description {
      color: #8e949a;
    }

    &::before {
      height: 4px;
      bottom: -12px;
    }
  }

  &:hover {
    color: #000;
    text-decoration: none;

    .tab__description {
      color: #000;
    }
  }

  @include lcds-theme() {
    @include single-themable();
  }
}

@mixin multiple-themable() {
  border-bottom: 1px solid $divider;
}

.#{$base-class-multiple} {
  position: relative;

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 0 -8px;
  }

  @include lcds-theme() {
    @include multiple-themable();
  }
}

.theme--light {
  .#{$base-class-single} {
    @include lcds-theme($lcds-theme--light) {
      @include single-themable();
    }
  }

  .#{$base-class-multiple} {
    @include lcds-theme($lcds-theme--light) {
      @include multiple-themable();
    }
  }
}
