.lc-alert {
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;
  word-break: break-word;

  &__content-text {
    color: var(--content-default);
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &--small {
    max-width: 400px;

    .lc-alert__content {
      flex-direction: column;

      &-text {
        margin: 14px 0 0;
        max-width: 246px;
      }
    }
  }

  &--medium {
    max-width: 800px;

    .lc-alert__content {
      &-text {
        margin: 0 30px 0 16px;
        max-width: 640px;
      }
    }
  }

  &--large {
    .lc-alert__content {
      &-text {
        margin: 0 30px 0 16px;
        max-width: 720px;
      }
    }
  }

  &__close-icon {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 24px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
  }

  &--info {
    background-color: var(--surface-feedback-info);
    box-shadow: inset 0 3px 0 0 var(--color-action-default);
  }

  &--warning {
    background-color: var(--surface-feedback-warning);
    box-shadow: inset 0 3px 0 0 var(--color-warning-default);
  }

  &--success {
    background-color: var(--surface-feedback-positive);
    box-shadow: inset 0 3px 0 0 var(--color-positive-default);
  }

  &--error {
    background-color: var(--surface-feedback-negative);
    box-shadow: inset 0 3px 0 0 var(--color-negative-default);
  }

  &__icon {
    flex-shrink: 0;
  }
}
