.lc-card {
  background-color: #fff;
  border: solid 1px var(--border-default);
  border-radius: 4px;
  color: var(--content-default);
  font-size: 15px;
  line-height: 16px;
  margin-top: 8px;
  overflow: hidden;
  padding: 18px;

  &__title {
    align-items: center;
    display: flex;
    margin-bottom: 14px;
  }

  &__text {
    color: var(--content-default);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__img {
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    width: 24px;
  }
}
