.lc-icon {
  &--primary {
    color: var(--content-default);
  }

  &--subtle {
    color: var(--content-subtle);
  }

  &--inverted {
    color: var(--content-invert-default);
  }

  &--inverted-subtle {
    color: var(--content-invert-subtle);
  }

  &--link {
    color: var(--color-action-default);
  }

  &--success {
    color: var(--color-positive-default);
  }

  &--warning {
    color: var(--color-warning-default);
  }

  &--error {
    color: var(--color-negative-default);
  }

  &--disabled {
    &--primary {
      color: var(--content-disabled);
    }

    &--subtle {
      color: var(--content-disabled);
    }

    &--inverted {
      color: var(--content-disabled);
    }

    &--inverted-subtle {
      color: var(--content-disabled);
    }

    &--link {
      color: var(--color-action-disabled);
    }

    &--success {
      color: var(--color-positive-disabled);
    }

    &--warning {
      color: var(--color-warning-default);
    }

    &--error {
      color: var(--color-negative-disabled);
    }
  }
}
