.lc-icon {
  &--primary {
    color: var(--content-default);
  }

  &--subtle {
    color: var(--content-subtle);
  }

  &--inverted {
    color: var(--content-invert-default);
  }

  &--inverted-subtle {
    color: var(--content-invert-subtle);
  }

  &--link {
    color: var(--color-action-default);
  }

  &--success {
    color: var(--color-positive-default);
  }

  &--warning {
    color: var(--color-warning-default);
  }

  &--error {
    color: var(--color-negative-default);
  }

  &--disabled--primary {
    color: var(--content-disabled);
  }

  &--disabled--subtle {
    color: var(--content-disabled);
  }

  &--disabled--inverted {
    color: var(--content-disabled);
  }

  &--disabled--inverted-subtle {
    color: var(--content-disabled);
  }

  &--disabled--link {
    color: var(--color-action-disabled);
  }

  &--disabled--success {
    color: var(--color-positive-disabled);
  }

  &--disabled--warning {
    color: var(--color-warning-default);
  }

  &--disabled--error {
    color: var(--color-negative-disabled);
  }
}
