$base-class: 'progress';

.#{$base-class} {
  &-bar {
    background-color: var(--color-action-disabled);
    border-radius: 100px;
    display: inline-block;
    height: 4px;
    position: relative;
    width: 100%;

    &--small {
      height: 3px;
    }

    &--medium {
      height: 4px;
    }

    &--large {
      height: 6px;
    }

    &--error {
      background-color: var(--color-negative-disabled);
    }

    &--success {
      background-color: var(--color-positive-disabled);
    }

    &--normal {
      background-color: var(--color-action-disabled);
    }

    &__indicator--success {
      background-color: var(--color-positive-default);
      border-radius: 100px;
      height: 100%;
      position: relative;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }

    &__indicator--normal {
      background-color: var(--color-action-default);
      border-radius: 100px;
      height: 100%;
      position: relative;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }
  }

  &-circle {
    height: 36px;
    transform: rotate(-90deg);
    width: 36px;

    &--small {
      height: 15px;
      width: 15px;
    }

    &--medium {
      height: 36px;
      width: 36px;
    }

    &--large {
      height: 56px;
      width: 56px;
    }

    &__bg-line--normal {
      stroke: var(--color-action-disabled);
    }

    &__bg-line--success {
      stroke: var(--color-positive-disabled);
    }

    &__bg-line--error {
      stroke: var(--color-negative-disabled);
    }

    &__indicator--normal {
      stroke: var(--color-action-default);
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }

    &__indicator--success {
      stroke: var(--color-positive-default);
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }

    &__indicator--error {
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }

    &--error {
      .#{$base-class}-circle__bg-line {
        stroke: var(--color-negative-disabled);
      }
    }

    &--success {
      .#{$base-class}-circle__bg-line {
        stroke: var(--color-positive-disabled);
      }
    }

    &--normal {
      .#{$base-class}-circle__bg-line {
        stroke: var(--color-action-disabled);
      }
    }
  }
}
