@use '../typography/mixins';

$base-class: 'lc-radio-button';

.#{$base-class} {
  display: inline-block;

  &__label {
    align-items: flex-start;
    cursor: pointer;
    display: inline-flex;
    flex: 0 1 auto;
    width: 100%;
  }

  &__circle {
    background-color: var(--surface-basic-default);
    border: 1px solid var(--border-default);
    border-radius: 16px;
    box-sizing: border-box;
    height: 16px;
    margin-right: 8px;
    margin-top: 2px;
    position: relative;
    transition: all 0.2s ease;
    width: 16px;
  }

  &__inner-circle {
    background-color: var(--color-action-default);
    border-radius: 8px;
    height: 8px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transition: all 0.2s ease;
    width: 8px;
  }

  &__text {
    @include mixins.lc-paragraph-md;

    color: var(--content-default);
    flex: 1 0 auto;
  }

  &__input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    width: 100%;
  }

  .#{$base-class}__helper {
    cursor: default;
    margin-left: 24px;
  }

  &:focus {
    .#{$base-class}__circle {
      border-radius: 20px;
      box-shadow: 0 0 1px 1.6px rgba(67, 132, 245, 0.7); // TODO use color token
    }
  }

  &--selected {
    .#{$base-class}__circle {
      border-color: var(--color-action-default);
    }

    .#{$base-class}__inner-circle {
      opacity: 1;
    }
  }

  &--selected:hover {
    .#{$base-class}__circle {
      border-color: var(--color-action-hover);
    }

    .#{$base-class}__inner-circle {
      background-color: var(--color-action-hover);
    }
  }

  &--disabled {
    .#{$base-class}__circle {
      opacity: 0.4;
    }

    &:not(.#{$base-class}--selected) {
      .#{$base-class}__circle {
        background-color: var(--surface-basic-disabled);
      }
    }

    .#{$base-class}__label,
    .#{$base-class}__input,
    .#{$base-class}__text,
    .#{$base-class}__helper {
      color: var(--content-disabled);
      cursor: not-allowed;
    }
  }
}
