$base-class: 'lc-search';

.#{$base-class} {
  align-items: center;
  border: 1px solid var(--border-default);
  border-radius: 4px;
  color: var(--content-default);
  display: flex;
  padding: 5px 16px;
  transition: border 0.25s ease-in-out;
  width: 100%;

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 36px;
  }

  &--large {
    height: 42px;
  }

  &:hover {
    border-color: var(--border-hover);
  }

  &--focused,
  &--focused:hover {
    border-color: var(--color-action-default);
  }

  &--disabled,
  &--disabled:hover {
    background-color: var(--surface-basic-disabled);
    border-color: var(--border-disabled);
    color: var(--content-disabled);
  }

  &__search-icon {
    margin-right: 12px;
  }

  &__clear-icon:hover {
    cursor: pointer;
  }

  &__input {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    line-height: 22px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--content-disabled);
    }
  }
}
