$switch-transition-duration: 300ms;
$switch-transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

$base-class: 'switch';
$basic-height: 28px;
$basic-width: 44px;
$basic-size: $basic-height - 4px;
$basic-move: $basic-width - $basic-size;

$compact-height: 16px;
$compact-width: 25px;
$compact-size: $compact-height - 2px;
$compact-move: $compact-width - $compact-size;

/* stylelint-disable max-nesting-depth */
.#{$base-class} {
  display: inline-block;
  outline: none;
  position: relative;

  &:hover {
    .#{$base-class}__track {
      &--enabled {
        background-color: var(--color-positive-default);
      }

      &--disabled {
        background-color: var(--surface-secondary-default);
      }
    }
  }

  &--basic {
    height: $basic-height;
    width: $basic-width;
  }

  &--compact {
    height: $compact-height;
    width: $compact-width;
  }

  &__input {
    cursor: pointer;
    height: 100%;
    margin: 0;
    opacity: 0;
    width: 100%;
  }

  &__input:focus + .#{$base-class}__container {
    .#{$base-class}__track {
      box-shadow: 0 0 1px 2px var(--surface-secondary-hover);
    }
  }

  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__track {
    border-radius: 24px;
    flex: 1;
    height: 100%;
    transition-duration: $switch-transition-duration;
    transition-property: background-color;
    transition-timing-function: $switch-transition-timing-function;

    &--enabled {
      background-color: var(--color-positive-default);
    }

    &--disabled {
      background-color: var(--surface-secondary-default);
    }
  }

  &__slider {
    background: var(--background);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: $switch-transition-duration;
    transition-property: left, right;
    transition-timing-function: $switch-transition-timing-function;

    &--basic {
      height: calc(#{$basic-size});
      width: calc(#{$basic-size});

      &--enabled {
        left: calc(#{$basic-move} - 2px);
        right: 2px;
      }

      &--disabled {
        left: 2px;
        right: calc(#{$basic-move} - 2px);
      }
    }

    &--compact {
      height: calc(#{$compact-size});
      width: calc(#{$compact-size});

      &--enabled {
        left: calc(#{$compact-move} - 2px);
        right: 2px;
      }

      &--disabled {
        left: 2px;
        right: calc(#{$compact-move} - 2px);
      }
    }
  }
}
