.lc-tag-input {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid var(--border-default);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--content-default);
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 1.2;
  overflow-y: auto;
  padding: 8px 10px;
  transition: border 0.25s ease-in-out;
  width: 100%;
  will-change: border-color;

  &::placeholder {
    color: var(--content-disabled);
  }

  &:hover {
    border-color: var(--border-hover);
    outline: 0;
  }

  &:focus {
    border-color: var(--color-action-default);
    outline: 0;
  }

  &--error,
  &--error:focus {
    border-color: var(--color-negative-default);
  }

  &:disabled {
    color: var(--content-disabled);
    cursor: not-allowed;
  }

  * {
    box-sizing: border-box;
  }

  > * {
    margin: 2px;
  }

  @at-root #{&}__input {
    appearance: none;
    background: transparent;
    border-style: none;
    box-shadow: none;
    color: var(--content-default);
    flex-grow: 1;
    font-size: 15px;
    line-height: 1;
    margin: 0 4px;
    outline: 0;
    padding: 0 0 0 4px;
    width: auto;

    &:focus {
      border-style: none;
    }
  }

  @at-root #{&}__tag {
    align-items: center;
    background: var(--surface-secondary-default);
    border-radius: 4px;
    color: var(--content-default);
    display: flex;
    padding: 5px 8px 5px 12px;
    position: relative;

    &--error {
      background-color: var(--surface-feedback-negative);
      border: 1px dashed var(--color-negative-default);
      margin: 1px;
    }
  }

  @at-root #{&}__tag__content {
    border-style: none;
    outline: 0;
    padding: 0;
    white-space: nowrap;
  }

  @at-root #{&}__tag__remove {
    align-items: center;
    background-color: transparent;
    border-style: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 0 0 0 4px;

    .lc-icon {
      align-items: center;
      color: var(--content-subtle);
      display: flex;

      &:hover {
        color: var(--content-default);
      }
    }
  }
}
