$base-class: 'lc-tag';

.#{$base-class} {
  align-items: center;
  background-color: var(--surface-secondary-default);
  border-color: var(--border-default);
  border-radius: 4px;
  border-style: none;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--content-default);
  display: inline-flex;
  position: relative;

  /* TODO: Replace colors below with decor tokens when ready */
  &--success,
  &--success > .lc-icon {
    background-color: #d1f4d5;
    border-color: #005321;
    color: #005321;
  }

  &--error,
  &--error > .lc-icon {
    background-color: var(--surface-feedback-negative);
    border-color: var(--color-negative-active);
    color: var(--color-negative-active);
  }

  &--warning,
  &--warning > .lc-icon {
    background-color: #ffe9bc;
    border-color: #755b00;
    color: #755b00;
  }

  &--info,
  &--info > .lc-icon {
    background-color: var(--surface-feedback-info);
    border-color: var(--color-action-active);
    color: var(--color-action-active);
  }

  &--medium {
    padding: 1px 8px;
  }

  &--large {
    padding: 5px 12px;
  }

  &--outline {
    background-color: transparent;
    border-style: solid;

    &.#{$base-class}--medium {
      padding: 0 7px;
    }
    &.#{$base-class}--large {
      padding: 4px 11px;
    }

    .lc-icon {
      background-color: transparent;
    }
  }

  &--text-white {
    color: #fff;
  }

  &--text-black {
    color: #000;
  }

  &--with-icon {
    &.#{$base-class}--medium {
      padding-left: 4px;
    }
    &.#{$base-class}--large {
      padding-left: 6px;
    }
  }

  &--dismissible {
    &.#{$base-class}--medium {
      padding-right: 4px;
    }
    &.#{$base-class}--large {
      padding-right: 6px;
    }

    &.#{$base-class}--error {
      &.#{$base-class}--medium {
        padding-right: 1px;
      }
      &.#{$base-class}--large {
        padding-right: 5px;
      }
    }
  }

  &__icon {
    margin-right: 4px;
  }

  &__avatar {
    border-radius: 50%;
    height: 20px;
    margin-right: 4px;
    width: 20px;
  }

  &__remove {
    align-items: center;
    background-color: transparent;
    border-style: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 0 0 0 4px;

    .lc-icon {
      align-items: center;
      color: var(--content-subtle);
      display: flex;

      &:hover {
        color: var(--content-default);
      }
    }
  }
}
