$toast-appear-animation-timeout: 200ms;
$toast-exit-animation-timeout: 200ms;

.lc-toast {
  align-items: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 30px -10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 1 auto;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  justify-content: flex-start;
  letter-spacing: normal;
  line-height: 20px;
  max-width: 500px;
  min-width: 300px;
  padding: 10px 12px;

  &__content {
    color: var(--content-default);
    width: 100%;
  }

  &__icon,
  &__close {
    align-self: baseline;
    height: 20px;
    padding-right: 12px;
  }

  &__icon svg {
    display: flex;
    fill: var(--color-action-default);
    height: 20px;
    width: 20px;
  }

  &__actions {
    align-items: center;
    align-self: flex-start;
    display: inline-flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    height: 20px;
    margin-bottom: auto;
    margin-left: auto;

    &-close {
      align-items: center;
      display: flex;
      flex: 0 1 auto;
      height: 100%;
      margin-left: 16px;
      width: 100%;

      svg {
        cursor: pointer;
        display: flex;
        fill: var(--content-subtle);
        height: 16px;
        width: 16px;
      }
    }

    &-custom {
      background-color: transparent;
      border: 0;
      color: var(--content-default);
      cursor: pointer;
      font-weight: 600;
      line-height: 20px;
      margin-left: 16px;
      outline: 0;
      padding: 0;
      text-decoration: underline;
      white-space: nowrap;
    }
  }

  &--success {
    background: var(--color-positive-default);
  }

  &--warning {
    background: var(--color-warning-default);
  }

  &--error {
    background: var(--color-negative-default);
  }

  &--info {
    background: var(--color-action-default);
  }

  &--success,
  &--warning,
  &--error,
  &--info {
    .lc-toast__content,
    .lc-toast__actions-custom {
      color: #fff;
    }

    svg {
      fill: #fff;
    }
  }

  &-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 120;

    &--fixed {
      position: fixed;
    }

    &--block {
      position: static;
    }

    &--horizontal-center {
      left: calc(50%);
      transform: translateX(-50%);
    }

    &--horizontal-left {
      left: 5px;
    }

    &--horizontal-right {
      right: 5px;
    }

    &--vertical-top {
      top: 5px;

      .lc-toast {
        margin-bottom: 10px;
      }

      .lc-toast-appear--slide {
        transform: translateY(-100%) !important;

        &.lc-toast-appear-active--slide {
          transform: translateY(0) !important;
          transition: transform $toast-appear-animation-timeout ease-in;
        }
      }

      .lc-toast-exit--slide {
        transform: translateY(0) !important;

        &.lc-toast-exit-active--slide {
          transform: translateY(-100%) !important;
          transition: transform $toast-exit-animation-timeout ease-in;
        }
      }
    }

    &--vertical-bottom {
      bottom: 5px;

      .lc-toast {
        margin-top: 10px;
      }

      .lc-toast-appear--slide {
        transform: translateY(100%) !important;

        &.lc-toast-appear-active--slide {
          transform: translateY(0) !important;
          transition: transform $toast-appear-animation-timeout ease-in;
        }
      }

      .lc-toast-exit--slide {
        transform: translateY(0) !important;

        &.lc-toast-exit-active--slide {
          transform: translateY(100%) !important;
          transition: transform $toast-exit-animation-timeout ease-in;
        }
      }
    }

    &--vertical-top,
    &--vertical-bottom {
      .lc-toast-appear--fade {
        opacity: 0;

        &.lc-toast-appear-active--fade {
          opacity: 1;
          transition: opacity $toast-appear-animation-timeout ease-in;
        }
      }

      .lc-toast-exit--fade {
        opacity: 1;
        transition: opacity $toast-appear-animation-timeout ease-in;

        &.lc-toast-exit-active--fade {
          opacity: 0;
        }
      }
    }
  }
}
