$base-class: 'lc-tooltip';

.#{$base-class} {
  background-color: var(--surface-basic-default);
  border-color: var(--surface-basic-default);
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(66, 77, 87, 0.3);
  color: var(--content-default);
  max-width: 320px;
  padding: 12px;
  z-index: 999999999;

  &:focus {
    outline: none;
  }

  &--invert {
    background-color: var(--surface-invert-default);
    border-color: var(--surface-invert-default);
    color: var(--content-invert-default);
  }

  &--important {
    background-color: var(--color-warning-default);
    border-color: var(--color-warning-default);
    color: var(--content-default);
  }

  &__arrow {
    border-color: inherit;
    color: inherit;
    height: 6px;
    margin: -6px 0;
    position: absolute;
    width: 12px;

    &::after {
      border: 6px solid transparent;
      content: '';
      position: absolute;
      transform: rotate(-45deg);
    }

    &[data-popper-placement*='bottom'] {
      height: 0;
      top: 1px;

      &::after {
        border-right-color: inherit;
        border-top-color: inherit;
        box-shadow: 8px -6px 10px -2px rgba(66, 77, 87, 0.3);
      }
    }

    &[data-popper-placement*='top'] {
      top: 100%;

      &::after {
        border-bottom-color: inherit;
        border-left-color: inherit;
        box-shadow: -8px 8px 10px -2px rgba(66, 77, 87, 0.3);
      }
    }

    &[data-popper-placement*='right'] {
      left: 0;
      margin: -3px -6px;

      &::after {
        border-left-color: inherit;
        border-top-color: inherit;
        box-shadow: -5px -5px 10px -2px rgba(66, 77, 87, 0.3);
      }
    }

    &[data-popper-placement*='left'] {
      height: 12px;
      left: 100%;
      margin: 0 -6px;
      width: 6px;

      &::after {
        border-bottom-color: inherit;
        border-right-color: inherit;
        box-shadow: 6px 6px 10px -2px rgba(66, 77, 87, 0.3);
      }
    }
  }

  &-info-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &-info-image {
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
    max-height: 138px;
    max-width: 238px;
    width: 100%;
  }

  &-info-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 12px;
  }

  &-info-x {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-interactive-x {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }

  &-step {
    color: #677179;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
