@import '../../scss/variables/colors';

.form {
  &__header,
  &__footer {
    margin-bottom: 32px;
  }

  &__label {
    color: $font-primary-color;
    margin: 0;
  }

  &__helper {
    color: $font-secondary-color;
    margin: 0;
    margin-top: 16px;
    font-size: 15px;
    line-height: 24px;
  }
}
