@import "~@livechat/design-system-themes/dist/scss";

$base-class: "card";

@mixin shared() {
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin-top: 8px;
  padding: 18px;
  font-size: 15px;
  line-height: 16px;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 4px;
    display: inline-block;
  }
}

@mixin themable() {
  background-color: $ui-background;
  color: $text-primary;
  border-color: $divider;

  &__text {
    color: $text-primary;
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
