@import '../../scss/variables/colors';

$base-class: 'text-field';

.#{$base-class} {
  margin-bottom: 20px;

  &--inline {
    display: flex;
    flex-direction: row;
  }

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;

    label {
      margin-bottom: 0;
    }
  }

  &__label__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__label--inline {
    justify-content: center;
    align-items: center;
    height: 38px;
    margin-right: 10px;
  }

  &__label-adornment {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    line-height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__label-charsCounter {
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    color: $font-primary-color;
  }
}
