.textarea {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid var(--border-basic-primary);
  border-radius: 4px;
  background: var(--surface-primary-default);
  line-height: 22px;
  color: var(--content-basic-primary);
  font-size: 15px;
  font-weight: 400;

  &:hover {
    border-color: var(--border-basic-hover);
  }

  &--focused,
  &--focused:hover {
    border-color: var(--action-primary-default);
  }

  &--disabled,
  &--disabled:hover {
    border-color: var(--border-basic-disabled);
    background-color: var(--surface-primary-disabled);
    color: var(--content-basic-disabled);
  }

  &--error,
  &--error:hover {
    border-color: var(--border-basic-negative);
  }

  textarea {
    display: block;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: inherit;
    padding: 8px 12px;
    min-width: 125px;
    min-height: 32px;
    color: inherit;
  }
}
