@import '../../scss/variables/colors';

$base-class: 'form-group';

.#{$base-class} {
  border: none;
  margin: 0;
  padding: 0;
  min-width: auto;
  margin-bottom: 32px;

  &__header {
    margin-bottom: 16px;
  }

  &__helper {
    font-size: 15px;
    color: $font-secondary-color;
    line-height: 20px;
  }

  &__label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
    color: $font-primary-color;
    line-height: 20px;
  }
}
