@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'form-group';

@mixin themable() {
  &__helper {
    color: $text-secondary;
  }

  &__label {
    color: $text-primary;
  }
}

.#{$base-class} {
  border: none;
  margin: 0;
  padding: 0;
  min-width: auto;
  margin-bottom: 32px;

  &__header {
    margin-bottom: 16px;
  }

  &__helper {
    font-size: 15px;
    line-height: 20px;
  }

  &__label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
    line-height: 20px;
  }

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
