.input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid var(--border-basic-primary);
  border-radius: var(--radius-3);
  background: var(--surface-primary-default);
  padding: 5px 12px;
  line-height: 22px;
  color: var(--content-basic-primary);

  &::placeholder {
    color: var(--content-basic-disabled);
  }

  &:hover {
    border-color: var(--border-basic-hover);
  }

  &:focus {
    border-color: var(--action-primary-default);
  }

  &:disabled {
    border-color: var(--border-basic-disabled);
    background-color: var(--surface-primary-disabled);
    color: var(--content-basic-disabled);
  }

  &--focused,
  &--focused:hover {
    border-color: var(--action-primary-default);
  }

  &--disabled,
  &--disabled:hover {
    border-color: var(--border-basic-disabled);
    background-color: var(--surface-primary-disabled);
  }

  input {
    outline: none;
    border: 0;
    background: none;
    padding: 0;
    width: 100%;
    color: var(--content-basic-primary);
    font-size: inherit;

    &:disabled {
      color: var(--content-basic-disabled);
    }
  }

  &--crop {
    input {
      text-overflow: ellipsis;
    }
  }

  &--read-only {
    border-color: var(--border-basic-disabled);
    background-color: var(--surface-primary-disabled);
  }

  &--error,
  &--error:hover {
    border-color: var(--border-basic-negative);
  }

  &--xsmall {
    height: 24px;
  }

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 36px;
  }

  &--large {
    height: 44px;
  }

  &__icon {
    &--disabled {
      color: var(--content-basic-disabled);
    }

    &--left {
      margin-right: 8px;
    }

    &--right {
      margin-left: 8px;
    }
  }

  &__visibility-button {
    margin-left: 8px;
  }
}
