.input {
  align-items: center;
  background: var(--surface-basic-default);
  border: 1px solid var(--border-default);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--content-default);
  display: flex;
  font-size: 15px;
  line-height: 22px;
  outline: none;
  padding: 5px 12px;

  &:hover {
    border-color: var(--border-hover);
  }

  &--focused,
  &--focused:hover {
    border-color: var(--color-action-default);
  }

  &--disabled,
  &--disabled:hover {
    background-color: var(--surface-basic-disabled);
    border-color: var(--border-disabled);
  }

  input {
    background: none;
    border: 0;
    color: var(--content-default);
    outline: none;
    padding: 0;
    width: 100%;
  }

  &::placeholder {
    color: var(--content-disabled);
  }

  &::placeholder {
    color: var(--content-disabled);
  }

  &:focus {
    border-color: var(--color-action-default);
  }

  &:disabled {
    background-color: var(--surface-basic-disabled);
    border-color: var(--border-disabled);
    color: var(--content-disabled);
  }

  &--error,
  &--error:hover {
    border-color: var(--color-negative-default);
  }

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 36px;
  }

  &--large {
    height: 40px;
  }

  &__icon {
    margin-right: 9px;

    &--disabled {
      color: var(--content-disabled);
    }
  }
}
