$base-class: 'promo-banner';

.#{$base-class} {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-basic-secondary);
  border-radius: 4px;
  background-color: var(--surface-secondary-default);
  padding: var(--spacing-5);
  width: 100%;
  min-width: 180px;
  word-break: break-word;
  color: var(--content-basic-primary);
  font-size: 15px;

  b {
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: var(--spacing-2);
    font-size: 16px;
    font-weight: 600;
  }

  &__img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  &__button-text {
    margin-right: var(--spacing-6);
  }

  &--light {
    border: solid 1px var(--border-basic-tertiary);
    background-color: var(--surface-primary-default);
  }

  .#{$base-class}__img {
    margin-right: var(--spacing-5);
  }

  .#{$base-class}__wrapper {
    max-width: 640px;
  }

  .#{$base-class}__footer {
    display: flex;
    flex-shrink: 0;
    margin-top: var(--spacing-3);
  }

  &--small {
    flex-wrap: wrap;

    .#{$base-class}__content {
      flex-direction: column;
    }

    .#{$base-class}__img {
      margin-bottom: var(--spacing-3);
    }

    .#{$base-class}__footer {
      display: flex;
      margin-top: var(--spacing-3);
    }
  }

  &--large {
    .#{$base-class}__img {
      margin-right: var(--spacing-5);
    }

    .#{$base-class}__wrapper {
      min-width: 180px;
      max-width: 720px;
    }

    .#{$base-class}__footer {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      margin: 0 56px;
    }
  }

  &__close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
}
