@mixin default() {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
}

@mixin size($base-class, $padding-v, $padding-h) {
  padding: $padding-v calc($padding-h - 1px);

  &.#{$base-class}--icon-only {
    padding: 0;
  }
}
