@mixin tag-size($base-class, $padding-v, $padding-h, $height) {
  padding: $padding-v $padding-h;
  height: $height;

  &.#{$base-class}--icon-only {
    justify-content: center;
    padding: 0;
    width: $height;
  }
}
