@mixin heading-xl {
  line-height: 40px;
  letter-spacing: 0;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
}

@mixin heading-lg {
  line-height: 32px;
  letter-spacing: 0;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}

@mixin heading-md {
  line-height: 28px;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-sm {
  line-height: 24px;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

@mixin heading-xs {
  line-height: 24px;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

@mixin heading-uppercase {
  text-transform: uppercase;
}

@mixin paragraph-md {
  line-height: 22px;
  letter-spacing: -0.1px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

@mixin paragraph-sm {
  line-height: 20px;
  letter-spacing: -0.1px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

@mixin paragraph-xs {
  line-height: 16px;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

@mixin display-md {
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
}

@mixin display-sm {
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

@mixin display-max {
  line-height: 80px;
  font-size: 80px;
  font-weight: 700;
}

.heading-xl {
  @include heading-xl;
}

.heading-lg {
  @include heading-lg;
}

.heading-md {
  @include heading-md;
}

.heading-sm {
  @include heading-sm;
}

.heading-xs {
  @include heading-xs;
}

.heading-uppercase {
  @include heading-uppercase;
}

.paragraph-md {
  @include paragraph-md;
}

.paragraph-sm {
  @include paragraph-sm;
}

.paragraph-xs {
  @include paragraph-xs;
}

.paragraph {
  &--bold {
    font-weight: 600;
  }

  &--underline {
    text-decoration-line: underline;
  }

  &--strike {
    text-decoration-line: line-through;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.display-md {
  @include display-md;
}

.display-sm {
  @include display-sm;
}

.display-max {
  @include display-max;
}
