$base-class: 'sub-nav-bar';

.#{$base-class} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--spacing-5);
  align-items: flex-start;
  background-color: var(--navbar-background);
  padding: var(--spacing-3) var(--spacing-1) var(--spacing-1) var(--spacing-7);
  width: 296px;
  height: 100%;
  overflow: hidden;
  color: var(--content-basic-secondary);

  &__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 var(--spacing-3);
    height: 28px;

    &__title {
      color: var(--content-locked-white);
    }
  }

  &__nav-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    padding-right: var(--spacing-7);
    padding-bottom: var(--spacing-5);
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--action-neutral-hover) transparent;

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &--no-gaps {
      gap: 0;
    }
  }
}
