.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__heading-left-node {
    margin-right: 12px;
  }

  &__heading-body {
    display: flex;
    flex-direction: column;
  }

  &__heading-title {
    line-height: 24px;
    font-size: 18px;
  }

  &__heading-description {
    line-height: 20px;
    font-size: 14px;
  }
}
