$base-class: 'field-group';

.#{$base-class} {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin: -8px 0;

  & > * {
    padding: 8px 0;
  }

  &--inline {
    flex-direction: row;
    margin: 0 -8px;

    & > * {
      padding: 0 8px;
    }
  }

  &--stretched {
    & > * {
      width: 100%;
    }
  }
}
