@import '../../scss/variables/colors';

$toast-width: 360px;
$toast-appear-animation-timeout: 100ms;
$toast-exit-animation-timeout: 100ms;

$base-class: 'toast';

.#{$base-class} {
  display: flex;
  align-items: center;
  width: $toast-width;
  max-width: 90%;
  padding: 10px 5px 10px 12px;
  font-size: 15px;
  background: #ffffff;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  box-shadow: 0 6px 30px -10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  &__content {
    color: $font-primary-color;
  }

  &__icon, &__close {
    padding-right: 12px;
    align-self: baseline;
  }

  &__close {
    margin-left: auto;
    svg {
      display: flex;
      fill: $font-tertiary-color;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  &__icon svg {
    display: flex;
    fill: $primary-color;
    height: 20px;
    width: 20px;
  }

  &--success {
    background: $success-color;
  }

  &--warning {
    background: $warning-color;
  }

  &--error {
    background: $error-color;
  }

  &--info {
    background: $info-color;
  }

  &--success, &--warning, &--error, &--info {
    .#{$base-class}__content {
       color: #fff;
     }

    svg {
      fill: #fff;
    }
  }







  &.toast--fixed {
    position: fixed;
    z-index: 5318008;
  }

  &.toast--horizontal-left {
    left: 5px;
  }

  &.toast--horizontal-center {
    left: calc( 50% - (.5 * #{$toast-width}));
  }

  &.toast--horizontal-right {
    right: 5px;
  }

  &.toast--vertical-top {
    top: 5px;
  }

  &.toast--vertical-middle {
    top: 50%;
    transform: translateY(-50%);
  }

  &.toast--vertical-top, &.toast--vertical-middle {
    &.toast--animation-appear {
      transform: translateY(-100%) !important;
    }

    &.toast--animation-appear.toast--animation-appear-active {
      transform: translateY(0) !important;
      transition: transform $toast-appear-animation-timeout ease-in;
    }

    &.toast--animation-exit {
      transform: translateY(0) !important;
    }

    &.toast--animation-exit.toast--animation-exit-active {
      transform: translateY(-100%) !important;
      transition: transform $toast-exit-animation-timeout ease-in;
    }
  }

  &.toast--vertical-bottom {
    bottom: 5px;

    &.toast--animation-appear {
      transform: translateY(100%) !important;
    }

    &.toast--animation-appear.toast--animation-appear-active {
      transform: translateY(0) !important;
      transition: transform $toast-appear-animation-timeout ease-in;
    }

    &.toast--animation-exit {
      transform: translateY(0) !important;
    }

    &.toast--animation-exit.toast--animation-exit-active {
      transform: translateY(100%) !important;
      transition: transform $toast-exit-animation-timeout ease-in;
    }
  }


}