@import '../../scss/variables/colors';
@import '../../scss/variables/transitions';


$base-class: 'switch';
$basicHeight: 28px;
$basicWidth: 44px;
$basicSize: calc(#{$basicHeight} - 4px);

$compactHeight: 16px;
$compactWidth: 25px;
$compactSize: calc(#{$compactHeight} - 2px);

.#{$base-class} {
  border-radius: 34px;
  position: relative;
  cursor: pointer;
  transition: all 1000ms;
  &:before {
    position: absolute;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    transition-property: left, right;
    transition-duration: $switch-transition-duration;
    transition-timing-function: $switch-transition-timing-function;
  }
  &--basic {
    width: $basicWidth;
    height: $basicHeight;

    &:before {
      height: $basicSize;
      width: $basicSize;
      margin: 2px;

    }
    &--disabled {
      background-color: $field-background-color;
      &:before {
        left: 0;
        right: calc(#{$basicWidth} - #{$basicSize});
      }
    }
    &--enabled {
      background-color: $success-color;
      &:before {
        right: 0;
        left: calc(calc(#{$basicWidth} - #{$basicSize}) - 3px);
      }
    }
  }

  &--compact {
    width: $compactWidth;
    height: $compactHeight;
    &:before {
      height: $compactSize;
      width: $compactSize;
      margin: 1px;
    }
    &--disabled {
      background-color: #DDE2E5;
      &:before {
        left: 0;
        right: calc(100% - #{$compactSize});
      }
    }
    &--enabled {
      background-color: $success-color;
      &:before {
        right: 0;
        left: calc(calc(#{$compactWidth} - #{$compactSize}) - 2px);
      }
    }
  }
}
