@import '../../scss/variables/colors';
@import '../../scss/variables/transitions';


$base-class: 'switch';
$basicHeight: 28px;
$basicWidth: 44px;
$basicSize: calc(#{$basicHeight} - 2px);

$compactHeight: 16px;
$compactWidth: 25px;
$compactSize: calc(#{$compactHeight} - 2px);

.#{$base-class} {
  border-radius: 34px;
  position: relative;
  transition: all 1000ms;
  &:before {
    position: absolute;
    content: "";
    margin: 1px;
    background-color: #fff;
    border-radius: 50%;
    transition-property: left, right;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }
  &--basic {
    width: $basicWidth;
    height: $basicHeight;
    &:before {
      height: $basicSize;
      width: $basicSize;
    }
    &--disabled {
      background-color: #DDE2E5;
      &:before {
        left: 0;
        right: calc(#{$basicWidth} - #{$basicSize});
      }
    }
    &--enabled {
      background-color: $success-color;
      &:before {
        right: 0;
        left: calc(calc(#{$basicWidth} - #{$basicSize}) - 2px);
      }
    }
  }

  &--compact {
    width: $compactWidth;
    height: $compactHeight;
    &:before {
      height: $compactSize;
      width: $compactSize;
    }
    &--disabled {
      background-color: #DDE2E5;
      &:before {
        left: 0;
        right: calc(100% - #{$compactSize});
      }
    }
    &--enabled {
      background-color: $success-color;
      &:before {
        right: 0;
        left: calc(calc(#{$compactWidth} - #{$compactSize}) - 2px);
      }
    }
  }
}
