@import '../../scss/variables/colors';
@import '../../scss/variables/transitions';


$base-class: 'switch';
$basicSize: 18px;
$compactSize: 15px;

.#{$base-class} {
  border-radius: 34px;
  position: relative;
  transition: all 1000ms;
  &:before {
    position: absolute;
    content: "";
    margin: 1px;
    background-color: #fff;
    border-radius: 50%;
    transition-property: left, right;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }
  &--basic {
    width: 44px;
    height: 20px;
    &:before {
      height: $basicSize;
      width: $basicSize;
    }
    &--disabled {
      background-color: #DDE2E5;
      &:before {
        left: 0;
        right: calc(100% - #{$basicSize});
      }
    }
    &--enabled {
      background-color: $success-color;
      &:before {
        right: 0;
        left: calc(100% - calc(#{$basicSize} + 2px));
      }
    }
  }

  &--compact {
    width: 26px;
    height: 17px;
    &:before {
      height: $compactSize;
      width: $compactSize;
    }
    &--disabled {
      background-color: #DDE2E5;
      &:before {
        left: 0;
        right: calc(100% - #{$compactSize});
      }
    }
    &--enabled {
      background-color: $success-color;
      &:before {
        right: 0;
        left: calc(100% - calc(#{$compactSize} + 2px));
      }
    }
  }
}