.icons-showcase-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-self: stretch;
  justify-content: center;
  padding: var(--spacing-0);
}

.icon-showcase-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  border-radius: var(--radius-3);
  background: var(--surface-secondary-default);
  padding: var(--spacing-5) 8px var(--spacing-3) 8px;
  width: 88px;
  height: 88px;

  &:hover {
    cursor: pointer;
  }
}

.icon-showcase-card-label {
  text-align: center;
  line-height: normal;
  word-break: break-word;
  color: var(--content-basic-secondary);
  font-size: 8px;
  font-weight: 400;
  font-style: normal;
}
