$in-app-message-min-height: 400px;
$in-app-message-max-height: calc(100vh - 80px);
$in-app-message-min-width: 320px;
$in-app-message-max-width: 800px;
$in-app-breakpoint-text-only: 400px;
$in-app-content-max-width: 522px;
