.tag {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: 4px;
  border-color: var(--decor-gray800);
  background-color: var(--surface-secondary-subtle);
  color: var(--decor-gray800);

  /* TODO: Replace colors below with decor tokens when ready */
  &--success {
    border-color: var(--decor-green800);
    background-color: var(--decor-green100);
    color: var(--decor-green800);

    .tag__remove {
      color: var(--decor-green800);
    }
  }

  &--error {
    border-color: var(--decor-red800);
    background-color: var(--decor-red100);
    color: var(--decor-red800);

    .tag__remove {
      color: var(--decor-red800);
    }
  }

  &--warning {
    border-color: var(--decor-yellow800);
    background-color: var(--decor-yellow100);
    color: var(--decor-yellow800);

    .tag__remove {
      color: var(--decor-yellow800);
    }
  }

  &--info {
    border-color: var(--decor-blue800);
    background-color: var(--decor-blue100);
    color: var(--decor-blue800);

    .tag__remove {
      color: var(--decor-blue800);
    }
  }

  &--medium {
    padding: 1px 8px;
  }

  &--large {
    padding: 5px 12px;
  }

  &--outline {
    border-style: solid;
    background-color: transparent;

    &.tag--medium {
      padding: 0 7px;
    }

    &.tag--large {
      padding: 4px 11px;
    }

    .icon {
      background-color: transparent;
    }
  }

  &--text-white {
    color: #fff;
  }

  &--text-black {
    color: #000;
  }

  &--with-icon {
    &.tag--medium {
      padding-left: 4px;
    }

    &.tag--large {
      padding-left: 6px;
    }
  }

  &--dismissible {
    &.tag--medium {
      padding-right: 4px;
    }

    &.tag--large {
      padding-right: 6px;
    }
  }

  &__icon {
    margin-right: 4px;
  }

  &__avatar {
    margin-right: 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-style: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0 0 4px;
    color: var(--content-subtle);

    &:hover {
      color: var(--content-default);
    }
  }
}
