@use './styles/base';
@use './styles/size';
@use './styles/kind';
@use './styles/outline';
@use './styles/dismissible';

$base-class: 'tag';

.#{$base-class} {
  @include base.default($base-class);

  &--success {
    @include kind.tag-kind(
      $base-class,
      var(--border-basic-positive),
      var(--surface-accent-emphasis-low-positive),
      var(--content-basic-positive)
    );
  }

  &--error {
    @include kind.tag-kind(
      $base-class,
      var(--border-basic-negative),
      var(--surface-accent-emphasis-low-negative),
      var(--content-basic-negative)
    );
  }

  &--warning {
    @include kind.tag-kind(
      $base-class,
      var(--border-basic-warning),
      var(--surface-accent-emphasis-low-warning),
      var(--content-basic-warning)
    );
  }

  &--info {
    @include kind.tag-kind(
      $base-class,
      var(--border-basic-info),
      var(--surface-accent-emphasis-low-info),
      var(--content-basic-info)
    );
  }

  &--purple {
    @include kind.tag-kind(
      $base-class,
      var(--border-basic-purple),
      var(--surface-accent-emphasis-low-purple),
      var(--content-basic-purple)
    );
  }

  &--black {
    @include kind.tag-kind(
      $base-class,
      var(--content-basic-primary),
      var(--surface-invert-primary),
      var(--content-invert-primary)
    );

    &.#{$base-class}--outline {
      color: var(--content-basic-primary);

      .#{$base-class}__remove {
        color: var(--content-basic-primary);
      }
    }
  }

  &--gray {
    @include kind.tag-kind(
      $base-class,
      var(--content-basic-secondary),
      var(--surface-secondary-default),
      var(--content-basic-secondary)
    );

    &.#{$base-class}--outline {
      border-color: var(--border-basic-secondary);
    }
  }

  &--gradient01,
  &--gradient02,
  &--gradient03,
  &--gradient04,
  &--gradient05,
  &--gradient06,
  &--gradient07,
  &--gradient08,
  &--gradient09,
  &--gradient10,
  &--gradient11 {
    &.#{$base-class}--outline {
      border-width: 0;

      &.#{$base-class}--medium {
        padding: 0 var(--spacing-1);
      }
    }
  }

  &--gradient01 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-01),
      var(--content-locked-white)
    );
  }

  &--gradient02 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-02),
      var(--content-locked-white)
    );
  }

  &--gradient03 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-03),
      var(--content-locked-white)
    );
  }

  &--gradient04 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-04),
      var(--content-basic-primary)
    );
  }

  &--gradient05 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-05),
      var(--content-basic-primary)
    );
  }

  &--gradient06 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-06),
      var(--content-basic-primary)
    );
  }

  &--gradient07 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-07),
      var(--content-basic-primary)
    );
  }

  &--gradient08 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-08),
      var(--content-basic-primary)
    );
  }

  &--gradient09 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-09),
      var(--content-basic-primary)
    );
  }

  &--gradient10 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-10),
      var(--content-basic-primary)
    );
  }

  &--gradient11 {
    @include kind.tag-kind(
      $base-class,
      transparent,
      var(--surface-gradient-11),
      var(--content-basic-primary)
    );
  }

  &--small {
    @include size.tag-size($base-class, 1px, var(--spacing-1), 20px);
  }

  &--medium {
    @include size.tag-size($base-class, 1px, var(--spacing-1), 24px);
  }

  &--large {
    @include size.tag-size($base-class, 1px, var(--spacing-2), 32px);
  }

  &--xlarge {
    @include size.tag-size($base-class, 1px, var(--spacing-3), 36px);
  }

  &--outline {
    @include outline.default();

    &.#{$base-class}--small {
      @include outline.size($base-class, 0, var(--spacing-1));
    }

    &.#{$base-class}--medium {
      @include outline.size($base-class, 0, var(--spacing-1));
    }

    &.#{$base-class}--large {
      @include outline.size($base-class, 4px, var(--spacing-2));
    }

    &.#{$base-class}--xlarge {
      @include outline.size($base-class, 4px, var(--spacing-3));
    }
  }

  &--text-white {
    color: var(--color-white);
  }

  &--text-black {
    color: var(--color-black);
  }

  &--dismissible-on-hover {
    &:hover {
      &.#{$base-class}--small {
        @include dismissible.styles($base-class, 18px, var(--spacing-1));
      }

      &.#{$base-class}--medium {
        @include dismissible.styles($base-class, 22px, var(--spacing-1));
      }

      &.#{$base-class}--large {
        @include dismissible.styles($base-class, 22px, var(--spacing-2));
      }

      &.#{$base-class}--xlarge {
        @include dismissible.styles($base-class, 22px, var(--spacing-3));
      }

      .#{$base-class}__remove--hover {
        display: flex;
      }

      &.#{$base-class}--icon-only {
        .#{$base-class}__content-wrapper {
          opacity: 0;
        }

        .#{$base-class}__remove--hover {
          right: auto;
          left: auto;
        }
      }
    }

    .#{$base-class}__remove--hover {
      display: none;
      position: absolute;
      margin: 0;
    }
  }

  &__node {
    display: flex;
    align-items: center;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--spacing-1);
    outline: none;
    border-style: none;
    border-radius: var(--radius-3);
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: var(--content-basic-secondary);

    &:hover {
      background-color: var(--surface-primary-hover-opacity);
    }
  }

  &__content {
    margin-right: var(--spacing-1);
    margin-left: var(--spacing-1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
