.lc-dark-theme {
  --background: #131317;
  --surface-basic-default: #1b1b20;
  --surface-basic-subtle: #29292f;
  --surface-basic-hover: rgba(255, 255, 255, 0.1);
  --surface-basic-active: rgba(255, 255, 255, 0.2);
  --surface-basic-disabled: rgba(255, 255, 255, 0.04);
  --surface-secondary-default: #767680;
  --surface-secondary-subtle: #3b3b43;
  --surface-secondary-hover: #ababb1;
  --surface-secondary-disabled: #3b3b43;
  --surface-feedback-info: #323640;
  --surface-feedback-negative: #3a3136;
  --surface-feedback-warning: #3a362b;
  --surface-feedback-positive: #263532;
  --surface-invert-default: #eeeeef;
  --surface-invert-subtle: #c9c9cd;
  --surface-invert-disabled: #29292f;
  --surface-overlay: rgba(41, 41, 47, 0.7);
  --content-default: rgba(255, 255, 255, 0.8);
  --content-subtle: rgba(255, 255, 255, 0.6);
  --content-disabled: rgba(255, 255, 255, 0.4);
  --content-white-locked: #fff;
  --content-invert-default: #131317;
  --content-invert-subtle: rgba(19, 19, 23, 0.7);
  --content-invert-disabled: rgba(19, 19, 23, 0.3);
  --border-default: rgba(255, 255, 255, 0.8);
  --border-subtle: rgba(255, 255, 255, 0.1);
  --border-hover: #fff;
  --border-disabled: rgba(255, 255, 255, 0.5);
  --border-invert-default: rgba(19, 19, 23, 0.5);
  --border-invert-subtle: rgba(19, 19, 23, 0.1);
  --border-invert-hover: rgba(19, 19, 23, 0.7);
  --border-invert-disabled: rgba(19, 19, 23, 0.3);
  --color-action-active: #ebf5ff;
  --color-action-active-rgb: 235, 245, 255;
  --color-action-hover: #c2e0ff;
  --color-action-default: #9dceff;
  --color-action-disabled: rgba(157, 206, 255, 0.3);
  --color-negative-active: #ffe5e5;
  --color-negative-hover: #ffb7b7;
  --color-negative-default: #ff4c4d;
  --color-negative-disabled: rgba(255, 76, 77, 0.3);
  --color-warning-default: #fed65e;
  --color-warning-hover: #fedc89;
  --color-positive-default: #00c057;
  --color-positive-hover: #00e066;
  --color-positive-disabled: #4d735e;
  --color-filter: #06f;
  --color-bot: #50009c;
}
