.lc-light-theme {
  --background: #fff;
  --surface-basic-default: #fff;
  --surface-basic-subtle: #f6f6f7;
  --surface-basic-hover: #e2e2e4;
  --surface-basic-active: #c9c9cd;
  --surface-basic-disabled: #f6f6f7;
  --surface-secondary-default: #c9c9cd;
  --surface-secondary-subtle: #e4e8ec;
  --surface-secondary-hover: #ababb1;
  --surface-secondary-disabled: #eeeeef;
  --surface-feedback-info: #daedff;
  --surface-feedback-negative: #ffe5e5;
  --surface-feedback-warning: #fff2d6;
  --surface-feedback-positive: #e4f4ed;
  --surface-invert-default: #1b1b20;
  --surface-invert-subtle: #4e4e58;
  --surface-invert-disabled: #8d8d95;
  --surface-overlay: rgba(19, 19, 23, 0.7);
  --content-default: #1b1b20;
  --content-subtle: #4e4e58;
  --content-disabled: #8d8d95;
  --content-white-locked: #fff;
  --content-invert-default: #fff;
  --content-invert-subtle: rgba(255, 255, 255, 0.7);
  --content-invert-disabled: rgba(255, 255, 255, 0.5);
  --border-default: #c9c9cd;
  --border-subtle: #eeeeef;
  --border-hover: #ababb1;
  --border-disabled: #e2e2e4;
  --border-invert-default: rgba(255, 255, 255, 0.7);
  --border-invert-subtle: rgba(255, 255, 255, 0.3);
  --border-invert-hover: #fff;
  --border-invert-disabled: rgba(255, 255, 255, 0.5);
  --color-action-active: #003fa4;
  --color-action-active-rgb: 0, 63, 164;
  --color-action-hover: #004bc2;
  --color-action-default: #06f;
  --color-action-disabled: #9dceff;
  --color-negative-active: #930002;
  --color-negative-hover: #ae0003;
  --color-negative-default: #ca0005;
  --color-negative-disabled: #eba3a3;
  --color-warning-default: #e8bb00;
  --color-warning-hover: #c9a100;
  --color-positive-default: #00893c;
  --color-positive-hover: #006329;
  --color-positive-disabled: #d1f4d5;
  --color-filter: #003288;
  --color-bot: #50009c;
}
