:root,
.lc-legacy-theme {
  --background: #fff;
  --surface-basic-default: #fff;
  --surface-basic-subtle: #f1f6f8;
  --surface-basic-hover: #e0e8eb;
  --surface-basic-active: #dae4eb;
  --surface-basic-disabled: #eaedf0;
  --surface-secondary-default: #bdc7d1;
  --surface-secondary-subtle: #e4e8ec;
  --surface-secondary-hover: #a0a6ab;
  --surface-secondary-disabled: #dee3e8;
  --surface-feedback-info: #e5f3ff;
  --surface-feedback-negative: #fbeaed;
  --surface-feedback-warning: #fff8e0;
  --surface-feedback-positive: #e6f4ec;
  --surface-invert-default: #424d57;
  --surface-invert-subtle: #677179;
  --surface-invert-disabled: #a0a6ab;
  --surface-overlay: rgba(0, 0, 0, 0.7);
  --content-default: #424d57;
  --content-subtle: #677179;
  --content-disabled: #a0a6ab;
  --content-white-locked: #fff;
  --content-invert-default: #fff;
  --content-invert-subtle: rgba(255, 255, 255, 0.7);
  --content-invert-disabled: rgba(255, 255, 255, 0.5);
  --border-default: #bdc7d1;
  --border-subtle: #e4e8ec;
  --border-hover: #a0a6ab;
  --border-disabled: #dee3e8;
  --border-invert-default: rgba(255, 255, 255, 0.7);
  --border-invert-subtle: rgba(255, 255, 255, 0.3);
  --border-invert-hover: #fff;
  --border-invert-disabled: rgba(255, 255, 255, 0.5);
  --color-action-active: #295fbc;
  --color-action-hover: #4379d6;
  --color-action-default: #4284f5;
  --color-action-default-rgb: 66, 132, 245;
  --color-action-disabled: #a3c3fa;
  --color-negative-active: #94383a;
  --color-negative-hover: #b94648;
  --color-negative-default: #d74747;
  --color-negative-disabled: #eba3a3;
  --color-warning-default: #fbbd04;
  --color-warning-hover: #f99a01;
  --color-positive-default: #22aa61;
  --color-positive-hover: #0d874a;
  --color-positive-disabled: #90d5c4;
  --color-bot: #6b5aba;
  --color-black: #424d57;
  --color-white: #fff;
  --blue900: #003288;
  --blue800: #003fa4;
  --blue700: #004bc2;
  --blue600: #0059e1;
  --blue500: #06f;
  --blue400: #328dff;
  --blue300: #68afff;
  --blue200: #9dceff;
  --blue100: #daedff;
  --blue50: #f4faff;
  --orange900: #6c1d00;
  --orange800: #842600;
  --orange700: #9c2e00;
  --orange600: #b43700;
  --orange500: #d54300;
  --orange400: #ff5100;
  --orange300: #ff8a77;
  --orange200: #ffb8af;
  --orange100: #ffe5e3;
  --orange50: #fff8f7;
  --yellow900: #493700;
  --yellow800: #755b00;
  --yellow700: #c9a100;
  --yellow600: #e8bb00;
  --yellow500: #f3c600;
  --yellow400: #d1aa00;
  --yellow300: #fed65e;
  --yellow200: #fedc89;
  --yellow100: #fff2d6;
  --yellow50: #fff9ed;
  --gray950: #131317;
  --gray900: #1b1b20;
  --gray800: #29292f;
  --gray700: #3b3b43;
  --gray600: #4e4e58;
  --gray500: #62626d;
  --gray400: #767680;
  --gray300: #8d8d95;
  --gray200: #ababb1;
  --gray150: #c9c9cd;
  --gray100: #c9c9cd;
  --gray75: #eeeeef;
  --gray50: #e2e2e4;
  --gray40: #eeeeef;
  --gray20: #fcfcfc;
  --green900: #00431a;
  --green800: #005321;
  --green700: #006329;
  --green600: #007331;
  --green500: #00893c;
  --green400: #00a449;
  --green300: #00c057;
  --green200: #7edd92;
  --green100: #e4f4ed;
  --green50: #f3fcf4;
  --red900: #790002;
  --red800: #930002;
  --red700: #ae0003;
  --red600: #ca0005;
  --red500: #ee0007;
  --red400: #ff4c4d;
  --red300: #ff8889;
  --red200: #ffb7b7;
  --red100: #ffe5e5;
  --red50: #fff8f8;
  --purple900: #50009c;
  --purple800: #6100bd;
  --purple700: #7400df;
  --purple600: #8609ff;
  --purple500: #9146ff;
  --purple400: #a372ff;
  --purple300: #b99aff;
  --purple200: #d1c0ff;
  --purple100: #eee8ff;
  --purple50: #faf8ff;
}
