.lc-light-theme {
  --background: #fff;
  --surface-basic-default: #fff;
  --surface-basic-subtle: #f6f6f7;
  --surface-basic-hover: #e2e2e4;
  --surface-basic-active: #c9c9cd;
  --surface-basic-disabled: #f6f6f7;
  --surface-secondary-default: #c9c9cd;
  --surface-secondary-subtle: #e4e8ec;
  --surface-secondary-hover: #ababb1;
  --surface-secondary-disabled: #eeeeef;
  --surface-feedback-info: #daedff;
  --surface-feedback-negative: #ffe5e5;
  --surface-feedback-warning: #fff2d6;
  --surface-feedback-positive: #e4f4ed;
  --surface-invert-default: #1b1b20;
  --surface-invert-subtle: #4e4e58;
  --surface-invert-disabled: #8d8d95;
  --surface-overlay: rgba(19, 19, 23, 0.7);
  --content-default: #131317;
  --content-subtle: #62626D;
  --content-disabled: #8d8d95;
  --content-white-locked: #fff;
  --content-invert-default: #fff;
  --content-invert-subtle: rgba(255, 255, 255, 0.7);
  --content-invert-disabled: rgba(255, 255, 255, 0.5);
  --border-default: #c9c9cd;
  --border-subtle: #eeeeef;
  --border-hover: #ababb1;
  --border-disabled: #e2e2e4;
  --border-invert-default: rgba(255, 255, 255, 0.7);
  --border-invert-subtle: rgba(255, 255, 255, 0.3);
  --border-invert-hover: #fff;
  --border-invert-disabled: rgba(255, 255, 255, 0.5);
  --color-action-active: #003fa4;
  --color-action-hover: #004bc2;
  --color-action-default: #06f;
  --color-action-default-rgb: 0, 102, 255;
  --color-action-disabled: #9dceff;
  --color-negative-active: #930002;
  --color-negative-hover: #ae0003;
  --color-negative-default: #ca0005;
  --color-negative-disabled: #eba3a3;
  --color-warning-default: #e8bb00;
  --color-warning-hover: #c9a100;
  --color-positive-default: #00893c;
  --color-positive-hover: #006329;
  --color-positive-disabled: #d1f4d5;
  --color-bot: #50009c;
  --color-black: #131317;
  --color-white: #fff;
  --decor-blue900: #003288;
  --decor-blue800: #003fa4;
  --decor-blue700: #004bc2;
  --decor-blue600: #0059e1;
  --decor-blue500: #06f;
  --decor-blue400: #328dff;
  --decor-blue300: #68afff;
  --decor-blue200: #9dceff;
  --decor-blue100: #daedff;
  --decor-blue50: #f4faff;
  --decor-orange900: #6c1d00;
  --decor-orange800: #842600;
  --decor-orange700: #9c2e00;
  --decor-orange600: #b43700;
  --decor-orange500: #d54300;
  --decor-orange400: #ff5100;
  --decor-orange300: #ff8a77;
  --decor-orange200: #ffb8af;
  --decor-orange100: #ffe5e3;
  --decor-orange50: #fff8f7;
  --decor-yellow900: #493700;
  --decor-yellow800: #755b00;
  --decor-yellow700: #c9a100;
  --decor-yellow600: #e8bb00;
  --decor-yellow500: #f3c600;
  --decor-yellow400: #d1aa00;
  --decor-yellow300: #fed65e;
  --decor-yellow200: #fedc89;
  --decor-yellow100: #fff2d6;
  --decor-yellow50: #fff9ed;
  --decor-gray950: #131317;
  --decor-gray900: #1b1b20;
  --decor-gray800: #29292f;
  --decor-gray700: #3b3b43;
  --decor-gray600: #4e4e58;
  --decor-gray500: #62626d;
  --decor-gray400: #767680;
  --decor-gray300: #8d8d95;
  --decor-gray200: #ababb1;
  --decor-gray150: #c9c9cd;
  --decor-gray100: #c9c9cd;
  --decor-gray75: #eeeeef;
  --decor-gray50: #e2e2e4;
  --decor-gray40: #eeeeef;
  --decor-gray20: #fcfcfc;
  --decor-green900: #00431a;
  --decor-green800: #005321;
  --decor-green700: #006329;
  --decor-green600: #007331;
  --decor-green500: #00893c;
  --decor-green400: #00a449;
  --decor-green300: #00c057;
  --decor-green200: #7edd92;
  --decor-green100: #e4f4ed;
  --decor-green50: #f3fcf4;
  --decor-red900: #790002;
  --decor-red800: #930002;
  --decor-red700: #ae0003;
  --decor-red600: #ca0005;
  --decor-red500: #ee0007;
  --decor-red400: #ff4c4d;
  --decor-red300: #ff8889;
  --decor-red200: #ffb7b7;
  --decor-red100: #ffe5e5;
  --decor-red50: #fff8f8;
  --decor-purple900: #50009c;
  --decor-purple800: #6100bd;
  --decor-purple700: #7400df;
  --decor-purple600: #8609ff;
  --decor-purple500: #9146ff;
  --decor-purple400: #a372ff;
  --decor-purple300: #b99aff;
  --decor-purple200: #d1c0ff;
  --decor-purple100: #eee8ff;
  --decor-purple50: #faf8ff;
}
