.lc-light-theme {
  --background: #fff;
  --surface-basic-default: #fff;
  --surface-basic-subtle: #f6f6f7;
  --surface-basic-hover: #e2e2e4;
  --surface-basic-active: #c9c9cd;
  --surface-basic-disabled: #f6f6f7;
  --surface-secondary-default: #c9c9cd;
  --surface-secondary-subtle: #e4e8ec;
  --surface-secondary-hover: #ababb1;
  --surface-secondary-disabled: #eeeeef;
  --surface-feedback-info: #daedff;
  --surface-feedback-negative: #ffe5e5;
  --surface-feedback-warning: #fff2d6;
  --surface-feedback-positive: #e4f4ed;
  --surface-invert-default: #1b1b20;
  --surface-invert-subtle: #4e4e58;
  --surface-invert-disabled: #8d8d95;
  --surface-overlay: rgba(19, 19, 23, 0.7);
  --content-default: #1b1b20;
  --content-subtle: #4e4e58;
  --content-disabled: #8d8d95;
  --content-white-locked: #fff;
  --content-invert-default: #fff;
  --content-invert-subtle: rgba(255, 255, 255, 0.7);
  --content-invert-disabled: rgba(255, 255, 255, 0.5);
  --border-default: #c9c9cd;
  --border-subtle: #eeeeef;
  --border-hover: #ababb1;
  --border-disabled: #e2e2e4;
  --border-invert-default: rgba(255, 255, 255, 0.7);
  --border-invert-subtle: rgba(255, 255, 255, 0.3);
  --border-invert-hover: #fff;
  --border-invert-disabled: rgba(255, 255, 255, 0.5);
  --color-action-active: #003fa4;
  --color-action-hover: #004bc2;
  --color-action-default: #06f;
  --color-action-default-rgb: 0, 102, 255;
  --color-action-disabled: #9dceff;
  --color-negative-active: #930002;
  --color-negative-hover: #ae0003;
  --color-negative-default: #ca0005;
  --color-negative-disabled: #eba3a3;
  --color-warning-default: #e8bb00;
  --color-warning-hover: #c9a100;
  --color-positive-default: #00893c;
  --color-positive-hover: #006329;
  --color-positive-disabled: #d1f4d5;
  --color-filter: #003288;
  --color-bot: #50009c;
  --blue900: #003288;
  --blue800: #003fa4;
  --blue700: #004bc2;
  --blue600: #0059e1;
  --blue500: #06f;
  --blue400: #328dff;
  --blue300: #68afff;
  --blue200: #9dceff;
  --blue100: #daedff;
  --blue50: #f4faff;
  --orange900: #6c1d00;
  --orange800: #842600;
  --orange700: #9c2e00;
  --orange600: #b43700;
  --orange500: #d54300;
  --orange400: #ff5100;
  --orange300: #ff8a77;
  --orange200: #ffb8af;
  --orange100: #ffe5e3;
  --orange50: #fff8f7;
  --yellow900: #493700;
  --yellow800: #755b00;
  --yellow700: #c9a100;
  --yellow600: #e8bb00;
  --yellow500: #f3c600;
  --yellow400: #d1aa00;
  --yellow300: #fed65e;
  --yellow200: #fedc89;
  --yellow100: #fff2d6;
  --yellow50: #fff9ed;
  --gray950: #131317;
  --gray900: #1b1b20;
  --gray800: #29292f;
  --gray700: #3b3b43;
  --gray600: #4e4e58;
  --gray500: #62626d;
  --gray400: #767680;
  --gray300: #8d8d95;
  --gray200: #ababb1;
  --gray150: #c9c9cd;
  --gray100: #c9c9cd;
  --gray75: #eeeeef;
  --gray50: #e2e2e4;
  --gray40: #eeeeef;
  --gray20: #fcfcfc;
  --green900: #00431a;
  --green800: #005321;
  --green700: #006329;
  --green600: #007331;
  --green500: #00893c;
  --green400: #00a449;
  --green300: #00c057;
  --green200: #7edd92;
  --green100: #e4f4ed;
  --green50: #f3fcf4;
  --red900: #790002;
  --red800: #930002;
  --red700: #ae0003;
  --red600: #ca0005;
  --red500: #ee0007;
  --red400: #ff4c4d;
  --red300: #ff8889;
  --red200: #ffb7b7;
  --red100: #ffe5e5;
  --red50: #fff8f8;
  --purple900: #50009c;
  --purple800: #6100bd;
  --purple700: #7400df;
  --purple600: #8609ff;
  --purple500: #9146ff;
  --purple400: #a372ff;
  --purple300: #b99aff;
  --purple200: #d1c0ff;
  --purple100: #eee8ff;
  --purple50: #faf8ff;
}
