@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'divider';

@mixin shared() {
  height: 1px;
  width: 100%;
  margin: 8px 0;
}

@mixin themable() {
  background-color: $divider;
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
