.progress-circle {
  transform: rotate(-90deg);
  width: 36px;
  height: 36px;

  &--small {
    width: 16px;
    height: 16px;
  }

  &--medium {
    width: 36px;
    height: 36px;
  }

  &--large {
    width: 56px;
    height: 56px;
  }

  &__bg-line--normal {
    stroke: var(--surface-secondary-default);
  }

  &__bg-line--success {
    stroke: var(--color-positive-disabled);
  }

  &__bg-line--error {
    stroke: var(--color-negative-disabled);
  }

  &__indicator--normal {
    stroke: var(--color-action-default);
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
  }

  &__indicator--success {
    stroke: var(--color-positive-default);
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
  }

  &__indicator--error {
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
  }

  &--error {
    .progress-circle__bg-line {
      stroke: var(--color-negative-disabled);
    }
  }

  &--success {
    .progress-circle__bg-line {
      stroke: var(--color-positive-disabled);
    }
  }

  &--normal {
    .progress-circle__bg-line {
      stroke: var(--color-action-disabled);
    }
  }
}
