.progress-bar {
  display: inline-block;
  position: relative;
  border-radius: 100px;
  background-color: var(--color-action-disabled);
  width: 100%;
  height: 4px;

  &--small {
    height: 3px;
  }

  &--medium {
    height: 4px;
  }

  &--large {
    height: 6px;
  }

  &--error {
    background-color: var(--color-negative-disabled);
  }

  &--success {
    background-color: var(--color-positive-disabled);
  }

  &--normal {
    background-color: var(--surface-tertiary-default);
  }

  &__indicator--success {
    position: relative;
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    border-radius: 100px;
    background-color: var(--color-positive-default);
    height: 100%;
  }

  &__indicator--normal {
    position: relative;
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    border-radius: 100px;
    background-color: var(--color-action-default);
    height: 100%;
  }
}
