.segmented-control {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid var(--border-basic-tertiary);
  border-radius: 4px;
  padding: 3px;
  vertical-align: middle;

  .btn {
    border-color: transparent;

    &--active {
      background-color: var(--surface-primary-active);
    }

    &--compact {
      height: 24px;
    }

    &--medium {
      height: 28px;
    }

    &--large {
      height: 34px;
    }
  }

  .btn + .btn {
    margin-left: 2px;
  }
}
