.segmented-control {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid var(--border-basic-secondary);
  border-radius: var(--radius-3);
  background-color: var(--surface-primary-default);
  padding: 3px;
  vertical-align: middle;

  .btn {
    border-radius: var(--radius-2);
    border-color: transparent;

    &--active {
      background-color: var(--surface-primary-active);
      color: var(--content-basic-primary);
    }

    &--compact {
      height: 24px;
    }

    &--medium {
      height: 28px;
    }

    &--large {
      height: 36px;
    }
  }

  .btn + .btn {
    margin-left: 5px;
  }
}
