.tab {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  transition: color 0.25s;
  margin: 0 8px;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0 12px 1px;
  overflow: visible;
  color: var(--content-default);

  &::before {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-action-default);
    height: 0;
    content: '';
  }

  &:hover {
    text-decoration: none;
    color: var(--color-action-default);

    .tab__count {
      color: var(--color-action-default);
    }
  }

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 40px;
  }

  &--large {
    height: 48px;
  }

  &__count {
    display: inline-block;
    transition: color 0.25s;
    padding-left: 3px;
    color: var(--content-subtle);
  }

  &__badge {
    margin-left: 4px;
  }

  &--selected {
    color: var(--color-action-default);

    &::before {
      height: 3px;
    }

    .tab__count {
      color: var(--color-action-default);
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: var(--content-disabled);

    &:hover {
      color: var(--content-disabled);

      .tab__count {
        color: var(--content-disabled);
      }
    }

    .tab__count {
      color: var(--content-disabled);
    }
  }
}
