$base-class: 'navigation-item';

.#{$base-class} {
  display: flex;
  position: relative;
  cursor: pointer;

  &--disabled {
    cursor: not-allowed;
  }

  &__badge {
    position: absolute;
    top: 1px;
    right: 2px;
    pointer-events: none;
  }

  &__button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-duration-fast-1) ease-in-out;
    opacity: 0.6;
    border-radius: var(--radius-3);
    width: 42px;
    height: 42px;
    color: var(--content-basic-primary);

    &:hover:not(.#{$base-class}__button--disabled) {
      opacity: 1;
      background-color: var(--surface-opacity-basic-hover);
      color: var(--content-basic-primary);

      span {
        transform: scale(1);
      }
    }

    &:focus-visible:not(.#{$base-class}__button--disabled) {
      opacity: 1;
      outline: 0;
      box-shadow: var(--focus-ring-inner);

      span {
        transform: scale(1);
      }
    }

    &--disabled {
      opacity: 0.3;
    }

    span {
      transform: scale(0.9);
      transition: all var(--transition-duration-fast-1) ease-in-out;
      width: 24px;
      height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &--active {
      opacity: 1;
      background-color: var(--surface-opacity-basic-active);
    }

    &--opacity {
      opacity: 1;
    }

    &--mobile {
      flex-direction: column;
      width: 56px;
      height: 48px;
      font-size: 10px;
    }
  }
}
