@use 'sass:math';
@use 'sass:map';
@use 'sass:string';
@use './_grid-utils.scss' as grid-utils;

$breakpoints: (
  sm: 320px,
  md: 672px,
  lg: 1024px,
  xlg: 1312px,
  max: 1584px,
);

// TODO should be adjusted
$default-spacings: (
  sm: 8px,
  md: 16px,
  lg: 24px,
  xlg: 32px,
  max: 32px,
);

$grid-columns: 12;

@mixin column-styles($width) {
  flex: 0 0 $width;
  max-width: $width;
}

.grid {
  container-type: inline-size;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  // Add default CSS custom properties for each breakpoint
  @each $breakpoint, $spacing in $default-spacings {
    --grid-spacing-#{$breakpoint}: #{$spacing};
  }

  gap: var(--grid-gutter, var(--grid-spacing-sm));
  width: 100%;

  // Alignment styles
  &.align-start {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-around {
    justify-content: space-around;
  }
}

// Generate column classes for each breakpoint
@each $breakpoint in map.keys($breakpoints) {
  @container (min-width: map.get($breakpoints, $breakpoint)) {
    @for $i from 1 through $grid-columns {
      .column#{grid-utils.capitalize($breakpoint)}#{$i} {
        @include column-styles(
          calc(
            100% * $i / $grid-columns - ($grid-columns - $i) *
              (var(--grid-gutter, 1px) / $grid-columns)
          )
        );
      }
    }

    .column#{grid-utils.capitalize($breakpoint)}Auto {
      flex: 1 1 auto;
      max-width: 100%;
    }
  }
}
