$switch-transition-duration: 300ms;
$switch-transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

$base-class: 'switch';
$radius: 24px;
$large-height: 24px;
$large-width: 44px;
$large-size: $large-height - 4px;
$large-move: $large-width - $large-size;

$compact-height: 16px;
$compact-width: 32px;
$compact-size: $compact-height - 4px;
$compact-move: $compact-width - $compact-size;

$medium-height: 20px;
$medium-width: 36px;
$medium-size: $medium-height - 4px;
$medium-move: $medium-width - $medium-size;

/* stylelint-disable max-nesting-depth */
.#{$base-class} {
  display: inline-block;
  position: relative;
  outline: none;

  &:hover {
    $hovered-track: #{$base-class}__track;

    .#{$hovered-track}--enabled.#{$hovered-track}--on {
      background-color: var(--action-positive-hover);
    }

    .#{$hovered-track}--enabled.#{$hovered-track}--off {
      background-color: var(--action-neutral-hover);
    }
  }

  &--large {
    width: $large-width;
    height: $large-height;
  }

  &--compact {
    width: $compact-width;
    height: $compact-height;
  }

  &--medium {
    width: $medium-width;
    height: $medium-height;
  }

  &__input {
    opacity: 0;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__input:focus + .#{$base-class}__container {
    .#{$base-class}__track {
      box-shadow: 0 0 1px 2px rgb(var(--color-action-default-rgb) 0.7);
    }
  }

  &__container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &--focused {
      border-radius: $radius;
      box-shadow: var(--shadow-focus);
    }
  }

  &__track {
    flex: 1;
    transition-duration: $switch-transition-duration;
    transition-property: background-color;
    transition-timing-function: $switch-transition-timing-function;
    border-radius: $radius;
    height: 100%;

    &--on#{&}--enabled {
      background-color: var(--action-positive-default);
    }

    &--on#{&}--disabled {
      background-color: var(--action-positive-disabled);
    }

    &--off#{&}--enabled {
      background-color: var(--action-neutral-default);
    }

    &--off#{&}--disabled {
      background-color: var(--surface-tertiary-disabled);
    }
  }

  &__slider {
    display: flex;
    position: absolute;
    top: 50%;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition-duration: $switch-transition-duration;
    transition-property: left, right;
    transition-timing-function: $switch-transition-timing-function;
    border-radius: 50%;
    background: var(--content-locked-white);

    &--large {
      width: calc(#{$large-size});
      height: calc(#{$large-size});

      &--on {
        right: 3px;
        left: calc(#{$large-move} - 3px);
      }

      &--off {
        right: calc(#{$large-move} - 3px);
        left: 3px;
      }
    }

    &--compact {
      width: calc(#{$compact-size});
      height: calc(#{$compact-size});

      &--on {
        right: 2px;
        left: calc(#{$compact-move} - 2px);
      }

      &--off {
        right: calc(#{$compact-move} - 2px);
        left: 2px;
      }
    }

    &--medium {
      width: calc(#{$medium-size});
      height: calc(#{$medium-size});

      &--on {
        right: 3px;
        left: calc(#{$medium-move} - 3px);
      }

      &--off {
        right: calc(#{$medium-move} - 3px);
        left: 3px;
      }
    }

    &--disabled {
      background: var(--content-locked-disabled);
    }
  }

  &__loader {
    width: 100%;
    height: 100%;

    &--compact {
      padding: 1.5px;
    }

    &--medium {
      padding: 2px;
    }

    &--large {
      padding: 3px;
    }

    > div {
      width: 100%;
      height: 100%;
    }

    div:last-child {
      border-width: 2px;
    }
  }

  &__icon {
    color: var(--content-locked-black);
  }
}
