$switch-transition-duration: 300ms;
$switch-transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

$base-class: 'switch';
$large-height: 24px;
$large-width: 44px;
$large-size: $large-height - 4px;
$large-move: $large-width - $large-size;

$compact-height: 16px;
$compact-width: 32px;
$compact-size: $compact-height - 2px;
$compact-move: $compact-width - $compact-size;

$medium-height: 20px;
$medium-width: 36px;
$medium-size: $medium-height - 4px;
$medium-move: $medium-width - $medium-size;

/* stylelint-disable max-nesting-depth */
.#{$base-class} {
  display: inline-block;
  outline: none;
  position: relative;

  &:hover {
    $hovered-track: #{$base-class}__track;

    .#{$hovered-track}--enabled.#{$hovered-track}--on {
      background-color: var(--color-positive-hover);
    }

    .#{$hovered-track}--enabled.#{$hovered-track}--off {
      background-color: var(--surface-secondary-hover);
    }
  }

  &--large {
    height: $large-height;
    width: $large-width;
  }

  &--compact {
    height: $compact-height;
    width: $compact-width;
  }

  &--medium {
    height: $medium-height;
    width: $medium-width;
  }

  &__input {
    cursor: pointer;
    height: 100%;
    margin: 0;
    opacity: 0;
    width: 100%;

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__input:focus + .#{$base-class}__container {
    .#{$base-class}__track {
      box-shadow: 0 0 1px 2px rgba(var(--color-action-default-rgb), 0.7);
    }
  }

  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__track {
    border-radius: 24px;
    flex: 1;
    height: 100%;
    transition-duration: $switch-transition-duration;
    transition-property: background-color;
    transition-timing-function: $switch-transition-timing-function;

    &--on#{&}--enabled {
      background-color: var(--color-positive-default);
    }

    &--on#{&}--disabled {
      background-color: var(--color-positive-disabled);
    }

    &--off#{&}--enabled {
      background-color: var(--surface-secondary-default);
    }

    &--off#{&}--disabled {
      background-color: var(--surface-secondary-disabled);
    }
  }

  &__slider {
    align-items: center;
    background: var(--content-white-locked);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: $switch-transition-duration;
    transition-property: left, right;
    transition-timing-function: $switch-transition-timing-function;

    &--large {
      height: calc(#{$large-size});
      width: calc(#{$large-size});

      &--on {
        left: calc(#{$large-move} - 3px);
        right: 3px;
      }

      &--off {
        left: 3px;
        right: calc(#{$large-move} - 3px);
      }
    }

    &--compact {
      height: calc(#{$compact-size});
      width: calc(#{$compact-size});

      &--on {
        left: calc(#{$compact-move} - 2px);
        right: 2px;
      }

      &--off {
        left: 2px;
        right: calc(#{$compact-move} - 2px);
      }
    }

    &--medium {
      height: calc(#{$medium-size});
      width: calc(#{$medium-size});

      &--on {
        left: calc(#{$medium-move} - 3px);
        right: 3px;
      }

      &--off {
        left: 3px;
        right: calc(#{$medium-move} - 3px);
      }
    }
  }

  &__loader {
    height: 100%;
    width: 100%;

    > div {
      height: 100%;
      width: 100%;
    }
  }
}
