.thumbnail-custom-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--border-default);
  border-radius: var(--radius-1);
  background-color: var(--surface-basic-subtle);
  padding: var(--spacing-2);
  color: var(--content-subtle);
  font-size: 12px;
}

.gallery-custom-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--border-default);
  border-radius: var(--radius-1);
  background-color: var(--surface-basic-subtle);
  padding: var(--spacing-2);
  width: 100px;
  height: 100px;
  text-align: center;
  color: var(--content-subtle);
  font-size: 12px;
}
