$base-class: 'selectable-card';

.#{$base-class} {
  display: flex;
  position: relative;
  transition:
    border-color var(--transition-duration-fast-2) ease-in-out,
    box-shadow var(--transition-duration-fast-2) ease-in-out;
  border: 1px solid var(--border-basic-secondary);
  border-radius: var(--radius-3);
  box-shadow: 0;
  background: var(--surface-primary-default);
  width: max-content;

  &:hover {
    border-color: var(--border-basic-hover);
    box-shadow: var(--shadow-float);
    cursor: pointer;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: var(--shadow-focus);
  }

  &--thumbnail {
    padding: var(--spacing-3) var(--spacing-5);

    .#{$base-class}__select-indicator {
      margin-right: var(--spacing-2);
    }
  }

  &--gallery {
    padding: var(--spacing-5);

    .#{$base-class}__select-indicator {
      position: absolute;
      top: 9px;
      left: 12px;
    }
  }

  &--interactive {
    border-radius: var(--radius-4);
    padding: var(--spacing-8);

    .#{$base-class}__select-indicator {
      position: absolute;
      top: 13px;
      left: 16px;
    }
  }

  &--selected,
  &--selected:hover {
    border-color: var(--action-primary-default);
    box-shadow: var(--shadow-float);
  }

  &__select-indicator {
    display: flex;
    align-items: center;
    height: 21px;

    &__checkbox {
      height: 16px;
    }
  }
}
