.base-custom-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--border-basic-primary);
  border-radius: var(--radius-1);
  background-color: var(--surface-secondary-default);
  color: var(--content-basic-secondary);
}

.thumbnail-custom-element {
  padding: var(--spacing-2);
  font-size: 12px;
}

.gallery-custom-element {
  padding: var(--spacing-2);
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 12px;
}

.interactive-heading {
  margin: 0 0 var(--spacing-2);
}

.interactive-text {
  margin: 0;
}

.interactive-custom-element {
  padding: var(--spacing-8);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
}
