@mixin generatePin($type) {
  @if $type == 'header' {
    thead {
      position: sticky;
      top: 0;
      z-index: 5;
      box-shadow: 0 12px 12px -7px #1313172e;
    }
  }

 @else {
    @warn "Invalid pinned value: #{$type}. Supported value is 'header'.";
  }
}
