@mixin generatePin($type) {
  @if $type == 'header' {
    thead {
      position: sticky;
      top: 0;
      z-index: 5;
      box-shadow: var(--shadow-fixed-bottom);
    }
  } @else {
    @warn "Invalid pinned value: #{$type}. Supported value is 'header'.";
  }
}
