@import '../../utils/StackingContextLevel';
$base-class: 'product-switcher';

.#{$base-class} {
  gap: 16px;
  z-index: $stacking-context-level-popover;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-pop-over);
  background-color: var(--popover-background);
  padding: var(--spacing-3);
  width: 270px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-05);
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: var(--spacing-1);
  }

  &__footer-link {
    display: inline-flex;
    flex-direction: row;
    gap: var(--spacing-1);
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-2);
    padding: 0 var(--spacing-2);
    height: 19px;
    text-decoration: none;
    color: var(--content-basic-secondary);

    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: 0;
      box-shadow: var(--focus-ring-inner);
    }
  }

  &__tooltip {
    z-index: initial;
  }
}
