@import '../../utils/StackingContextLevel';
$base-class: 'product-switcher';

.#{$base-class} {
  gap: 16px;
  z-index: $stacking-context-level-popover;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-pop-over);
  background-color: var(--popover-background);
  padding: var(--spacing-3);
  width: 270px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 4px;
  }

  &__footer-link {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    height: 19px;
    text-decoration: none;
    color: var(--content-basic-secondary);
  }

  &__tooltip {
    z-index: 999;
  }
}
