@use '../../Grid.module.scss' as grid;

.wrapper {
  width: 100%;
  min-height: 200px;
}

.gridOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.gridContainer {
  display: flex;
  height: 100%;

  @each $breakpoint, $gutter in grid.$default-gutters {
    --grid-gutter-#{$breakpoint}: #{$gutter};
  }

  @each $breakpoint, $margin in grid.$default-margins {
    --grid-margin-#{$breakpoint}: #{$margin};
  }
}

.gridColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(100 93 93 / 5%);
}

.gridColumnInner {
  flex: 1;
  border-right: 1px dashed rgb(100 93 93 / 20%);
  border-left: 1px dashed rgb(100 93 93 / 20%);
  width: 100%;
}

.gridInfo {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1000;
  border-radius: var(--radius-2);
  background: rgb(0 0 0 / 80%);
  padding: var(--spacing-2) var(--spacing-4);
  color: var(--content-locked-white);
}
