.form-group {
  margin: 0 0 32px;
  border-style: none;
  padding: 0;
  min-width: auto;

  &__header {
    margin-bottom: 16px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    color: var(--content-basic-primary);
  }

  &__helper {
    color: var(--content-basic-secondary);
  }
}
