@import '~@livechat/design-system-themes/dist/scss';

$base-class: "btn";

@mixin shared() {
  border-width: 1px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  display: inline-flex;
  line-height: 1.5;
  position: relative;
  padding: 6px 16px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  min-width: 36px;
  min-height: 36px;
  transition-property: opacity, border, color, background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  user-select: none;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--disabled {
    opacity: 0.65;
  }

  &--full-width {
    width: 100%;
  }

  &--large {
    font-size: 15px;
    padding: 9px 24px;
    min-width: 42px;
    min-height: 42px;
  }

  &--compact {
    font-size: 15px;
    padding: 4px 16px;
    min-width: 32px;
    min-height: 32px;
  }

  &--loading {
    transition: all 0.2s cubic-bezier(0.64, 0, 0.35, 1);
  }

  .btn__loader {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  &__icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 1;
    margin-right: 5px;

    svg {
      box-sizing: border-box;
      height: inherit;
      width: inherit;
      fill: currentColor;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
    }
  }
}

@mixin themable() {
  background-color: $basic;
  color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $basic-hover;
  }

  &:focus {
    box-shadow: 0 0 1px 2px rgba($primary, 0.7);
  }

  &:active {
    box-shadow: 0 0 0 1px $border;
    transition-duration: 100ms;
  }

  &--primary {
    background-color: $primary;
    color: $ui-background;
    border-color: $primary;

    &:hover {
      background-color: $primary-hover;
    }

    &:active {
      box-shadow: 0 0 0 1px $primary;
    }
  }

  &--secondary {
    color: $text-primary;
    border-color: $border;
  }

  &--destructive {
    background-color: $danger;
    color: $ui-background;
    border-color: $danger;

    &:hover {
      background-color: $danger-hover;
    }

    &:active {
      box-shadow: 0 0 0 1px $danger;
    }
  }

  &--loading {
    background-color: $basic-disabled;
    color: transparent;

    &.btn--secondary {
      border-color: $border;
    }

    &.btn--destructive {
      background-color: $danger-disabled;
    }

    &.btn--primary {
      background-color: $primary-disabled;
    }

    &.btn--destructive,
    &.btn--primary {
      border-color: transparent;
    }
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
