@import '../../scss/variables/colors';

.popper-tooltip {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  border-radius: 4px;
  padding: 12px;
  max-width: 260px;
  box-sizing: border-box;
  background-color: $ui-tooltip-color;
  border-color: $ui-tooltip-color;
  color: #fff;
  line-height: 18px;
  display: block;
  text-align: left;
  transition-property: opacity, visibility;

  &:focus {
    outline: none;
  }

  &-enter {
    opacity: 0;
    visibility: hidden;
  }

  &-enter-active {
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
  }

  &-exit {
    opacity: 1;
    visibility: visible;
  }

  &-exit-active {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
  }

  &__list {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;

    &:focus {
      outline: none;
    }
  }

  &__arrow {
    position: absolute;
    height: 6px;
    margin: -6px 0;
    width: 12px;
    border-color: inherit;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      border: 6px solid transparent;
      transform: rotate(-45deg);
    }

    &[data-placement*='top'] {
      top: 100%;
      margin: -6px 0;

      &::after {
        border-bottom-color: inherit;
        border-left-color: inherit;
      }
    }

    &[data-placement*='bottom'] {
      bottom: 100%;
      margin: 0 0;

      &::after {
        border-top-color: inherit;
        border-right-color: inherit;
      }
    }

    &[data-placement*='right'] {
      right: 100%;
      height: 12px;
      margin: -6px 0;
      width: 6px;

      &::after {
        border-top-color: inherit;
        border-left-color: inherit;
      }
    }

    &[data-placement*='left'] {
      left: 100%;
      height: 12px;
      margin: -6px -6px;
      width: 6px;

      &::after {
        border-bottom-color: inherit;
        border-right-color: inherit;
      }
    }
  }
}

.css-tooltip {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  max-width: 260px;
  background-color: $ui-tooltip-color;
  border-color: $ui-tooltip-color;
  color: #fff;
  line-height: 18px;
  display: block;
  position: absolute;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, 0.2s ease-in-out opacity, 0.2s z-index ease-in-out;

  &--visible {
    z-index: initial;
    transition: visibility 0.2s linear, 0.2s ease-in-out opacity, 0.2s z-index ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  &[data-placement*='bottom'] {
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-placement*='bottom-start'] {
    left: 0;
    transform: translateX(0);
  }

  &[data-placement*='bottom-end'] {
    right: 0;
    transform: translateX(0);
    left: initial;
  }

  &[data-placement*='top'] {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 8px));
  }

  &[data-placement*='top-start'] {
    left: 0;
    transform: translate(0, calc(-100% - 8px));
  }

  &[data-placement*='top-end'] {
    right: 0;
    left: auto;
    transform: translate(0, calc(-100% - 8px));
  }

  &[data-placement*='right'] {
    left: 100%;
    top: 50%;
    transform: translate(8px, -50%);
  }

  &[data-placement*='right-start'] {
    transform: translate(8px, 0);
    top: 0;
  }

  &[data-placement*='right-end'] {
    transform: translate(8px, 0);
    top: auto;
    bottom: 0;
  }

  &[data-placement*='left'] {
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 8px), -50%);
  }

  &[data-placement*='left-start'] {
    top: 0;
    transform: translate(calc(-100% - 8px), 0);
  }

  &[data-placement*='left-end'] {
    top: auto;
    bottom: 0;
    transform: translate(calc(-100% - 8px), 0);
  }

  &__arrow {
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;

    &[data-placement*='top'] {
      border-top-color: inherit;
      top: 100%;
      left: calc(50% - 8px);
    }

    &[data-placement*='top-start'] {
      left: 8px;
    }

    &[data-placement*='top-end'] {
      left: initial;
      right: 8px;
    }

    &[data-placement*='bottom'] {
      border-bottom-color: inherit;
      top: -16px;
      left: calc(50% - 8px);
    }

    &[data-placement*='bottom-start'] {
      left: 8px;
    }

    &[data-placement*='bottom-end'] {
      left: initial;
      right: 8px;
    }

    &[data-placement*='right'] {
      border-right-color: inherit;
      top: calc(50% - 8px);
      right: 100%;
    }

    &[data-placement*='right-start'] {
      top: 8px;
    }

    &[data-placement*='right-end'] {
      top: initial;
      bottom: 8px;
    }

    &[data-placement*='left'] {
      border-left-color: inherit;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
    }

    &[data-placement*='left-start'] {
      top: 8px;
      transform: translateY(0);
    }

    &[data-placement*='left-end'] {
      top: auto;
      transform: translateY(0);
      bottom: 8px;
    }
  }
}
