@import './variables/InAppMessage';

$base-class: 'in-app-message-image';

.#{$base-class} {
  text-align: center;

  @include inapp-media-text {
    display: none;
  }

  @include inapp-media-mobile-horizontal {
    display: none;
  }

  img {
    max-height: 400px;
    max-width: 100%;
  }
}
