@import './variables/InAppMessage';

$base-class: 'in-app-message';

.#{$base-class} {
  background-color: var(--surface-basic-default);
  border-radius: 4px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.3);
  color: var(--content-default);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px 0;
  max-height: $in-app-message-max-height;
  max-width: $in-app-message-max-width;
  min-height: $in-app-message-min-height;
  min-width: $in-app-message-min-width;
  overflow: auto;
  position: relative;

  &__overlay {
    align-items: center;
    background-color: var(--surface-overlay);
    display: none;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 13000;
  }

  &__container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-height: $in-app-message-max-height;
    max-width: $in-app-message-max-width;
    min-height: $in-app-message-min-height;
    min-width: $in-app-message-min-width;
    padding: 0 10px;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;

    &__body {
      align-items: center;
      box-sizing: border-box !important;
      color: var(--content-default);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: $in-app-message-max-width;
      padding: 32px;
      position: relative;
      text-align: center;
      width: 100%;

      * {
        box-sizing: border-box;
        margin: 12px 0;
        max-width: $in-app-content-max-width;

        &:first-child {
          margin: 0 0 12px;
        }

        &:last-child {
          margin: 12px 0 0;
        }
      }

      p {
        text-align: justify;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        max-width: $in-app-message-max-width;
      }
    }
  }

  &__with-footer {
    padding-bottom: 96px;
  }
}
