@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'numeric-input';

@mixin increment-border($color) {
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent $color transparent;
}

@mixin decrement-border($color) {
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: $color transparent transparent transparent;
}

@mixin shared() {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 36px;

  input {
    line-height: 36px;
    height: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 0 28px 0 4px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    -moz-appearance: textfield;
    background-clip: padding-box;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:hover {
      outline: 0;
    }

    &:focus {
      outline: 0;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__increment,
  &__decrement {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    height: 50%;
    width: 23px;
    border-left-width: 1px;
    border-left-style: solid;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 0;
    }

    &::after {
      position: absolute;
      top: calc(50% - 3px);
      left: calc(50% - 4px);
      content: '';
    }
  }

  &__increment {
    &:disabled {
      cursor: not-allowed;

      &::after,
      &:hover::after {
        opacity: 0.5;
      }
    }
  }

  &__decrement {
    top: auto;
    bottom: 1px;
    border-top-width: 1px;
    border-top-style: solid;

    &:disabled {
      cursor: not-allowed;

      &::after,
      &:hover::after {
        opacity: 0.5;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--no-controls {
    input {
      padding: 0 4px;
    }
  }
}

@mixin themable() {
  input {
    border-color: $border;
    color: $text-secondary;

    &:hover {
      border-color: $border-hover;
    }

    &:focus {
      border-color: $primary;
    }

    &:disabled {
      color: $text-primary;
    }
  }

  &__increment,
  &__decrement {
    border-left-color: $border;
    background: transparent;

    &::after {
      @include increment-border($text-secondary);
    }
  }

  &__increment {
    &:hover {
      &::after {
        @include increment-border($text-primary);
      }
    }

    &:disabled {
      &::after,
      &:hover::after {
        @include increment-border($text-secondary);
      }
    }
  }

  &__decrement {
    border-top-color: $border;

    &::after {
      @include decrement-border($text-secondary);
    }

    &:hover {
      &::after {
        @include decrement-border($text-primary);
      }
    }

    &:disabled {
      &::after,
      &:hover::after {
        @include decrement-border($text-secondary);
      }
    }
  }

  &--disabled {
    color: $text-primary;
  }

  &--error {
    input,
    input:focus {
      border-color: $danger;
    }
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
