.input {
  &--radius-0 {
    border-radius: var(--radius-0);
  }

  &--radius-1 {
    border-radius: var(--radius-1);
  }

  &--radius-2 {
    border-radius: var(--radius-2);
  }

  &--radius-3 {
    border-radius: var(--radius-3);
  }
}
