.field-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -8px 0;

  > * {
    padding: 0 0 8px;
  }

  &--inline {
    flex-direction: row;
    margin: 0 -8px;

    > * {
      padding: 0 8px;
    }
  }

  &--stretched {
    > * {
      width: 100%;
    }
  }
}
