.lc-listElement {
    align-items: center;
    color: var(--content-default);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    padding: 10px;
}

.lc-listElement:hover {
    background-color: var(--surface-basic-hover);
}

.lc-divider {
    border-bottom: 1px solid var(--border-default);
}

.lc-label {
    line-height: 20px;
    margin-left: 5px;
}