.lc-tooltip-info-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
}

.lc-tooltip-info-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.lc-tooltip-info-x {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}