$base-class: 'upload-bar';

.#{$base-class} {
  box-sizing: border-box;
  border: solid 1px var(--border-deault);
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  background-color: var(--surface-default);
  padding: 10px;
  width: 100%;
  overflow: hidden;
  color: var(--content-default);

  &--error {
    color: var(--color-negative-default);
  }

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 15px;

      &__icon {
        margin-right: 12px;
      }

      &__title {
        justify-self: flex-start;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        white-space: nowrap;
        font-size: 14px;
      }

      &__collapse-button {
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        margin: 0;
        margin-left: 8px;
        border: 0;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        padding: 4px;
        color: var(--content-default);
      }

      &__actions-container {
        display: flex;
        align-items: center;
        height: 28px;
      }
    }
  }

  &__files {
    box-sizing: border-box;
    display: flex;
    max-height: 200px;

    &--enter {
      max-height: 0;
    }

    &--enter-active {
      transition: max-height 300ms cubic-bezier(0.14, 0, 0, 1);
      max-height: 200px;
    }

    &--exit {
      max-height: 200px;
    }

    &--exit-active,
    &--exit-done {
      transition: max-height 300ms cubic-bezier(0.14, 0, 0, 1);
      max-height: 0;
    }

    &-wrapper {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding-top: 16px;
      width: 100%;
      max-height: inherit;
    }

    &__list {
      padding-right: 20px;
      height: 100%;
      overflow-y: auto;

      > div:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
