.icon {
  display: flex;
  align-items: center;

  svg {
    pointer-events: none;
  }

  &--primary {
    color: var(--content-basic-primary);
  }

  &--subtle {
    color: var(--content-basic-secondary);
  }

  &--inverted {
    color: var(--content-invert-primary);
  }

  &--inverted-subtle {
    color: var(--content-invert-secondary);
  }

  &--link {
    color: var(--surface-accent-emphasis-high-info);
  }

  &--success {
    color: var(--surface-accent-emphasis-high-positive);
  }

  &--warning {
    color: var(--surface-accent-emphasis-high-warning);
  }

  &--error {
    color: var(--surface-accent-emphasis-high-negative);
  }

  &--disabled {
    &--primary {
      color: var(--content-basic-disabled);
    }

    &--subtle {
      color: var(--content-basic-disabled);
    }

    &--inverted {
      color: var(--content-invert-disabled);
    }

    &--inverted-subtle {
      color: var(--content-invert-disabled);
    }

    &--link {
      color: var(--action-primary-disabled);
    }

    &--success {
      color: var(--action-positive-disabled);
    }

    &--warning {
      color: var(--action-warning-default);
    }

    &--error {
      color: var(--action-negative-disabled);
    }
  }
}
