@import '../../scss/variables/colors';

$base-class: 'icon';

.#{$base-class} {
  display: block;
  align-items: center;

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  &__x-small {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }

  &__small {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  &__medium {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  &__large {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
