.colors {
  &__container {
    padding: 10px;
  }

  &__wrapper {
    position: relative;
    width: 100px;
    height: 100px;
  }

  &__name {
    margin: 0;
    margin-bottom: 5px;
  }

  &__hex {
    margin: 0;
    margin-bottom: 5px;
  }

  &__ratio {
    margin: 0;
    margin-bottom: 5px;
  }

  &__box {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  &__dot {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
  }

  &__feedback {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    z-index: 0;
  }

  &__clickable {
    cursor: pointer;

    &--copied ~ .colors__feedback {
      opacity: 1;
      transition: opacity .2s ease-in-out;
      &:before {
        content: 'COPIED!';
        position: absolute;
        font-weight: 700;
        color: #17882c;
        font-size: 15px;
        left: 50%;
        top: 0;
        border-radius: 50px;
        transform: translateX(-50%);
        padding: 0px;
      }
    }
  }
}
