@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'radio';

@mixin shared() {
  display: inline-block;

  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    flex: 0 1 auto;
  }

  &__circle {
    position: relative;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    margin-right: 8px;
    transition: all 0.2s ease;
    box-sizing: border-box;
  }

  &__inner-circle {
    opacity: 0;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
  }

  &--selected {
    .#{$base-class}__inner-circle {
      opacity: 1;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 20px;
    flex: 1 0 auto;
  }

  &__input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &--disabled {
    .#{$base-class} {
      &__circle {
        opacity: 0.4;
      }

      &__label,
      &__input,
      &__text {
        cursor: not-allowed;
      }
    }
  }

  &__helper {
    cursor: default;
    margin-left: 24px;
  }
}

@mixin themable() {
  &__circle {
    background-color: $ui;
    border-color: $border;
  }

  &__inner-circle {
    background-color: $primary;
  }

  &--selected {
    .#{$base-class}__circle {
      border-color: $primary;
    }
  }

  &__text {
    color: $text-primary;
  }

  &--disabled {
    .#{$base-class} {
      &__circle {
        border-color: $text-tertiary;
      }

      &__inner-circle {
        background-color: $text-tertiary;
      }

      &__label,
      &__input,
      &__text {
        color: $text-tertiary;
      }
    }
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
