$base-class: 'side-navigation-group';
$transition: all var(--transition-duration-fast-2) ease-in-out;

.#{$base-class} {
  width: 100%;

  &__chevron {
    transition: $transition;

    &--active {
      transform: rotate(90deg);
    }
  }

  &__label {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  &__simple-label {
    margin: 0;
    padding: 0 var(--spacing-3);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    color: var(--content-locked-white);
    text-wrap: nowrap;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    transition: $transition;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    list-style: none;

    &--expanded {
      opacity: 1;
      margin-bottom: var(--spacing-5);
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
