.tooltip-icon-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.tooltip-icon-wrap:hover {
  background-color: #e5e5e5;
}

.tooltip-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.tooltip-preview-reports {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--border-default);
  border-radius: 4px;
  background-color: var(--surface-basic-default);
  width: 100%;
  height: 100px;
}

.tooltip-story {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 700px;
}

.tooltip-story.default {
  min-block-size: 150px;
}

.tooltip-story.info {
  min-block-size: 250px;
}

.tooltip-story.interactive {
  min-block-size: 730px;
}

.tooltip-story.reports {
  min-block-size: 730px;
}
