$base-class: 'tooltip';

.#{$base-class} {
  z-index: 999999999;
  border-radius: 4px;
  border-color: var(--background-02);
  box-shadow: var(--shadow-tooltip);
  background-color: var(--background-02);
  padding: var(--spacing-3);
  max-width: 320px;
  color: var(--content-basic-primary);

  &:focus {
    outline: none;
  }

  &--invert {
    border-color: var(--surface-invert-primary);
    background-color: var(--surface-invert-primary);
    color: var(--content-invert-primary);
  }

  &--important {
    border-color: var(--surface-accent-emphasis-high-warning);
    background-color: var(--surface-accent-emphasis-high-warning);
    color: var(--content-locked-black);
  }

  &__arrow {
    position: absolute;
    margin: -6px 0;
    border-color: inherit;
    width: 12px;
    height: 6px;
    color: inherit;

    &::after {
      position: absolute;
      transform: rotate(-45deg);
      border: 6px solid transparent;
      content: '';
    }

    &[data-arrow-placement*='bottom'] {
      top: 1px;
      height: 0;

      &::after {
        border-top-color: inherit;
        border-right-color: inherit;
        box-shadow: var(--shadow-tooltip-arrow-bottom);
      }
    }

    &[data-arrow-placement*='top'] {
      top: 100%;

      &::after {
        border-bottom-color: inherit;
        border-left-color: inherit;
        box-shadow: var(--shadow-tooltip-arrow-top);
      }
    }

    &[data-arrow-placement*='right'] {
      left: 0;
      margin: -3px -5px;

      &::after {
        border-top-color: inherit;
        border-left-color: inherit;
        box-shadow: var(--shadow-tooltip-arrow-right);
      }
    }

    &[data-arrow-placement*='left'] {
      left: 100%;
      margin: 0 -7px;
      width: 6px;
      height: 12px;

      &::after {
        border-right-color: inherit;
        border-bottom-color: inherit;
        box-shadow: var(--shadow-tooltip-arrow-left);
      }
    }
  }

  &-header {
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
  }

  &-image {
    margin-bottom: 12px;
    border-radius: 4px;
    width: 100%;
    max-height: 138px;
    aspect-ratio: 16 / 9;
  }

  &-text {
    margin-right: 4px;
    margin-bottom: 12px;
    margin-left: 4px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-3);

    &-button {
      margin: 0;
      border: 0;
      background: none;
      padding: 0;
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-step {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin: 4px;
  }
}

.guide-tooltip {
  &--slide {
    transition-property: opacity, visibility, transform;
  }

  &__overlay {
    display: none;
    position: fixed;
    opacity: 0.5;
    background-color: var(--surface-invert-primary);

    &--slide {
      transition-duration: 0.2s;
      transition-property: top, left, width, height;
      transition-timing-function: ease-in-out;
    }
  }

  &__overlay--visible {
    display: block;
  }
}
