@import '../../utils/StackingContextLevel';

$base-class: 'tooltip';
$radius: var(--radius-3);

.#{$base-class} {
  z-index: $stacking-context-level-tooltip;
  border: 1px solid var(--tooltip-border);
  border-radius: $radius;
  box-shadow: var(--shadow-tooltip);
  background-color: var(--tooltip-background-basic);
  padding: var(--spacing-3);
  max-width: 320px;
  color: var(--content-basic-primary);
  font-size: inherit;

  &__content {
    border-radius: $radius;
    overflow: hidden;
  }

  &--invert {
    border-color: var(--tooltip-background-invert);
    background-color: var(--tooltip-background-invert);
    color: var(--content-invert-primary);

    .#{$base-class}__arrow {
      border-color: var(--tooltip-background-invert);
      background: var(--tooltip-background-invert);
    }
  }

  &--important {
    border-color: var(--surface-accent-emphasis-high-warning);
    background-color: var(--surface-accent-emphasis-high-warning);
    color: var(--content-locked-black);

    .#{$base-class}__arrow {
      border-color: var(--surface-accent-emphasis-high-warning);
      background: var(--surface-accent-emphasis-high-warning);
    }
  }

  &__interactive,
  &__user-guide-step {
    padding: var(--spacing-1);
    width: 270px;
  }

  &--full-space {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 540px;
  }

  &-header {
    margin-bottom: var(--spacing-1);

    &--info {
      padding-right: var(--spacing-5);
    }
  }

  &-image-container {
    margin-top: 30px;
  }

  &-image {
    margin-bottom: 12px;
    border-radius: 4px;
    width: 100%;
    max-height: 138px;
    aspect-ratio: 16 / 9;
  }

  &-text {
    &--info {
      padding-right: var(--spacing-5);
    }
  }

  &-close {
    position: absolute;
    top: var(--spacing-2);
    right: var(--spacing-2);
    border: 0;
    background: none;
    padding: var(--spacing-1);

    &:hover {
      cursor: pointer;
    }
  }

  &-step {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-4) 0 0;

    &-secondary {
      margin-left: var(--spacing-4);
    }

    &--interactive {
      justify-content: flex-start;
    }

    &--user-guide-step {
      align-items: center;
    }
  }
}

.guide-tooltip {
  position: absolute;
  min-width: 250px;

  &--slide {
    transition-property: opacity, visibility, transform;
  }

  &__overlay {
    display: none;
    position: fixed;
    opacity: 0.5;
    background-color: var(--surface-invert-primary);

    &--slide {
      transition-duration: 0.2s;
      transition-property: top, left, width, height;
      transition-timing-function: ease-in-out;
    }
  }

  &__overlay--visible {
    display: block;
  }
}

.reports-tooltip {
  flex: 1 1 270px;
  width: 270px;

  &__heading {
    background-color: var(--surface-secondary-default);
    padding: var(--spacing-2) var(--spacing-4);
    text-align: center;

    &__title {
      color: var(--content-basic-primary);
    }

    &__description {
      color: var(--content-basic-secondary);
    }
  }

  &__content {
    padding: var(--spacing-1);
  }
}
