@import '../../scss/variables/colors';

$base-class: 'date-picker';

.#{$base-class} {
  display: inline-block;
  font-size: 1rem;

  &__wrapper {
    position: relative;
    flex-direction: row;
    padding-bottom: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__month {
    display: table;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__nav-button {
    display: flex;
    align-content: center;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover {
      opacity: 0.8;
    }

    &--prev {
      color: #000;
    }

    &--next {
      color: #000;
    }

    &--interaction-disabled {
      display: none;
    }
  }

  &__caption {
    display: table-caption;
    margin-bottom: 20px;
    padding: 0 50px;
    text-align: left;

    & > div {
      font-weight: 700;
      font-size: 15px;
      text-align: center;
    }
  }

  &__weekdays {
    display: table-header-group;
    margin-top: 1em;
  }

  &__weekdays-row {
    display: table-row;
  }

  &__weekday {
    display: table-cell;
    padding: 0.5em;
    color: #8b9898;
    text-align: center;
    font-size: 12px;

    abbr[title] {
      border-bottom: none;
      text-decoration: none;
    }
  }

  &__week-number {
    display: table-cell;
    padding: 0.5em;
    min-width: 1em;
    border-right: 1px solid #eaecec;
    color: #8b9898;
    vertical-align: middle;
    text-align: right;
    font-size: 0.75em;
    cursor: pointer;
  }

  &__body {
    display: table-row-group;
  }

  &__week {
    display: table-row;
  }

  &__day {
    display: table-cell;
    cursor: pointer;
    font-size: 14px;
    width: 18px;
    height: 18px;

    &--extreme {
      background: red;
    }

    &-wrapper {
      margin: 1px 0;
      padding: 0 9px;
    }

    &-content {
      width: 18px;
      height: 18px;
      line-height: 18px;
      margin: 0 auto;
      vertical-align: middle;
      text-align: center;
    }

    &--today {
      color: #d0021b;
      font-weight: 700;
    }

    &--outside {
      color: #8b9898;
      cursor: default;
    }

    &--disabled {
      color: #dce0e0;
      cursor: default;
    }

    &--selected {
      &:not(.#{$base-class}__day--disabled):not(.#{$base-class}__day--outside):not(.#{$base-class}__day--start):not(.#{$base-class}__day--end):not(.#{$base-class}__day--sunday):not(.#{$base-class}__day--monday) {
        .#{$base-class}__day-wrapper {
          background-color: #DAE7FD;
        }
      }

      &:not(.#{$base-class}__day--disabled):not(.#{$base-class}__day--outside):not(.#{$base-class}__day--start):not(.#{$base-class}__day--end):not(.#{$base-class}__day--sunday):not(.#{$base-class}__day--monday):hover {
        .#{$base-class}__day-wrapper {
          background-color: #DAE7FD;
        }
      }
    }

    &--start:not(.#{$base-class}__day--end):not(.#{$base-class}__day--sunday):not(.#{$base-class}__day--monday) .#{$base-class}__day-wrapper,
    &--monday.#{$base-class}__day--selected:not(.#{$base-class}__day--end) .#{$base-class}__day-wrapper {
      background: linear-gradient(to left, #DAE7FD 0%, #DAE7FD 50%, #fff 50%, #fff 100%);
    }

    &--end:not(.#{$base-class}__day--start):not(.#{$base-class}__day--monday):not(.#{$base-class}__day--sunday) .#{$base-class}__day-wrapper,
    &--sunday.#{$base-class}__day--selected:not(.#{$base-class}__day--start) .#{$base-class}__day-wrapper {
      background: linear-gradient(to right, #DAE7FD 0%, #DAE7FD 50%, #fff 50%, #fff 100%);
    }

    &--start,
    &--end {
      .#{$base-class}__day-content {
        background-color: #3e7ce4;
        border-radius: 50%;
        color: #f0f8ff;
      }
    }

    &--monday.#{$base-class}__day--selected:not(.#{$base-class}__day--start):not(.#{$base-class}__day--end) .#{$base-class}__day-content {
      background-color: #DAE7FD;
      border-radius: 50%;
    }

    &--sunday.#{$base-class}__day--selected:not(.#{$base-class}__day--start):not(.#{$base-class}__day--end) .#{$base-class}__day-content {
      background-color: #DAE7FD;
      border-radius: 50%;
    }
  }

  &--interaction-disabled {
    .#{$base-class}__day {
      cursor: default;
    }
  }

  &__footer {
    padding-top: 0.5em;
  }

  &__today-button {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #4a90e2;
    font-size: 0.875em;
    cursor: pointer;
  }

  &__input {
    display: inline-block;

    &-overlay-wrapper {
      position: relative;
    }

    &-overlay {
      display: block;
      // position: absolute;
      // left: 0;
      // z-index: 1;
      // background: white;
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }
  }

  &:not(.#{$base-class}--interaction-disabled) &__day:not(.#{$base-class}__day--disabled):not(.#{$base-class}__day--selected):not(.#{$base-class}__day--outside):hover {
    .#{$base-class}__day-content {
      background-color: #f0f8ff;
      border-radius: 50%;
    }
  }

  &--range {
    .#{$base-class}__day--selected:not(.start):not(.#{$base-class}__day--end):not(.#{$base-class}__day--outside) {
      background-color: #f0f8ff !important;
      color: #4a90e2;
      border-radius: none;
    }
  }
}
