@use './typography/classTokens';

@use './components/alert';
@use './components/badge';
@use './components/button';
@use './components/card';
@use './components/checkbox';
@use './components/field-description';
@use './components/icon';
@use './components/loader';
@use './components/promo-banner';
@use './components/radio-button';
@use './components/switch';
@use './components/tab';
@use './components/tabs-wrapper';
@use './components/toast';
@use './components/form';

@use './themes/legacy';
@use './themes/light';
@use './themes/dark';

*[class^='lc-'] {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*[class^='lc-']::before,
*[class^='lc-']::after {
  box-sizing: inherit;
}
