@use './typography/classTokens';

@use './components/badge';
@use './components/alert';
@use './components/promo-banner';
@use './components/toast';
@use './components/radio-button';
@use './components/field-description';
@use './components/field-label';
@use './components/field-error';
@use './components/field-group';

@use './themes/legacy';
@use './themes/light';
@use './themes/dark';

*[class^='lc-'] {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*[class^='lc-']::before,
*[class^='lc-']::after {
  box-sizing: inherit;
}
