@use './components/badge';
@use './components/banner';
@use './components/promo';

@use './themes/legacy';
@use './themes/light';
@use './themes/dark';

*[class^="lc-"] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}

*[class^="lc-"]::before,
*[class^="lc-"]::after {
  box-sizing: inherit;
}
