$base-class: 'badge';

@mixin dot($size) {
  border-radius: $size;
  width: $size;
  height: $size;
}

.#{$base-class} {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;

  &__dot {
    margin: 0 -2px;
    background-color: var(--content-invert-primary);
  }

  & + & {
    margin-left: 4px;
  }

  &--large {
    border-radius: 24px;
    padding: 4px 7px;
    min-width: 24px;
    height: 24px;

    .#{$base-class}__dot {
      @include dot(10px);
    }
  }

  &--medium {
    border-radius: 20px;
    padding: 2px 6px;
    min-width: 20px;
    height: 20px;

    .#{$base-class}__dot {
      @include dot(8px);
    }
  }

  &--compact {
    border-radius: 16px;
    padding: 1px 5px;
    min-width: 16px;
    height: 16px;

    .#{$base-class}__dot {
      @include dot(6px);
    }
  }

  &--primary {
    background-color: var(--surface-accent-emphasis-high-negative);
    color: var(--content-locked-white);

    .#{$base-class}__dot {
      background-color: var(--content-locked-white);
    }
  }

  &--secondary {
    background-color: var(--surface-accent-emphasis-high-info);
    color: var(--content-locked-white);

    .#{$base-class}__dot {
      background-color: var(--content-locked-white);
    }
  }

  &--tertiary {
    background-color: var(--surface-tertiary-default);
    color: var(--content-basic-secondary);

    .#{$base-class}__dot {
      background-color: var(--content-basic-primary);
    }
  }
}
