.avatar > [class^='lc-Avatar-module__avatar__status'] {
  border-color: var(--navbar-background);
}

.product-switcher-height {
  margin-bottom: 12px;
}

.example-top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  span {
    margin: 10px 0;
  }
}

.alert {
  box-sizing: border-box;
  display: flex;
  position: relative;
  top: 0;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--radius-2);
  background-color: var(--surface-accent-emphasis-high-warning);
  padding: 8px 0;
  width: 100%;
  height: 42px;
  overflow: hidden;
  text-align: center;
  line-height: 0;
  color: var(--content-locked-black);
  font-size: 14px;
  font-weight: 600;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.app-content-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-title {
  display: flex;
  gap: var(--spacing-3);
  align-content: center;
  text-align: center;
}

.tooltip-trigger {
  display: flex;
  align-items: center;
}

.switchers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 270px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    margin: 0;
  }
}

.app-content-2 {
  padding: 16px;
  width: 100%;
  max-width: 800px;
}
