@import "~@livechat/design-system-themes/dist/scss";
@import "../../scss/variables/transitions";

$base-class: "progress";

@mixin shared() {
  &-bar {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 100px;
    height: 4px;

    &--small {
      height: 3px;
    }

    &--medium {
      height: 4px;
    }

    &--large {
      height: 6px;
    }

    &__indicator {
      height: 100%;
      position: relative;
      border-radius: 100px;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }
  }

  &-circle {
    transform: rotate(-90deg);
    width: 36px;
    height: 36px;

    &--small {
      width: 15px;
      height: 15px;
    }

    &--medium {
      width: 36px;
      height: 36px;
    }

    &--large {
      width: 56px;
      height: 56px;
    }

    &__indicator {
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    }
  }
}

@mixin themable() {
  &-bar {
    background-color: $primary-disabled;

    &--error {
      background-color: $danger-disabled;
    }

    &__indicator {
      background-color: $primary;
    }
  }

  &-circle {
    &__bg-line {
      stroke: $primary-disabled;
    }

    &__indicator {
      stroke: $primary;
    }

    &--error {
      .#{$base-class}-circle__bg-line {
        stroke: $danger-disabled;
      }

      .#{$base-class}-circle__indicator {
        stroke: transparent;
      }
    }
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
