$base-class: 'date-picker';

.#{$base-class} {
  min-width: 224px;

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-05);
    border-radius: var(--radius-3);
    width: 28px;
    height: 28px;
  }

  &__weekday {
    color: var(--content-basic-secondary);
    font-size: 12px;
    font-weight: 400;
  }

  &__day {
    transition: all var(--transition-duration-fast-2) ease-in-out;
    color: var(--content-basic-primary);
    font-size: 13px;
    font-weight: 400;

    &:hover {
      background-color: var(--surface-primary-hover);
      cursor: pointer;
    }

    button {
      font-size: 13px;
    }
  }

  &__day-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow var(--transition-duration-fast-2) ease-in-out;
    border: 0;
    border-radius: var(--radius-3);
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: inherit;

    &:focus-visible {
      outline: 0;
      box-shadow: var(--shadow-focus);
    }
  }

  &__today {
    border: 1px solid var(--border-basic-primary);

    &:hover {
      border-color: var(--border-basic-hover);
    }
  }

  &__selected,
  &__selected:hover {
    background-color: var(--action-primary-default);
    color: var(--content-invert-primary);
  }

  &__month-caption {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__range-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--action-primary-default);
  }

  &__range-middle {
    position: relative;
    border-radius: 0;
    background-color: var(--surface-accent-emphasis-low-info);
    color: var(--content-basic-primary);

    &::after {
      position: absolute;
      right: calc(var(--spacing-05) * -1);
      left: calc(var(--spacing-05) * -1);
      z-index: -1;
      background-color: var(--surface-accent-emphasis-low-info);
      height: 100%;
      content: '';
    }
  }

  &__range-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--action-primary-default);
  }

  &__disabled {
    opacity: 0.4;

    &:hover {
      background-color: transparent;
    }

    button {
      cursor: not-allowed;
    }
  }
}

.#{$base-class}__range-start.#{$base-class}__range-end {
  border-radius: var(--radius-3);
}
