@use 'sass:map';

@mixin icon-styles() {
  width: 20px;
  height: 20px;
  line-height: 1;

  &--left {
    order: -1;
    margin-right: 4px;
  }

  &--right {
    order: 1;
    margin-left: 4px;
  }

  &--small {
    width: 16px;
    height: 16px;
  }
}

@mixin icon-only($base-class) {
  &.#{$base-class} {
    $sizes: (
      'xcompact': (
        'padding': 4px,
        'size': 24px,
        'icon-size': 16px,
      ),
      'compact': (
        'padding': 6px,
        'size': 32px,
        'icon-size': 20px,
      ),
      'medium': (
        'padding': var(--spacing-2),
        'size': 36px,
        'icon-size': 20px,
      ),
      'large': (
        'padding': var(--spacing-3),
        'size': 44px,
        'icon-size': 20px,
      ),
    );

    @each $size-name, $values in $sizes {
      &--#{$size-name} {
        padding: map.get($values, 'padding');
        width: map.get($values, 'size');
        height: map.get($values, 'size');

        .#{$base-class}__icon {
          width: map.get($values, 'icon-size');
          height: map.get($values, 'icon-size');
        }
      }
    }

    &--text-lock-black {
      @each $size-name, $values in $sizes {
        &.#{$base-class}--#{$size-name} {
          padding: 0;
          height: 20px;
        }
      }
    }

    &--link-light,
    &--link-inverted {
      @each $size-name, $values in $sizes {
        &.#{$base-class}--#{$size-name} {
          padding: 0;

          @if $size-name == 'xcompact' {
            width: 24px;
            height: 24px;
          }

 @else {
            width: 28px;
            height: 28px;
          }
        }
      }
    }

    &--plain {
      @each $size-name, $values in $sizes {
        &.#{$base-class}--#{$size-name} {
          padding: 0;
        }
      }
    }
  }

  &--bg {
    &:hover {
      background-color: var(--surface-primary-hover);
    }

    &:focus,
    &:active {
      background-color: var(--surface-primary-active);
    }

    &.#{$base-class} {
      &--disabled {
        &:focus,
        &:active,
        &:hover {
          background-color: transparent;
        }
      }
    }

    &.#{$base-class}--text {
      min-width: 36px;
      height: 36px;

      &:focus,
      &:active {
        background-color: var(--surface-primary-active);
      }

      &.#{$base-class}--xcompact {
        min-width: 24px;
        height: 24px;
      }

      &.#{$base-class}--compact {
        min-width: 32px;
        height: 32px;
      }

      &.#{$base-class}--large {
        min-width: 44px;
        height: 44px;
      }
    }

    &.#{$base-class}--link {
      min-width: 36px;
      height: 36px;

      &:hover {
        background-color: var(--surface-accent-emphasis-min-info);
        color: var(--action-primary-hover);
      }

      &:focus,
      &:active {
        background-color: var(--action-primary-default);
        color: var(--content-invert-primary);
      }

      &.#{$base-class}--xcompact {
        min-width: 24px;
        height: 24px;
      }

      &.#{$base-class}--compact {
        min-width: 32px;
        height: 32px;
      }

      &.#{$base-class}--large {
        min-width: 44px;
        height: 44px;
      }
    }
  }

  .#{$base-class}__icon--left,
  .#{$base-class}__icon--right {
    margin: 0;
  }
}
