$compact-size: 32px;
$medium-size: 36px;
$large-size: 44px;

@mixin size($paddingV, $paddingH, $element-size) {
  padding: $paddingV $paddingH;
  min-width: $element-size;
  min-height: $element-size;
}

@mixin button-compact($with-border: false) {
  @if ($with-border) {
    @include size(5px, 16px, $compact-size);
  }

 @else {
    @include size(6px, 16px, $compact-size);
  }
}

@mixin button-medium($with-border: false) {
  @if ($with-border) {
    @include size(calc(var(--spacing-2) - 1px), 16px, $medium-size);
  }

 @else {
    @include size(var(--spacing-2), 16px, $medium-size);
  }
}

@mixin button-large($with-border: false) {
  @if ($with-border) {
    @include size(calc(var(--spacing-3) - 1px), 16px, $large-size);
  }

 @else {
    @include size(var(--spacing-3), 16px, $large-size);
  }
}

@mixin button-size($base-class, $with-border: false) {
  &.#{$base-class}--compact {
    @include button-compact($with-border);

    &.#{$base-class}--icon-only {
      width: $compact-size;
      height: $compact-size;
    }
  }

  &.#{$base-class}--medium {
    @include button-medium($with-border);

    &.#{$base-class}--icon-only {
      width: $medium-size;
      height: $medium-size;
    }
  }

  &.#{$base-class}--large {
    @include button-large($with-border);

    &.#{$base-class}--icon-only {
      width: $large-size;
      height: $large-size;
    }
  }

  &.#{$base-class}--icon-only {
    padding: 6px;
  }
}
