@import '../../scss/variables/colors';

.btn-group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;

  .btn:not(:first-child):not(:last-child) {
    margin-left: 8px;
    margin-right: 8px;
  }

  &--segment {
    .btn {
      color: $font-primary-color;
      background-color: #fff;
      border-color: $border-primary-color;
    }

    .btn.btn--selected {
      background-color: $ui-background-color-hover;
    }

    .btn:not(:first-child){
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .btn:not(:last-child){
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .btn:not(:first-child):not(:last-child) {
      margin-left: 0;
      margin-right: 0;
      border-right: none;
      border-left: none;
    }
  }

}
