$base-class: 'file-upload-progress-actions';

.#{$base-class} {
  align-items: center;
  display: inline-flex;
  flex: 1 0 auto;
  flex-wrap: nowrap;
  margin-left: auto;

  &__close-button,
  &__retry-button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    color: var(--content-default);
    display: flex;
    flex: 0 1 auto;
    justify-self: flex-end;
    margin: 0;
    margin-left: 8px;
    padding: 0;

    svg {
      cursor: pointer;
      display: flex;
      fill: currentColor;
      height: 18px;
      width: 18px;
    }
  }
}
