.numeric-input {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 36px;

  &__increment,
  &__decrement {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 1px;
    right: 1px;
    align-items: center;
    justify-content: center;
    border: 0;
    border-left: 1px solid var(--border-basic-primary);
    background: transparent;
    cursor: pointer;
    padding: 0;
    width: 23px;
    height: 50%;

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  & &__increment {
    &:disabled {
      border-color: var(--border-basic-disabled);
      cursor: not-allowed;
    }
  }

  & &__decrement {
    top: auto;
    bottom: 1px;
    border-top: 1px solid var(--border-basic-primary);

    &:disabled {
      border-color: var(--border-basic-disabled);
      cursor: not-allowed;
    }
  }

  input {
    appearance: textfield;
    box-sizing: border-box;
    transition: border 0.25s ease-in-out;
    border: 1px solid var(--border-basic-primary);
    border-radius: var(--radius-3);
    background-clip: padding-box;
    background-color: var(--surface-primary-default);
    padding: 0 28px 0 4px;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 36px;
    color: var(--content-basic-primary);
    font-size: 14px;
    will-change: border-color;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover {
      outline: 0;
      border-color: var(--border-basic-hover);
    }

    &:focus {
      outline: 0;
      border-color: var(--action-primary-default);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--content-basic-disabled);

      &:hover {
        border-color: var(--border-basic-disabled);
      }
    }
  }

  &--disabled {
    background-color: var(--surface-primary-disabled);
    cursor: not-allowed;
    color: var(--content-basic-primary);
  }

  &.numeric-input--no-controls {
    input {
      padding: 0 4px;
    }
  }

  &.numeric-input--error {
    input {
      &,
      &:hover,
      &:focus {
        border-color: var(--border-basic-negative);
      }
    }
  }
}
