.input {
  &--spacing-0 {
    padding: 0 var(--spacing-0);
  }
  &--spacing-05 {
    padding: 0 var(--spacing-05);
  }
  &--spacing-1 {
    padding: 0 var(--spacing-1);
  }
  &--spacing-2 {
    padding: 0 var(--spacing-2);
  }
  &--spacing-3 {
    padding: 0 var(--spacing-3);
  }
  &--spacing-4 {
    padding: 0 var(--spacing-4);
  }
  &--spacing-5 {
    padding: 0 var(--spacing-5);
  }
  &--spacing-6 {
    padding: 0 var(--spacing-6);
  }
  &--spacing-8 {
    padding: 0 var(--spacing-8);
  }
  &--spacing-12 {
    padding: 0 var(--spacing-12);
  }
  &--spacing-16 {
    padding: 0 var(--spacing-16);
  }
  &--spacing-18 {
    padding: 0 var(--spacing-18);
  }
  &--spacing-20 {
    padding: 0 var(--spacing-20);
  }
  &--spacing-24 {
    padding: 0 var(--spacing-24);
  }
}
