.tab {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  height: 49px;
  border: none;
  background: none;
  outline: none;
  color: rgba(66, 77, 87, 1);
  cursor: pointer;
  transition: color 0.25s;
  margin: 0 8px;
  font-size: 15px;
}

.tab:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.tab:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  content: '';
  background-color: #4384f5;
  height: 0;
}

.tab-selected {
  font-weight: 700;
}

.tab-selected:before {
    height: 5px;
}

.tab .light-text {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 3px;
  transition: color 0.25s;
}

.tab:hover .light-text {
  color: rgba(0, 0, 0, 1);
}

.tab-selected .light-text {
  color: rgba(66, 77, 87, 1);
}

.tabs_wrapper {
  position: relative;
}

.tabs_list {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 0 -8px;
}
