@use './styles/kind';
@use './styles/base';
@use './styles/size';
@use './styles/loader';
@use './styles/icon';

$base-class: 'btn';

.#{$base-class} {
  @include base.default();
  @include size.button-size($base-class, false);

  &--disabled {
    cursor: not-allowed;
  }

  &--full-width {
    width: 100%;
  }

  &--basic {
    @include kind.basic();
    @include size.button-size($base-class, true);
  }

  &--primary {
    @include kind.primary();
  }

  &--secondary {
    @include kind.secondary();
    @include size.button-size($base-class, true);
  }

  &--destructive {
    @include kind.destructive();
  }

  &--destructive-outline {
    @include kind.destructive-outline();
    @include size.button-size($base-class, true);
  }

  &--text {
    @include kind.text();
  }

  &--link,
  &--link-light,
  &--link-inverted {
    @include kind.link();
  }

  &--link-light {
    font-weight: 400;
  }

  &--link {
    font-weight: 600;
  }

  &--link-inverted {
    @include kind.link-inverted();
  }

  &--plain {
    @include kind.plain();
    @include size.button-size($base-class, true);
  }

  &--float {
    @include kind.float();
    @include size.button-size($base-class, true);
  }

  &--dotted {
    @include kind.dotted();
    @include size.button-size($base-class, true);
  }

  &--high-contrast {
    @include kind.high-contrast();
    @include size.button-size($base-class, true);
  }

  &--loading {
    @include loader.loading-styles($base-class);
  }

  &__icon {
    @include icon.icon-styles();
  }

  &--icon-only {
    @include icon.icon-only($base-class);
  }
}
