$base-class: 'invite-agents';

.#{$base-class} {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-basic-secondary);
  border-right: 0;
  border-radius: 16px;
  background-color: var(--surface-secondary-active);
  padding-left: var(--spacing-1);
  max-width: 220px;
  height: 32px;

  &__tooltip {
    > div {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-3);
    }
  }

  &__tooltip-trigger {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    cursor: pointer;
    padding-right: var(--spacing-2);
  }

  &__tooltip-heading {
    margin: 0;
  }

  &__tooltip-status {
    display: inline-block;
    margin-right: var(--spacing-3);
    border-radius: 50%;
    width: 10px;
    height: 10px;

    &--available {
      background: var(--surface-accent-emphasis-high-positive);
    }

    &--unavailable {
      background: var(--surface-accent-emphasis-high-negative);
    }

    &--unknown {
      background: var(--action-neutral-default);
    }
  }

  &__avatar-container {
    display: flex;
  }

  &__avatar {
    position: relative;
    border: 1px solid var(--border-basic-tertiary);

    &:not(:first-child) {
      margin-left: -10px;
    }

    > div {
      border: 1px solid var(--border-basic-tertiary);
    }
  }

  &__available-agents-number {
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--content-basic-secondary);
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
  }

  &__invite-button {
    border: 1px solid var(--content-basic-disabled);
    border-radius: 24px;
    background-color: var(--surface-primary-default);
    padding: 6px 16px 6px 12px;
    height: 32px;
    color: var(--content-basic-primary);
  }
}
