$base-class: 'sub-nav-bar-list';
$transition: all var(--transition-duration-moderate-1)
  cubic-bezier(0.645, 0.045, 0.355, 1);

.#{$base-class} {
  width: 100%;

  &__chevron {
    transition: $transition;

    &--active {
      transform: rotate(90deg);
    }
  }

  &__label {
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    transition: $transition;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    list-style: none;

    > li {
      transform: translateY(-10px);
      transition: $transition;
    }

    &--expanded {
      opacity: 1;
      max-height: 9999px; // maximum value to achieve the effect of "auto"

      > li {
        transform: translateY(0);
      }
    }

    &--expanded-list-gap {
      margin-bottom: var(--spacing-5);
    }
  }
}
