$base-class: 'stepper';

.#{$base-class} {
  &__counter {
    margin-bottom: var(--spacing-2);
    color: var(--content-basic-placeholder);
    font-weight: var(--font-weight-medium);
  }

  &__steps__container {
    display: flex;
    flex-flow: row nowrap;
  }

  &__step {
    margin-right: var(--spacing-1);
    border-radius: var(--radius-1);
    width: 22px;
    height: 4px;

    &--completed {
      background-color: var(--content-basic-primary);
    }

    &--active {
      background-color: var(--surface-tertiary-hover);
    }
  }
}
