$toast-appear-animation-timeout: 200ms;
$toast-exit-animation-timeout: 200ms;

.toast {
  align-items: center;
  border-radius: 4px;
  box-shadow: var(--shadow-pop-over);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  font-size: 15px;
  gap: 8px;
  justify-content: flex-start;
  line-height: 22px;
  max-width: 500px;
  min-width: 300px;
  padding: 10px 12px;

  &__content {
    color: var(--content-default);
    font-weight: 600;
    min-width: 192px;
    width: 100%;
  }

  &__actions {
    align-items: center;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 8px;

    &--close svg {
      cursor: pointer;
      fill: var(--content-subtle);
    }

    &--custom {
      color: var(--content-default);
      text-decoration: underline;
      white-space: nowrap;
    }

    button {
      font-weight: 400;
    }
  }

  &--success {
    background: var(--color-positive-default);
  }

  &--warning {
    background: var(--color-warning-default);

    .toast__content {
      color: var(--content-default);
    }
  }

  &--error {
    background: var(--color-negative-default);
  }

  &--info {
    background: var(--surface-invert-default);
  }

  &--success,
  &--error,
  &--info {
    .toast__content,
    .toast__actions--custom {
      color: var(--content-invert-default);
    }
  }

  &-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 120;

    &--fixed {
      position: fixed;
    }

    &--block {
      position: static;
    }

    &--horizontal-center {
      left: calc(50%);
      transform: translateX(-50%);
    }

    &--horizontal-left {
      left: 5px;
    }

    &--horizontal-right {
      right: 5px;
    }

    &--vertical-top {
      top: 5px;

      .toast {
        margin-bottom: 10px;
      }

      .toast-appear--slide {
        transform: translateY(-100%) !important;

        &.toast-appear-active--slide {
          transform: translateY(0) !important;
          transition: transform $toast-appear-animation-timeout ease-in;
        }
      }

      .toast-exit--slide {
        transform: translateY(0) !important;

        &.toast-exit-active--slide {
          transform: translateY(-100%) !important;
          transition: transform $toast-exit-animation-timeout ease-in;
        }
      }
    }

    &--vertical-bottom {
      bottom: 5px;

      .toast {
        margin-top: 10px;
      }

      .toast-appear--slide {
        transform: translateY(100%) !important;

        &.toast-appear-active--slide {
          transform: translateY(0) !important;
          transition: transform $toast-appear-animation-timeout ease-in;
        }
      }

      .toast-exit--slide {
        transform: translateY(0) !important;

        &.toast-exit-active--slide {
          transform: translateY(100%) !important;
          transition: transform $toast-exit-animation-timeout ease-in;
        }
      }
    }

    &--vertical-top,
    &--vertical-bottom {
      .toast-appear--fade {
        opacity: 0;

        &.toast-appear-active--fade {
          opacity: 1;
          transition: opacity $toast-appear-animation-timeout ease-in;
        }
      }

      .toast-exit--fade {
        opacity: 1;
        transition: opacity $toast-appear-animation-timeout ease-in;

        &.toast-exit-active--fade {
          opacity: 0;
        }
      }
    }
  }
}
