.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-primary-default);
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 8px;
}

.left, .right {
  flex-basis: 25%;
  flex-shrink: 0;
  max-width: 280px;
}

.left {
  border-right: 1px solid var(--border-basic-tertiary);
}

.right {
  border-left: 1px solid var(--border-basic-tertiary);
}

.column-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-basic-tertiary);
  padding: var(--spacing-2);
  width: 100%;
  height: 56px;
  color: var(--content-basic-primary);
}

.column-header.center {
  border-bottom: 0;
}

.chats-list-item {
  display: flex;
  flex-direction: row;
  padding: 19px var(--spacing-6);
}

.chats-list-item-content {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-4);
}

.sections-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.action-bar-area {
  background-color: var(--surface-primary-default);
  width: 100%;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.start-guide {
  display: flex;
  align-items: center;
  justify-content: center;
}
