@use './styles/transitions';

@import '../../utils/StackingContextLevel';

$base-class: 'user-guide';
$radius: var(--radius-3);
$arrow-size: 45px;

.#{$base-class} {
  &__overlay {
    position: fixed;
    inset: 0;
    background-color: var(--surface-other-overlay);
    z-index: $stacking-context-level-tooltip;
    animation: fade-in var(--transition-duration-moderate-2) forwards;
    backdrop-filter: blur(2px);
  }

  &__floating {
    @include transitions.durations();

    transition-property: top, bottom, left, right;
    transition-timing-function: ease-in-out;
    z-index: $stacking-context-level-tooltip;
    opacity: 0;
    animation-duration: var(--transition-duration-moderate-2);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: fade-in;
  }

  &__guide {
    display: flex;
    position: relative;
    height: 0px;
    width: 0px;

    &--right-start,
    &--left-start {
      align-items: flex-start;
    }

    &--right,
    &--left {
      align-items: center;
    }

    &--right-end,
    &--left-end {
      align-items: flex-end
    }

    &--bottom-start,
    &--top-start {
      justify-content: flex-start;
    }

    &--bottom,
    &--top {
      justify-content: center;
    }

    &--bottom-end,
    &--top-end {
      justify-content: flex-end
    }

    &--top-start,
    &--top,
    &--top-end {
      align-items: flex-end;
    }

    &--left-start,
    &--left,
    &--left-end {
      justify-content: flex-end;
    }

    &__arrow {
      @include transitions.durations();

      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      transition-property: top, left, transform;
      transition-timing-function: ease-in-out;

      &--right-start {
        top: 9px;
        transform: rotate(-50deg);
      }

      &--right {
        top: calc(50% - #{$arrow-size / 2});
        transform: rotate(-90deg);
      }

      &--right-end {
        top: calc(100% - 45px - 9px);
        transform: rotate(-130deg)
      }

      &--bottom-start,
      &--bottom,
      &--bottom-end {
        top: 0px;
      }

      &--bottom-start {
        left: 9px;
        transform: rotate(-40deg);
      }

      &--bottom {
        left: calc(50% - #{$arrow-size / 2});
        transform: rotate(0deg);
      }

      &--bottom-end {
        left: calc(100% - #{$arrow-size} - 9px);
        transform: rotate(40deg);
      }

      &--top-start,
      &--top,
      &--top-end {
        top: calc(100% - #{$arrow-size});
      }

      &--top-start {
        left: 9px;
        transform: rotate(-140deg);
      }

      &--top {
        left: calc(50% - #{$arrow-size / 2});
        transform: rotate(-180deg);
      }

      &--top-end {
        left: calc(100% - #{$arrow-size} - 9px);
        transform: rotate(140deg);
      }

      &--left-start,
      &--left,
      &--left-end {
        left: calc(100% - 43px);
      }

      &--left-start {
        top: 9px;
        transform: rotate(50deg);
      }

      &--left {
        top: calc(50% - #{$arrow-size / 2});
        left: calc(100% - $arrow-size);
        transform: rotate(90deg);
      }

      &--left-end {
        top: calc(100% - 45px - 9px);
        transform: rotate(130deg);
      }
    }

    &__content {
      margin: 42px;
      opacity: 0;
      animation-delay: var(--transition-duration-moderate-2);
      animation-duration: var(--transition-duration-moderate-2);
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-name: fade-in;
    }
  }

  &__cursor {
    transition: transform ease-in-out 0.2s;

    &--bottom {
      transform: rotate(0deg);
    }

    &--left {
      transform: rotate(-45deg);
    }

    &--right {
      transform: rotate(45deg);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:global(.user-guide-visible) {
  overflow: hidden !important;
}
