$surface-primary-disabled: #333338;
$surface-primary-hover: #2b2b2f;
$surface-accent-emphasis-min-info: #232a36;
$surface-primary-default: #202024;
$surface-accent-emphasis-low-info: #20324d;
$action-primary-default: #68afff;
$surface-secondary-default: #2d2d33;
$surface-tertiary-default: #3b3b43;
$surface-secondary-hover: #343439;
$surface-secondary-active: #3a3a40;
$surface-tertiary-hover: #43434b;
$surface-invert-primary: #e2e2e4;

.lc-dark-theme {
  --background: #131317; // deprecated
  --background-01: #151519;
  --background-02: #202024;
  --background-03: #202024;
  --surface-basic-default: #202024; // deprecated
  --surface-primary-default: #{$surface-primary-default};
  --surface-basic-subtle: #29292f; // deprecated
  --surface-secondary-default: #{$surface-secondary-default};
  --surface-secondary-hover: #{$surface-secondary-hover};
  --surface-secondary-active: #{$surface-secondary-active};
  --surface-secondary-disabled: #2d2d32;
  --surface-primary-hover-opacity: rgb(255 255 255 / 8%); // deprecated
  --surface-basic-hover: rgb(255 255 255 / 10%); // deprecated
  --surface-primary-hover: #{$surface-primary-hover};
  --surface-basic-active: rgb(255 255 255 / 20%); // deprecated
  --surface-primary-active: #323236;
  --surface-primary-active-colored: rgb(0 102 255 / 25%);
  --surface-basic-disabled: #2d2d32; // deprecated
  --surface-primary-disabled: #29292d;
  --surface-tertiary-default: #{$surface-tertiary-default};
  --surface-secondary-subtle: #3b3b43; // deprecated
  --surface-moderate-default: #4e4e58;
  --surface-moderate-hover: #55555f;
  --surface-moderate-active: #5c5c65;
  --surface-tertiary-hover: #{$surface-tertiary-hover};
  --surface-tertiary-active: #4b4b52;
  --surface-tertiary-disabled: #3b3b43;
  --surface-feedback-info: #323640; // deprecated
  --surface-accent-emphasis-low-info: #{$surface-accent-emphasis-low-info};
  --surface-feedback-negative: #3a3136; // deprecated
  --surface-accent-emphasis-low-negative: #492529;
  --surface-feedback-warning: #3a362b; // deprecated
  --surface-accent-emphasis-low-warning: #3d361b;
  --surface-feedback-positive: #263532; // deprecated
  --surface-accent-emphasis-low-positive: #163628;
  --surface-accent-emphasis-low-purple: #362c4d;
  --surface-accent-emphasis-min-info: #{$surface-accent-emphasis-min-info};
  --surface-accent-emphasis-min-negative: #32262b;
  --surface-accent-emphasis-min-warning: #322e26;
  --surface-accent-emphasis-min-positive: #182c26;
  --surface-accent-emphasis-min-purple: #2b2836;
  --surface-accent-ondark-negative-default: #712a2d;
  --surface-accent-ondark-negative-hover: #783537;
  --surface-accent-ondark-warning-default: #534611;
  --surface-accent-ondark-warning-hover: #5c4f1d;
  --surface-accent-ondark-info-default: #1f4474;
  --surface-accent-ondark-info-hover: #31537f;
  --surface-accent-ondark-positive-default: #0b4d2b;
  --surface-accent-ondark-positive-hover: #175636;
  --surface-accent-emphasis-subtle-negative: #712a2d;
  --surface-accent-emphasis-subtle-warning: #534611;
  --surface-accent-emphasis-subtle-info: #1f4474;
  --surface-accent-emphasis-subtle-positive: #0b4d2b;
  --surface-invert-default: #eeeeef; // deprecated
  --surface-invert-primary: #{$surface-invert-primary};
  --surface-invert-subtle: #c9c9cd; // deprecated
  --surface-invert-secondary: #c9c9cd;
  --surface-invert-disabled: #29292f;
  --surface-locked-default: #f6f6f7;
  --surface-locked-hover: #fff;
  --surface-locked-active: #36363b;
  --surface-locked-disabled: #333338;
  --surface-locked-white: #fff;
  --surface-locked-black: #000;
  --surface-accent-emphasis-medium-negative: #5f2a2e;
  --surface-accent-emphasis-medium-positive: #0a4824;
  --surface-accent-emphasis-high-info: #06f;
  --surface-accent-emphasis-high-negative: #ca0005;
  --surface-accent-emphasis-high-warning: #e8bb00;
  --surface-accent-emphasis-high-positive: #01833a;
  --surface-accent-emphasis-high-purple: #9146ff;
  --surface-opacity-basic-hover: rgb(255 255 255 / 8%);
  --surface-opacity-basic-active: rgb(255 255 255 / 12%);
  --surface-opacity-invert-hover: rgb(255 255 255 / 10%);
  --surface-opacity-invert-active: rgb(255 255 255 / 12%);
  --surface-overlay: rgb(19 19 23 / 90%); // deprecated
  --surface-gradient-01: linear-gradient(
    107.08deg,
    #8609ff 9.14%,
    #ee0007 111.43%
  );
  --surface-gradient-02: linear-gradient(
    107.08deg,
    #8609ff 9.14%,
    #0059e1 111.43%
  );
  --surface-gradient-03: linear-gradient(84deg, #ae0003 38%, #f3c600 140%);
  --surface-gradient-04: linear-gradient(95deg, #5f5116, #322d1d 112%);
  --surface-gradient-05: linear-gradient(95deg, #244979, #1d2636 112%);
  --surface-gradient-06: linear-gradient(95deg, #513e79, #221f2b 112%);
  --surface-gradient-07: linear-gradient(95deg, #105230, #1a2222 112%);
  --surface-gradient-08: linear-gradient(95deg, #762f32, #261d22 112%);
  --surface-gradient-09: linear-gradient(95deg, #105230, #4b4119 112%);
  --surface-gradient-10: linear-gradient(95deg, #513e79, #1f2d44 112%);
  --surface-gradient-11: linear-gradient(95deg, #513e79, #423a1b 112%);
  --surface-gradient-12: linear-gradient(95deg, #5b4939 0%, #262426 111.28%);
  --surface-gradient-13: linear-gradient(95deg, #49494c 0%, #242428 111.28%);
  --surface-other-overlay: rgb(19 19 23 / 90%);
  --surface-other-agent: #0845a2;
  --surface-other-agent-hover: #195dc8;
  --surface-other-skeleton: #3b3b43;
  --surface-other-internal-note: #2d2c2a;
  --surface-other-internal-note-hover: #3a3937;
  --surface-other-visitor: #2d2d33;
  --surface-other-visitor-hover: #43434b;
  --content-default: rgb(255 255 255 / 80%); // deprecated
  --content-basic-primary: #f6f6f7;
  --content-subtle: rgb(255 255 255 / 60%); // deprecated
  --content-basic-secondary: #bcbcc0;
  --content-disabled: rgb(255 255 255 / 40%); // deprecated
  --content-basic-disabled: #767680;
  --content-basic-negative: #ff8282;
  --content-basic-warning: #e5c155;
  --content-basic-positive: #4cbf80;
  --content-basic-info: #68afff;
  --content-basic-purple: #bf9cff;
  --content-basic-gradient-01: linear-gradient(
    254.49deg,
    #b99aff -0.38%,
    #68afff 94.44%
  );
  --content-white-locked: #fff; // deprecated
  --content-locked-white: #fff;
  --content-black-locked: #131317; // deprecated
  --content-locked-black: #000;
  --content-locked-default: #131317;
  --content-locked-hover: #131317;
  --content-locked-active: #68afff;
  --content-locked-disabled: rgb(255 255 255 / 30%);
  --content-invert-default: #131317; // deprecated
  --content-invert-primary: #131317;
  --content-invert-subtle: rgb(19 19 23 / 70%); // deprecated
  --content-invert-secondary: rgb(19 19 23 / 70%);
  --content-invert-disabled: rgb(19 19 23 / 30%);
  --content-invert-gradient-01: linear-gradient(
    254.49deg,
    #8609ff -0.38%,
    #004bc2 94.44%
  );
  --border-default: rgb(255 255 255 / 40%); // deprecated
  --border-basic-primary: rgb(255 255 255 / 20%);
  --border-basic-secondary: rgb(255 255 255 / 10%);
  --border-subtle: rgb(255 255 255 / 10%); // deprecated
  --border-basic-tertiary: #131317;
  --border-hover: rgb(255 255 255 / 60%); // deprecated
  --border-basic-hover: rgb(255 255 255 / 60%);
  --border-disabled: rgb(255 255 255 / 50%); // deprecated
  --border-basic-disabled: rgb(255 255 255 / 10%);
  --border-basic-negative: #ff7071;
  --border-basic-warning: #e6bb00;
  --border-basic-positive: #33b66d;
  --border-basic-info: #5ba4ff;
  --border-basic-purple: #b58eff;
  --border-basic-contrast: #eeeeef;
  --border-invert-default: rgb(19 19 23 / 50%); // deprecated
  --border-invert-primary: rgb(19 19 23 / 60%);
  --border-invert-subtle: rgb(19 19 23 / 10%); // deprecated
  --border-invert-secondary: rgb(19 19 23 / 10%);
  --border-invert-hover: rgba(19 19 23 / 80%);
  --border-invert-disabled: rgb(19 19 23 / 30%);
  --color-action-active: #b6d5fb; // deprecated
  --action-primary-active: #b3d7ff;
  --color-action-hover: #8abbf9; // deprecated
  --action-primary-hover: #86bfff;
  --color-action-default: #6daaf8; // deprecated
  --action-primary-default: #{$action-primary-default};
  --color-action-default-rgb: 157, 206, 255;
  --color-action-disabled: #6daaf8; // deprecated
  --action-primary-disabled: rgb(104 175 255 / 30%);
  --color-negative-active: #ffe5e5; // deprecated
  --action-negative-active: #ffa6a6;
  --color-negative-hover: #ffb7b7; // deprecated
  --action-negative-hover: #ff7071;
  --color-negative-default: #ff5354; // deprecated
  --action-negative-default: #ff5354;
  --color-negative-disabled: rgb(255 76 77 / 30%); // deprecated
  --action-negative-disabled: rgb(255 76 77 / 30%);
  --color-warning-default: #fed65e; // deprecated
  --action-warning-default: #e8bb00;
  --color-warning-hover: #fedc89; // deprecated
  --action-warning-hover: #efcf4c;
  --action-warning-disabled: rgb(232 187 0 / 30%);
  --color-positive-default: #00c057; // deprecated
  --action-positive-default: #00a449;
  --color-positive-hover: #00e066; // deprecated
  --action-positive-hover: #4cbf80;
  --color-positive-disabled: #4d735e; // deprecated
  --action-positive-disabled: rgb(0 164 73 / 25%);
  --action-neutral-default: #6a6a6d;
  --action-neutral-hover: #89898b;
  --action-neutral-disabled: rgb(141 141 149 / 20%);
  --action-high-contrast-default: #fcfcfc;
  --action-high-contrast-hover: #fff;
  --action-high-contrast-active: #fff;
  --action-high-contrast-disabled: rgb(252 252 252 / 20%);
  --color-bot: #50009c; // deprecated
  --surface-other-bot: linear-gradient(
    95.09deg,
    #302476 0%,
    #442a76 50.44%,
    #53307c 100.89%
  );
  --surface-other-bot-hover: linear-gradient(
    95.09deg,
    #44378d 0%,
    #593d8d 50.44%,
    #674293 100.89%
  );
  --color-black: #131317;
  --color-white: #fff;
  --decor-blue900: #003288;
  --decor-blue800: #003fa4;
  --decor-blue700: #004bc2;
  --decor-blue600: #0059e1;
  --decor-blue500: #06f;
  --decor-blue400: #328dff;
  --decor-blue300: #68afff;
  --decor-blue200: #9dceff;
  --decor-blue100: #daedff;
  --decor-blue50: #f4faff;
  --decor-orange900: #6c1d00;
  --decor-orange800: #842600;
  --decor-orange700: #9c2e00;
  --decor-orange600: #b43700;
  --decor-orange500: #d54300;
  --decor-orange400: #ff5100;
  --decor-orange300: #ff8a77;
  --decor-orange200: #ffb8af;
  --decor-orange100: #ffe5e3;
  --decor-orange50: #fff8f7;
  --decor-yellow900: #493700;
  --decor-yellow800: #755b00;
  --decor-yellow700: #c9a100;
  --decor-yellow600: #e8bb00;
  --decor-yellow500: #f3c600;
  --decor-yellow400: #d1aa00;
  --decor-yellow300: #fed65e;
  --decor-yellow200: #fedc89;
  --decor-yellow100: #fff2d6;
  --decor-yellow50: #fff9ed;
  --decor-gray950: #131317;
  --decor-gray900: #1b1b20;
  --decor-gray800: #29292f;
  --decor-gray700: #3b3b43;
  --decor-gray600: #4e4e58;
  --decor-gray500: #62626d;
  --decor-gray400: #767680;
  --decor-gray300: #8d8d95;
  --decor-gray200: #ababb1;
  --decor-gray150: #c9c9cd;
  --decor-gray100: #c9c9cd;
  --decor-gray75: #eeeeef;
  --decor-gray50: #e2e2e4;
  --decor-gray40: #eeeeef;
  --decor-gray20: #fcfcfc;
  --decor-green900: #00431a;
  --decor-green800: #005321;
  --decor-green700: #006329;
  --decor-green600: #007331;
  --decor-green500: #00893c;
  --decor-green400: #00a449;
  --decor-green300: #00c057;
  --decor-green200: #7edd92;
  --decor-green100: #e4f4ed;
  --decor-green50: #f3fcf4;
  --decor-red900: #790002;
  --decor-red800: #930002;
  --decor-red700: #ae0003;
  --decor-red600: #ca0005;
  --decor-red500: #ee0007;
  --decor-red400: #ff4c4d;
  --decor-red300: #ff8889;
  --decor-red200: #ffb7b7;
  --decor-red100: #ffe5e5;
  --decor-red50: #fff8f8;
  --decor-purple900: #50009c;
  --decor-purple800: #6100bd;
  --decor-purple700: #7400df;
  --decor-purple600: #8609ff;
  --decor-purple500: #9146ff;
  --decor-purple400: #a372ff;
  --decor-purple300: #b99aff;
  --decor-purple200: #d1c0ff;
  --decor-purple100: #eee8ff;
  --decor-purple50: #faf8ff;
  --decor-brown50: #584637;
  --decor-brown300: #ac8668;
  --products-livechat: #fe5100;
  --products-helpdesk: #00c057;
  --products-chatbot: #06f;
  --products-knowledgebase: #9146ff;
  --illustrations-primary: #3b3b43;
  --illustrations-secondary: #62626d;
  --illustrations-stroke: #c9c9cd;
  --tag-surface-01: #3b3b43;
  --tag-content-01: #eeeeef;
  --btn-basic-background-enabled: #{$surface-primary-default};
  --btn-basic-background-hover: #{$surface-primary-hover};
  --btn-basic-background-disabled: #{$surface-primary-disabled};
  --btn-basic-background-active: #{$surface-accent-emphasis-min-info};
  --btn-basic-background-loading: #{$surface-primary-disabled};
  --btn-secondary-background-enabled: #{$surface-primary-default};
  --btn-secondary-background-hover: #{$surface-primary-hover};
  --btn-secondary-background-disabled: #{$surface-primary-disabled};
  --btn-secondary-background-active: #{$surface-accent-emphasis-min-info};
  --btn-secondary-background-loading: #{$surface-primary-disabled};
  --btn-plain-icon-background-hover: #{$surface-accent-emphasis-low-info};
  --btn-plain-icon-background-active: #{$action-primary-default};
  --picker-list-background: #{$surface-secondary-default};
  --picker-list-group-background: #{$surface-tertiary-default};
  --picker-list-option-background-hover: #43434b;
  --picker-list-option-background-active-hover: #4e4e58;
  --picker-list-option-background-focus: #43434b;
  --picker-list-option-background-active: #4b4b52;
  --popover-background: #{$surface-secondary-default};
  --surface-avatar-1: #8609ff;
  --surface-avatar-2: #ca0005;
  --surface-avatar-3: #328dff;
  --surface-avatar-4: #00893c;
  --surface-avatar-5: #9146ff;
  --surface-avatar-6: #ff5100;
  --surface-avatar-7: #06f;
  --surface-avatar-8: #a372ff;
  --surface-avatar-9: #b08c00;
  --surface-avatar-10: #00a449;
  --navbar-background: #050505;
  --tooltip-background-basic: #{$surface-secondary-default};
  --tooltip-background-invert: #{$surface-invert-primary};
  --tooltip-border: rgb(255 255 255 / 15%);
  --tooltip-border-for-svg: #4c4c50;
  --animated-gradient-value-1: rgb(59 59 67 / 0%) 0.08%;
  --animated-gradient-value-2: #3b3b43 50.5%;
  --animated-gradient-value-3: rgb(59 59 67 / 0%) 99.89%;
  --content-basic-internal-note: #efcf8d;
  --content-basic-bot: #f3e7fe;
}
