$surface-primary-disabled: #f9fafb;
$surface-primary-hover: #f3f6f7;
$surface-accent-emphasis-min-info: #f4faff;
$surface-primary-default: #fff;
$action-primary-default: #4284f5;
$surface-secondary-default: #f1f6f8;
$surface-primary-active: #ebf1f4;
$surface-tertiary-hover: #d3dde3;

.lc-legacy-theme {
  --background: #fff; // deprecated
  --background-01: #fff;
  --background-02: #fff;
  --background-03: #f1f1f2;
  --surface-basic-default: #fff; // deprecated
  --surface-primary-default: #{$surface-primary-default};
  --surface-basic-subtle: #f1f6f8; // deprecated
  --surface-secondary-default: #{$surface-secondary-default};
  --surface-secondary-hover: #e0e8eb;
  --surface-secondary-active: #dae4eb;
  --surface-secondary-disabled: #eaedf0;
  --surface-primary-hover-opacity: rgb(19 19 23 / 10%);
  --surface-basic-hover: #e0e8eb; // deprecated
  --surface-primary-hover: #{$surface-primary-hover};
  --surface-basic-active: #dae4eb; // deprecated
  --surface-primary-active: #{$surface-primary-active};
  --surface-primary-active-colored: rgb(66 132 245 / 25%);
  --surface-basic-disabled: #eaedf0; // deprecated
  --surface-primary-disabled: #{$surface-primary-disabled};
  --surface-tertiary-default: #dde4e9;
  --surface-secondary-subtle: #e4e8ec; // deprecated
  --surface-moderate-default: #cad6dd;
  --surface-moderate-hover: #c3ced5;
  --surface-moderate-active: #bac7cf;
  --surface-tertiary-hover: #{$surface-tertiary-hover};
  --surface-tertiary-active: #cdd8df;
  --surface-tertiary-disabled: #e4e8ec;
  --surface-feedback-info: #e5f3ff; // deprecated
  --surface-accent-emphasis-low-info: #e6f3ff;
  --surface-feedback-negative: #fbeaed; // deprecated
  --surface-accent-emphasis-low-negative: #fbeaed;
  --surface-feedback-warning: #fff8e0; // deprecated
  --surface-accent-emphasis-low-warning: #fff8e0;
  --surface-feedback-positive: #e6f4ec; // deprecated
  --surface-accent-emphasis-low-positive: #e6f4ec;
  --surface-accent-emphasis-low-purple: #eee8ff;
  --surface-accent-emphasis-min-info: #{$surface-accent-emphasis-min-info};
  --surface-accent-emphasis-min-negative: #fff8f8;
  --surface-accent-emphasis-min-warning: #fff9ed;
  --surface-accent-emphasis-min-positive: #f3fcf4;
  --surface-accent-emphasis-min-purple: #faf8ff;
  --surface-invert-default: #424d57; // deprecated
  --surface-invert-primary: #424d57;
  --surface-invert-subtle: #677179; // deprecated
  --surface-invert-secondary: #677179;
  --surface-invert-disabled: #a0a6ab;
  --surface-locked-default: #fff;
  --surface-locked-hover: #efeff0;
  --surface-locked-active: #daedff;
  --surface-locked-disabled: rgb(255 255 255 / 70%);
  --surface-locked-white: #fff;
  --surface-locked-black: #000;
  --surface-accent-emphasis-medium-negative: #ffb7b7;
  --surface-accent-emphasis-medium-positive: #7edd92;
  --surface-accent-emphasis-high-info: #4284f5;
  --surface-accent-emphasis-high-negative: #d74747;
  --surface-accent-emphasis-high-warning: #fbbd04;
  --surface-accent-emphasis-high-positive: #22aa61;
  --surface-accent-emphasis-high-purple: #9642f5;
  --surface-overlay: rgb(0 0 0 / 70%); // deprecated
  --surface-other-overlay: rgb(0 0 0 / 70%);
  --surface-other-agent: #4284f5;
  --surface-other-agent-hover: #034fc3;
  --surface-other-skeleton: #e5e8ec;
  --surface-other-internal-note: #ffe9bc;
  --surface-other-internal-note-hover: #fed65e;
  --surface-other-visitor: #f5f5f5;
  --surface-other-visitor-hover: #e4e4e5;
  --surface-gradient-01: linear-gradient(
    107.08deg,
    #8609ff 9.14%,
    #ee0007 111.43%
  );
  --surface-gradient-02: linear-gradient(
    107.08deg,
    #8609ff 9.14%,
    #0059e1 111.43%
  );
  --surface-gradient-03: linear-gradient(84deg, #ca0005 38%, #f3c600 140%);
  --surface-gradient-04: linear-gradient(95deg, #ffe9bc, #fffdf8 112%);
  --surface-gradient-05: linear-gradient(95deg, #daedff, #fbfdff 112%);
  --surface-gradient-06: linear-gradient(95deg, #eee8ff, #fdfdff 112%);
  --surface-gradient-07: linear-gradient(95deg, #d1f4d5, #e6f6ed 112%);
  --surface-gradient-08: linear-gradient(95deg, #ffe5e5, #fffcfc 112%);
  --surface-gradient-09: linear-gradient(95deg, #d1f4d5, #fff9ee 112%);
  --surface-gradient-10: linear-gradient(95deg, #eee8ff, #f4faff 112%);
  --surface-gradient-11: linear-gradient(95deg, #eee8ff, #fff4dd 112%);
  --surface-gradient-12: linear-gradient(95deg, #efded2 0%, #fdfcfa 111.28%);
  --surface-gradient-13: linear-gradient(95deg, #e2e2e4 0%, #fcfcfc 111.28%);
  --content-default: #424d57; // deprecated
  --content-basic-primary: #424d57;
  --content-subtle: #677179; // deprecated
  --content-basic-secondary: #677179;
  --content-disabled: #a0a6ab; // deprecated
  --content-basic-disabled: #a0a6ab;
  --content-basic-negative: #930002;
  --content-basic-warning: #755b00;
  --content-basic-positive: #005321;
  --content-basic-info: #003fa4;
  --content-basic-purple: #6100bd;
  --content-basic-gradient-01: linear-gradient(
    254.49deg,
    #8609ff -0.38%,
    #004bc2 94.44%
  );
  --content-white-locked: #fff; // deprecated
  --content-locked-white: #fff;
  --content-black-locked: #424d57; // deprecated
  --content-locked-black: #000;
  --content-locked-default: #424d57;
  --content-locked-hover: #131317;
  --content-locked-active: #003fa4;
  --content-locked-disabled: #8d8d95;
  --content-invert-default: #fff; // deprecated
  --content-invert-primary: #fff;
  --content-invert-subtle: rgb(255 255 255 / 70%); // deprecated
  --content-invert-secondary: rgb(255 255 255 / 70%);
  --content-invert-disabled: rgb(255 255 255 / 50%);
  --content-invert-gradient-01: linear-gradient(
    254.49deg,
    #b99aff -0.38%,
    #68afff 94.44%
  );
  --border-default: #bdc7d1; // deprecated
  --border-basic-primary: #bdc7d1;
  --border-basic-secondary: #e4e8ec;
  --border-subtle: #e4e8ec; // deprecated
  --border-basic-tertiary: #e9edf0;
  --border-hover: #a0a6ab; // deprecated
  --border-basic-hover: #a0a6ab;
  --border-disabled: #dee3e8; // deprecated
  --border-basic-disabled: #dee3e8;
  --border-basic-negative: #930002;
  --border-basic-warning: #755b00;
  --border-basic-positive: #005321;
  --border-basic-info: #003fa4;
  --border-basic-purple: #6100bd;
  --border-basic-contrast: #131317;
  --border-invert-default: rgb(255 255 255 / 70%); // deprecated
  --border-invert-primary: rgb(255 255 255 / 70%);
  --border-invert-subtle: rgb(255 255 255 / 30%); // deprecated
  --border-invert-secondary: rgb(255 255 255 / 30%);
  --border-invert-hover: #fff;
  --border-invert-disabled: rgb(255 255 255 / 50%);
  --color-action-active: #295fbc; // deprecated
  --action-primary-active: #295fbc;
  --color-action-hover: #4379d6; // deprecated
  --action-primary-hover: #4379d6;
  --color-action-default: #4284f5; // deprecated
  --action-primary-default: #{$action-primary-default};
  --color-action-default-rgb: 66, 132, 245;
  --color-action-disabled: #a3c3fa; // deprecated
  --action-primary-disabled: #a3c3fa;
  --color-negative-active: #94383a; // deprecated
  --action-negative-active: #94383a;
  --color-negative-hover: #b94648; // deprecated
  --action-negative-hover: #b94648;
  --color-negative-default: #d74747; // deprecated
  --action-negative-default: #d74747;
  --color-negative-disabled: #eba3a3; // deprecated
  --action-negative-disabled: #eba3a3;
  --color-warning-default: #fbbd04; // deprecated
  --action-warning-default: #fbbd04;
  --color-warning-hover: #f99a01; // deprecated
  --action-warning-hover: #f99a01;
  --action-warning-disabled: rgb(232 187 0 / 20%);
  --color-positive-default: #22aa61; // deprecated
  --action-positive-default: #22aa61;
  --color-positive-hover: #0d874a; // deprecated
  --action-positive-hover: #0d874a;
  --color-positive-disabled: #90d5c4; // deprecated
  --action-positive-disabled: #90d5c4;
  --action-neutral-default: #bdc7d1;
  --action-neutral-hover: #a0a6ab;
  --action-neutral-disabled: #dee3e8;
  --action-high-contrast-default: #1b1b20;
  --action-high-contrast-hover: #131317;
  --action-high-contrast-active: #131317;
  --action-high-contrast-disabled: rgb(27 27 32 / 20%);
  --color-bot: #6b5aba; // deprecated
  --surface-other-bot: #6b5aba;
  --surface-other-bot-hover: #41057b;
  --color-black: #424d57;
  --color-white: #fff;
  --decor-blue900: #003288;
  --decor-blue800: #003fa4;
  --decor-blue700: #004bc2;
  --decor-blue600: #0059e1;
  --decor-blue500: #06f;
  --decor-blue400: #328dff;
  --decor-blue300: #68afff;
  --decor-blue200: #9dceff;
  --decor-blue100: #daedff;
  --decor-blue50: #f4faff;
  --decor-orange900: #6c1d00;
  --decor-orange800: #842600;
  --decor-orange700: #9c2e00;
  --decor-orange600: #b43700;
  --decor-orange500: #d54300;
  --decor-orange400: #ff5100;
  --decor-orange300: #ff8a77;
  --decor-orange200: #ffb8af;
  --decor-orange100: #ffe5e3;
  --decor-orange50: #fff8f7;
  --decor-yellow900: #493700;
  --decor-yellow800: #755b00;
  --decor-yellow700: #c9a100;
  --decor-yellow600: #e8bb00;
  --decor-yellow500: #f3c600;
  --decor-yellow400: #d1aa00;
  --decor-yellow300: #fed65e;
  --decor-yellow200: #fedc89;
  --decor-yellow100: #fff2d6;
  --decor-yellow50: #fff9ed;
  --decor-gray950: #131317;
  --decor-gray900: #1b1b20;
  --decor-gray800: #29292f;
  --decor-gray700: #3b3b43;
  --decor-gray600: #4e4e58;
  --decor-gray500: #62626d;
  --decor-gray400: #767680;
  --decor-gray300: #8d8d95;
  --decor-gray200: #ababb1;
  --decor-gray150: #c9c9cd;
  --decor-gray100: #c9c9cd;
  --decor-gray75: #eeeeef;
  --decor-gray50: #e2e2e4;
  --decor-gray40: #eeeeef;
  --decor-gray20: #fcfcfc;
  --decor-green900: #00431a;
  --decor-green800: #005321;
  --decor-green700: #006329;
  --decor-green600: #007331;
  --decor-green500: #00893c;
  --decor-green400: #00a449;
  --decor-green300: #00c057;
  --decor-green200: #7edd92;
  --decor-green100: #e4f4ed;
  --decor-green50: #f3fcf4;
  --decor-red900: #790002;
  --decor-red800: #930002;
  --decor-red700: #ae0003;
  --decor-red600: #ca0005;
  --decor-red500: #ee0007;
  --decor-red400: #ff4c4d;
  --decor-red300: #ff8889;
  --decor-red200: #ffb7b7;
  --decor-red100: #ffe5e5;
  --decor-red50: #fff8f8;
  --decor-purple900: #50009c;
  --decor-purple800: #6100bd;
  --decor-purple700: #7400df;
  --decor-purple600: #8609ff;
  --decor-purple500: #9146ff;
  --decor-purple400: #a372ff;
  --decor-purple300: #b99aff;
  --decor-purple200: #d1c0ff;
  --decor-purple100: #eee8ff;
  --decor-purple50: #faf8ff;
  --decor-brown50: #efded2;
  --decor-brown300: #ac8668;
  --products-livechat: #fe5100;
  --products-helpdesk: #00c057;
  --products-chatbot: #06f;
  --products-knowledgebase: #9146ff;
  --illustrations-primary: #ffd000;
  --illustrations-secondary: #e2e2e4;
  --illustrations-stroke: #1b1b20;
  --tag-surface-01: #e4e8ec;
  --tag-content-01: #424d57;
  --btn-basic-background-enabled: #{$surface-primary-default};
  --btn-basic-background-hover: #{$surface-primary-hover};
  --btn-basic-background-disabled: #{$surface-primary-disabled};
  --btn-basic-background-active: #{$surface-accent-emphasis-min-info};
  --btn-basic-background-loading: #{$surface-primary-disabled};
  --btn-secondary-background-enabled: #{$surface-primary-default};
  --btn-secondary-background-hover: #{$surface-primary-hover};
  --btn-secondary-background-disabled: #{$surface-primary-disabled};
  --btn-secondary-background-active: #{$surface-accent-emphasis-min-info};
  --btn-secondary-background-loading: #{$surface-primary-disabled};
  --btn-plain-icon-background-hover: #{$surface-accent-emphasis-min-info};
  --btn-plain-icon-background-active: #{$action-primary-default};
  --picker-list-background: #{$surface-primary-default};
  --picker-list-group-background: #{$surface-secondary-default};
  --picker-list-option-background-hover: #{$surface-primary-hover};
  --picker-list-option-background-active-hover: #{$surface-tertiary-hover};
  --picker-list-option-background-focus: #{$surface-primary-hover};
  --picker-list-option-background-active: #{$surface-primary-active};
  --popover-background: #{$surface-primary-default};
  --surface-avatar-1: #8609ff;
  --surface-avatar-2: #ca0005;
  --surface-avatar-3: #328dff;
  --surface-avatar-4: #00893c;
  --surface-avatar-5: #9146ff;
  --surface-avatar-6: #ff5100;
  --surface-avatar-7: #06f;
  --surface-avatar-8: #a372ff;
  --surface-avatar-9: #b08c00;
  --surface-avatar-10: #00a449;
  --navbar-background: #101014;
  --tooltip-border: transparent;
}
