$surface-primary-default: #fff;
$surface-primary-hover: rgb(19 19 19 / 8%);
$surface-accent-emphasis-min-info: #f4faff;
$action-primary-default: #0059e1;
$surface-secondary-default: #f5f5f5;
$surface-primary-active: #eeeeef;
$surface-tertiary-hover: #e4e4e5;

.lc-light-theme {
  --background: #fff; // deprecated
  --background-01: #fff;
  --background-02: #fff;
  --background-03: #f1f1f2;
  --surface-basic-default: #fff; // deprecated
  --surface-primary-default: #{$surface-primary-default};
  --surface-basic-subtle: #f6f6f7; // deprecated
  --surface-secondary-default: #{$surface-secondary-default};
  --surface-secondary-hover: #ececec;
  --surface-secondary-active: #e7e7e7;
  --surface-secondary-disabled: #f0f0f1;
  --surface-basic-hover: #e2e2e4; // deprecated
  --surface-primary-hover: #{$surface-primary-hover};
  --surface-basic-active: #c9c9cd; // deprecated
  --surface-primary-active: #{$surface-primary-active};
  --surface-primary-active-colored: rgb(0 102 255 / 25%);
  --surface-basic-disabled: #f6f6f7; // deprecated
  --surface-primary-disabled: #f6f6f6;
  --surface-tertiary-default: #e6e6e7;
  --surface-secondary-subtle: #e4e8ec; // deprecated
  --surface-moderate-default: #d8d8da;
  --surface-moderate-hover: #d1d1d4;
  --surface-moderate-active: #cdcdcf;
  --surface-tertiary-hover: #{$surface-tertiary-hover};
  --surface-tertiary-active: #e2e2e3;
  --surface-tertiary-disabled: #ebebec;
  --surface-feedback-info: #daedff; // deprecated
  --surface-accent-emphasis-low-info: #daedff;
  --surface-feedback-negative: #ffe5e5; // deprecated
  --surface-accent-emphasis-low-negative: #ffe5e5;
  --surface-feedback-warning: #fff2d6; // deprecated
  --surface-accent-emphasis-low-warning: #ffe9bc;
  --surface-feedback-positive: #e4f4ed; // deprecated
  --surface-accent-emphasis-low-positive: #d1f4d5;
  --surface-accent-emphasis-low-purple: #eee8ff;
  --surface-accent-emphasis-min-info: #{$surface-accent-emphasis-min-info};
  --surface-accent-emphasis-min-negative: #fff8f8;
  --surface-accent-emphasis-min-warning: #fff9ed;
  --surface-accent-emphasis-min-positive: #f3fcf4;
  --surface-accent-emphasis-min-purple: #faf8ff;
  --surface-invert-default: #1b1b20; // deprecated
  --surface-invert-primary: #131317;
  --surface-invert-subtle: #4e4e58; // deprecated
  --surface-invert-secondary: #3b3b43;
  --surface-invert-disabled: #8d8d95;
  --surface-locked-default: #fff;
  --surface-locked-hover: #eeeeef;
  --surface-locked-active: #daedff;
  --surface-locked-disabled: rgb(255 255 255 / 70%);
  --surface-locked-white: #fff;
  --surface-locked-black: #000;
  --surface-accent-emphasis-medium-negative: #ffb7b7;
  --surface-accent-emphasis-medium-positive: #7edd92;
  --surface-accent-emphasis-high-info: #0059e1;
  --surface-accent-emphasis-high-negative: #ca0005;
  --surface-accent-emphasis-high-warning: #e8bb00;
  --surface-accent-emphasis-high-positive: #00893c;
  --surface-accent-emphasis-high-purple: #9146ff;
  --surface-overlay: rgb(19 19 23 / 70%); // deprecated
  --surface-other-overlay: rgb(19 19 23 / 70%);
  --surface-other-agent: #0059e1;
  --surface-other-agent-hover: #034fc3;
  --surface-other-skeleton: #e2e2e4;
  --surface-gradient-01: linear-gradient(
    107.08deg,
    #8609ff 9.14%,
    #ee0007 111.43%
  );
  --surface-gradient-02: linear-gradient(
    107.08deg,
    #8609ff 9.14%,
    #0059e1 111.43%
  );
  --surface-gradient-03: linear-gradient(84deg, #ca0005 38%, #f3c600 140%);
  --surface-gradient-04: linear-gradient(95deg, #ffe9bc, #fffdf8 112%);
  --surface-gradient-05: linear-gradient(95deg, #daedff, #fbfdff 112%);
  --surface-gradient-06: linear-gradient(95deg, #eee8ff, #fdfdff 112%);
  --surface-gradient-07: linear-gradient(95deg, #d1f4d5, #e6f6ed 112%);
  --surface-gradient-08: linear-gradient(95deg, #ffe5e5, #fffcfc 112%);
  --surface-gradient-09: linear-gradient(95deg, #d1f4d5, #fff9ee 112%);
  --surface-gradient-10: linear-gradient(95deg, #eee8ff, #f4faff 112%);
  --surface-gradient-11: linear-gradient(95deg, #eee8ff, #fff4dd 112%);
  --content-default: #131317; // deprecated
  --content-basic-primary: #131317;
  --content-subtle: #62626d; // deprecated
  --content-basic-secondary: #62626d;
  --content-disabled: #8d8d95; // deprecated
  --content-basic-disabled: #8d8d95;
  --content-basic-negative: #ae0003;
  --content-basic-warning: #755b00;
  --content-basic-positive: #005321;
  --content-basic-info: #003fa4;
  --content-basic-purple: #6100bd;
  --content-basic-gradient-01: linear-gradient(
    254.49deg,
    #8609ff -0.38%,
    #004bc2 94.44%
  );
  --content-white-locked: #fff; // deprecated
  --content-locked-white: #fff;
  --content-black-locked: #131317; // deprecated
  --content-locked-black: #000;
  --content-locked-default: #131317;
  --content-locked-hover: #131317;
  --content-locked-active: #003fa4;
  --content-locked-disabled: #8d8d95;
  --content-invert-default: #fff; // deprecated
  --content-invert-primary: #fff;
  --content-invert-subtle: rgb(255 255 255 / 70%); // deprecated
  --content-invert-secondary: rgb(255 255 255 / 70%);
  --content-invert-disabled: rgb(255 255 255 / 50%);
  --content-invert-gradient-01: linear-gradient(
    254.49deg,
    #b99aff -0.38%,
    #68afff 94.44%
  );
  --border-default: #c9c9cd; // deprecated
  --border-basic-primary: #c9c9cd;
  --border-basic-secondary: #e2e2e4;
  --border-subtle: #eeeeef; // deprecated
  --border-basic-tertiary: #e5e5e6;
  --border-hover: #ababb1; // deprecated
  --border-basic-hover: #ababb1;
  --border-disabled: #e2e2e4; // deprecated
  --border-basic-disabled: #e2e2e4;
  --border-basic-negative: #ae0003;
  --border-basic-warning: #755b00;
  --border-basic-positive: #005321;
  --border-basic-info: #003fa4;
  --border-basic-purple: #6100bd;
  --border-basic-contrast: #131317;
  --border-invert-default: rgb(255 255 255 / 70%); // deprecated
  --border-invert-primary: rgb(255 255 255 / 70%);
  --border-invert-subtle: rgb(255 255 255 / 30%); // deprecated
  --border-invert-secondary: rgb(255 255 255 / 30%);
  --border-invert-hover: #fff;
  --border-invert-disabled: rgb(255 255 255 / 50%);
  --color-action-active: #003fa4; // deprecated
  --action-primary-active: #09367c;
  --color-action-hover: #004bc2; // deprecated
  --action-primary-hover: #0644a4;
  --color-action-default: #06f; // deprecated
  --action-primary-default: #{$action-primary-default};
  --color-action-default-rgb: 0, 102, 255;
  --color-action-disabled: #9dceff; // deprecated
  --action-primary-disabled: rgb(0 89 225 / 20%);
  --color-negative-active: #930002; // deprecated
  --action-negative-active: #6f090e;
  --color-negative-hover: #ae0003; // deprecated
  --action-negative-hover: #8d0004;
  --color-negative-default: #ca0005; // deprecated
  --action-negative-default: #ca0005;
  --color-negative-disabled: #eba3a3; // deprecated
  --action-negative-disabled: rgb(202 0 5 / 20%);
  --color-warning-default: #e8bb00; // deprecated
  --action-warning-default: #e8bb00;
  --color-warning-hover: #c9a100; // deprecated
  --action-warning-hover: #a88907;
  --action-warning-disabled: rgb(232 187 0 / 20%);
  --color-positive-default: #00893c; // deprecated
  --action-positive-default: #00893c;
  --color-positive-hover: #006329; // deprecated
  --action-positive-hover: #066631;
  --color-positive-disabled: #d1f4d5; // deprecated
  --action-positive-disabled: rgb(0 137 60 / 20%);
  --action-neutral-default: #8d8d95;
  --action-neutral-hover: #68686f;
  --action-neutral-disabled: rgb(141 141 149 / 20%);
  --action-high-contrast-default: #1b1b20;
  --action-high-contrast-hover: #131317;
  --action-high-contrast-active: #131317;
  --action-high-contrast-disabled: rgb(27 27 32 / 20%);
  --color-bot: #50009c; // deprecated
  --surface-other-bot: #50009c;
  --surface-other-bot-hover: #41057b;
  --color-black: #131317;
  --color-white: #fff;
  --decor-blue900: #003288;
  --decor-blue800: #003fa4;
  --decor-blue700: #004bc2;
  --decor-blue600: #0059e1;
  --decor-blue500: #06f;
  --decor-blue400: #328dff;
  --decor-blue300: #68afff;
  --decor-blue200: #9dceff;
  --decor-blue100: #daedff;
  --decor-blue50: #f4faff;
  --decor-orange900: #6c1d00;
  --decor-orange800: #842600;
  --decor-orange700: #9c2e00;
  --decor-orange600: #b43700;
  --decor-orange500: #d54300;
  --decor-orange400: #ff5100;
  --decor-orange300: #ff8a77;
  --decor-orange200: #ffb8af;
  --decor-orange100: #ffe5e3;
  --decor-orange50: #fff8f7;
  --decor-yellow900: #493700;
  --decor-yellow800: #755b00;
  --decor-yellow700: #c9a100;
  --decor-yellow600: #e8bb00;
  --decor-yellow500: #f3c600;
  --decor-yellow400: #d1aa00;
  --decor-yellow300: #fed65e;
  --decor-yellow200: #fedc89;
  --decor-yellow100: #fff2d6;
  --decor-yellow50: #fff9ed;
  --decor-gray950: #131317;
  --decor-gray900: #1b1b20;
  --decor-gray800: #29292f;
  --decor-gray700: #3b3b43;
  --decor-gray600: #4e4e58;
  --decor-gray500: #62626d;
  --decor-gray400: #767680;
  --decor-gray300: #8d8d95;
  --decor-gray200: #ababb1;
  --decor-gray150: #c9c9cd;
  --decor-gray100: #c9c9cd;
  --decor-gray75: #eeeeef;
  --decor-gray50: #e2e2e4;
  --decor-gray40: #eeeeef;
  --decor-gray20: #fcfcfc;
  --decor-green900: #00431a;
  --decor-green800: #005321;
  --decor-green700: #006329;
  --decor-green600: #007331;
  --decor-green500: #00893c;
  --decor-green400: #00a449;
  --decor-green300: #00c057;
  --decor-green200: #7edd92;
  --decor-green100: #e4f4ed;
  --decor-green50: #f3fcf4;
  --decor-red900: #790002;
  --decor-red800: #930002;
  --decor-red700: #ae0003;
  --decor-red600: #ca0005;
  --decor-red500: #ee0007;
  --decor-red400: #ff4c4d;
  --decor-red300: #ff8889;
  --decor-red200: #ffb7b7;
  --decor-red100: #ffe5e5;
  --decor-red50: #fff8f8;
  --decor-purple900: #50009c;
  --decor-purple800: #6100bd;
  --decor-purple700: #7400df;
  --decor-purple600: #8609ff;
  --decor-purple500: #9146ff;
  --decor-purple400: #a372ff;
  --decor-purple300: #b99aff;
  --decor-purple200: #d1c0ff;
  --decor-purple100: #eee8ff;
  --decor-purple50: #faf8ff;
  --products-livechat: #fe5100;
  --products-helpdesk: #00c057;
  --products-chatbot: #06f;
  --products-knowledgebase: #9146ff;
  --illustrations-primary: #ffd000;
  --illustrations-secondary: #e2e2e4;
  --illustrations-stroke: #1b1b20;
  --tag-surface-01: #e2e2e4;
  --tag-content-01: #131317;
  --btn-basic-background-enabled: #{$surface-primary-default};
  --btn-basic-background-hover: #{$surface-primary-hover};
  --btn-basic-background-disabled: #{$surface-primary-default};
  --btn-basic-background-active: #{$surface-accent-emphasis-min-info};
  --btn-basic-background-loading: #{$surface-primary-default};
  --btn-secondary-background-enabled: #{$surface-primary-default};
  --btn-secondary-background-hover: #{$surface-primary-hover};
  --btn-secondary-background-disabled: #{$surface-primary-default};
  --btn-secondary-background-active: #{$surface-accent-emphasis-min-info};
  --btn-secondary-background-loading: #{$surface-primary-default};
  --btn-plain-icon-background-hover: #{$surface-accent-emphasis-min-info};
  --btn-plain-icon-background-active: #{$action-primary-default};
  --picker-list-background: #{$surface-primary-default};
  --picker-list-group-background: #{$surface-secondary-default};
  --picker-list-option-background-hover: #ececec;
  --picker-list-option-background-active-hover: #e2e2e3;
  --picker-list-option-background-focus: #ececec;
  --picker-list-option-background-active: #e7e7e7;
  --popover-background: #{$surface-primary-default};
  --surface-avatar-1: #8609ff;
  --surface-avatar-2: #ca0005;
  --surface-avatar-3: #328dff;
  --surface-avatar-4: #00893c;
  --surface-avatar-5: #9146ff;
  --surface-avatar-6: #ff5100;
  --surface-avatar-7: #06f;
  --surface-avatar-8: #a372ff;
  --surface-avatar-9: #b08c00;
  --surface-avatar-10: #00a449;
  --navbar-background: #101014;
}
