@import '../../scss/variables/colors';

.popper-tooltip {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  border-radius: 4px;
  padding: 12px 16px;
  max-width: 260px;
  box-sizing: border-box;
  background-color: $ui-tooltip-color;
  border-color: $ui-tooltip-color;
  color: #fff;
  line-height: 18px;
  display: block;
  text-align: left;
  transition-property: opacity, visibility;

  &--invert {
    background-color: #fff;
    border-color: #fff;
    color: $font-primary-color;
  }

  &--important {
    background-color: $ui-tooltip-important-color;
    border-color: $ui-tooltip-important-color;
    color: $font-primary-color;
  }

  &:focus {
    outline: none;
  }

  &-enter {
    opacity: 0;
    visibility: hidden;
  }

  &-enter-active {
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
  }

  &-exit {
    opacity: 1;
    visibility: visible;
  }

  &-exit-active {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
  }

  &__arrow {
    position: absolute;
    height: 6px;
    margin: -6px 0;
    width: 12px;
    border-color: inherit;

    &::after {
      content: '';
      position: absolute;
      border: 6px solid transparent;
      transform: rotate(-45deg);
    }

    &[data-placement*='top'] {
      top: 100%;
      margin: -6px 0;

      &::after {
        border-bottom-color: inherit;
        border-left-color: inherit;
      }
    }

    &[data-placement*='bottom'] {
      bottom: 100%;
      margin: 0 0;

      &::after {
        border-top-color: inherit;
        border-right-color: inherit;
      }
    }

    &[data-placement*='right'] {
      right: 100%;
      height: 12px;
      margin: -6px 0;
      width: 6px;

      &::after {
        border-top-color: inherit;
        border-left-color: inherit;
      }
    }

    &[data-placement*='left'] {
      left: 100%;
      height: 12px;
      margin: -6px -6px;
      width: 6px;

      &::after {
        border-bottom-color: inherit;
        border-right-color: inherit;
      }
    }
  }
}

.css-tooltip {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  max-width: 260px;
  background-color: $ui-tooltip-color;
  border-color: $ui-tooltip-color;
  color: #fff;
  line-height: 18px;
  display: block;
  position: absolute;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, 0.2s ease-in-out opacity, 0.2s z-index ease-in-out;

  &--visible {
    z-index: initial;
    transition: visibility 0.2s linear, 0.2s ease-in-out opacity, 0.2s z-index ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  &--invert {
    background-color: #fff;
    border-color: #fff;
    color: $font-primary-color;
  }

  &--important {
    background-color: $ui-tooltip-important-color;
    border-color: $ui-tooltip-important-color;
    color: $font-primary-color;
  }

  &[data-placement*='bottom'] {
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-placement*='bottom-start'] {
    left: 0;
    transform: translateX(0);
  }

  &[data-placement*='bottom-end'] {
    right: 0;
    transform: translateX(0);
    left: initial;
  }

  &[data-placement*='top'] {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 8px));
  }

  &[data-placement*='top-start'] {
    left: 0;
    transform: translate(0, calc(-100% - 8px));
  }

  &[data-placement*='top-end'] {
    right: 0;
    left: auto;
    transform: translate(0, calc(-100% - 8px));
  }

  &[data-placement*='right'] {
    left: 100%;
    top: 50%;
    transform: translate(8px, -50%);
  }

  &[data-placement*='right-start'] {
    transform: translate(8px, 0);
    top: 0;
  }

  &[data-placement*='right-end'] {
    transform: translate(8px, 0);
    top: auto;
    bottom: 0;
  }

  &[data-placement*='left'] {
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 8px), -50%);
  }

  &[data-placement*='left-start'] {
    top: 0;
    transform: translate(calc(-100% - 8px), 0);
  }

  &[data-placement*='left-end'] {
    top: auto;
    bottom: 0;
    transform: translate(calc(-100% - 8px), 0);
  }

  &__arrow {
    position: absolute;
    height: 6px;
    margin: -6px 0;
    width: 12px;
    border-color: inherit;

    &::after {
      content: '';
      position: absolute;
      border: 6px solid transparent;
      transform: rotate(-45deg);
    }

    &[data-placement*='top'] {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin: -6px 0;

      &::after {
        border-bottom-color: inherit;
        border-left-color: inherit;
      }
    }

    &[data-placement*='top-start'] {
      transform: translateX(0);
      left: 8px;
    }

    &[data-placement*='top-end'] {
      transform: translateX(0);
      left: initial;
      right: 8px;
    }

    &[data-placement*='bottom'] {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: -6px 0;

      &::after {
        border-top-color: inherit;
        border-right-color: inherit;
      }
    }

    &[data-placement*='bottom-start'] {
      transform: translateX(0);
      left: 8px;
    }

    &[data-placement*='bottom-end'] {
      transform: translateX(0);
      left: initial;
      right: 8px;
    }

    &[data-placement*='right'] {
      right: 100%;
      transform: translateY(-50%);
      top: 50%;
      height: 12px;
      margin: 0 0;
      width: 6px;

      &::after {
        border-top-color: inherit;
        border-left-color: inherit;
      }
    }

    &[data-placement*='right-start'] {
      transform: translateY(0);
      top: 8px;
    }

    &[data-placement*='right-end'] {
      transform: translateY(0);
      top: initial;
      bottom: 8px;
    }

    &[data-placement*='left'] {
      right: 0;
      transform: translateY(-50%);
      top: 50%;
      height: 12px;
      margin: 0 0;
      width: 6px;

      &::after {
        border-bottom-color: inherit;
        border-right-color: inherit;
      }
    }

    &[data-placement*='left-start'] {
      top: 8px;
      transform: translateY(0);
    }

    &[data-placement*='left-end'] {
      top: auto;
      transform: translateY(0);
      bottom: 8px;
    }
  }
}

.popper-tooltip, .css-tooltip {
  &__close {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    cursor: pointer;
    line-height: 0;
    background: none;
    border: none;
    color: inherit;
    outline: none;
    border-radius: 4px;

    &:focus {
      box-shadow: 0 0 1px 2px rgba($primary-color, 0.7);
    }

    &:active {
      box-shadow: 0 0 0 1px $border-primary-color;
    }

    svg {
      fill: currentColor;
    }
  }
}

.guide-tooltip {
  &--slide {
    transition-property: opacity, visibility, transform;
  }

  &__overlay {
    position: fixed;
    display: none;
    background-color: $overlay-background-color;

    &--slide {
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-property: top, left, width, height;
    }
  }

  &__overlay--visible {
    display: block;
  }
}

