@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.loader {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &--cover {
    height: 100%;
    width: 100%;
  }

  &__spinner {
    flex-shrink: 0;
    height: 36px;
    width: 36px;

    &--small {
      height: 15px;
      width: 15px;

      [class*='spinner-circle'] {
        border-width: 2px;
      }
    }

    &--medium {
      height: 36px;
      width: 36px;

      [class*='spinner-circle'] {
        border-width: 3px;
      }
    }

    &--large {
      height: 56px;
      width: 56px;

      [class*='spinner-circle'] {
        border-width: 4px;
      }
    }

    &--cover {
      height: 100%;
      width: 100%;
    }

    &-circle {
      animation: rotate 1s infinite linear;
      border-color: var(--surface-secondary-subtle);
      border-radius: 50%;
      border-style: solid;
      border-top-color: var(--color-action-default);
      border-width: 3px;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }
  }

  &__label {
    color: var(--content-subtle);
    margin-left: 10px;
  }
}
