.tooltip__content {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
  margin: 4px;
  font-size: 14px;
  border-radius: 4px;
  padding: 11px 12px;
  max-width: 260px;
}

.tooltip__arrow {
  content: ' ';
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip__arrow--left {
  border-right-color: inherit;
  left: -4px;
}

.tooltip__arrow--right {
  border-left-color: inherit;
  right: -4px;
}

.tooltip__arrow--top {
  border-bottom-color: inherit;
  top: -4px;
  left: calc(50% - 4px);
}

.tooltip__arrow--bottom {
  border-top-color: inherit;
  bottom: -4px;
  left: calc(50% - 4px);
}

.tooltip__box {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.tooltip__box--visible {
  visibility: visible;
  opacity: 1;
}

.tooltip__box-content {
  position: relative;
}

.tooltip {
  position: relative;
}
