$base-class: 'accordion-multiline';

.#{$base-class} {
  transition: inherit;
  height: 100%;
  overflow: hidden;

  &__inner {
    padding: 0 var(--spacing-12) var(--spacing-5) var(--spacing-5);
  }
}
