$base-class: 'accordion-animated-label';

.#{$base-class} {
  display: flex;
  position: relative;
  align-items: center;
  transition: all var(--transition-duration-fast-2) ease-in-out;
  min-height: 21px;

  &__open,
  &__close {
    position: absolute;
    transition: all var(--transition-duration-fast-2) ease-in-out;
    opacity: 0;
    max-width: 100%;

    &--visible {
      animation: change-visibility var(--transition-duration-fast-2) ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes change-visibility {
  0% {
    opacity: 0;
  }

  70%,
  100% {
    opacity: 1;
  }
}
