$lcds-theme--light: (
  interactive-01: #0f62fe,
  interactive-02: #393939,
  ui-background: #ffffff
);

$lcds-theme--legacy: (
  interactive-01: #0f62fe,
  interactive-02: #393939,
  ui-background: #ffffff
);

$lcds-theme: (
  interactive-01:
    if(
      global-variable-exists('interactive-01'),
      $interactive-01,
      map-get($lcds-theme--legacy, 'interactive-01')
    ),
  interactive-02:
    if(
      global-variable-exists('interactive-02'),
      $interactive-02,
      map-get($lcds-theme--legacy, 'interactive-02')
    ),
  ui-background:
    if(
      global-variable-exists('ui-background'),
      $ui-background,
      map-get($lcds-theme--legacy, 'ui-background')
    )
);
