@use './themes/legacy';
@use './themes/light';
@use './themes/dark';
@use './foundations/spacing';

*[class^='lc-'] {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
