@use './themes/legacy';
@use './themes/light';
@use './themes/dark';
@use './foundations/spacing';
@use './foundations/shadow';
@use './foundations/color-scheme';
@use './foundations/radius';
@use './foundations/transition';

*[class^='lc-'] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
