$base-class: 'search-input';
$transition: 0.25s ease-in-out;
$transition-with-delay: 0.25s ease-in-out 0.25s;

.#{$base-class} {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.25s ease-in-out;
  border: 1px solid var(--border-basic-primary);
  border-radius: var(--radius-3);
  background-color: var(--surface-primary-default);
  width: 100%;
  overflow: hidden;
  color: var(--content-basic-primary);

  &:hover {
    border-color: var(--border-basic-hover);
    cursor: text;
  }

  &--compact {
    height: 32px;
  }

  &--medium {
    height: 36px;
  }

  &--large {
    height: 44px;
  }

  &--focused,
  &--focused:hover {
    border-color: var(--action-primary-default);
  }

  &--disabled,
  &--disabled:hover {
    border-color: var(--border-disabled);
    background-color: var(--surface-basic-disabled);
    cursor: not-allowed;
    color: var(--content-disabled);
  }

  &--collapsable {
    transition:
      width $transition,
      background $transition-with-delay,
      border $transition-with-delay;
    border-color: transparent;
    background-color: transparent;
    width: 42px;

    &:hover {
      border-color: transparent;
    }

    .#{$base-class}__search-icon {
      cursor: pointer;
    }

    &--open {
      transition:
        border $transition,
        background $transition,
        width $transition-with-delay;
      border-color: var(--border-basic-primary);
      background-color: var(--surface-primary-default);
      width: 100%;

      &:hover {
        border-color: var(--border-basic-hover);
      }

      &.#{$base-class}--focused,
      &.#{$base-class}--focused:hover {
        border-color: var(--action-primary-default);
      }

      .#{$base-class}__search-icon {
        cursor: text;
        pointer-events: none;
      }
    }
  }

  &__search-icon {
    position: absolute;
    justify-content: center;
    width: 40px;
    height: 100%;
  }

  &__clear-icon {
    margin-right: var(--spacing-1);
    margin-left: var(--spacing-1);
  }

  &__loader {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 11px;
    border-radius: 50%;
    background-color: var(--surface-primary-default);
    padding: 2px;
  }

  &__input-wrapper {
    flex: 1 1;
    padding: 0 0 0 40px;
    width: 100%;

    input {
      border: 0;
      background-color: transparent;
      padding: 0;
      width: 100%;
      color: inherit;

      &::placeholder {
        color: var(--content-basic-disabled);
      }

      &:focus {
        outline: none;
      }
    }

    &--crop {
      input {
        text-overflow: ellipsis;
      }
    }
  }
}
