& {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
&, &:before, &:after {
  box-sizing: inherit;
}

@media print {
  & {
    background-color: #fff;
  }
}