*[class^="lc-"] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*[class^="lc-"], *[class^="lc-"]:before, *[class^="lc-"]:after {
  box-sizing: inherit;
}
