*[class^="lc-"] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro';
}

*[class^="lc-"],
*[class^="lc-"]::before,
*[class^="lc-"]::after {
  box-sizing: inherit;
}
