@import '../../scss/variables/colors';

.field-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: $font-secondary-color;
  display: block;
  margin: 0;
  margin-top: 4px;
}
