.radio-button {
  display: inline-block;

  &:focus {
    .radio-button__circle {
      border-radius: 20px;
      box-shadow: 0 0 1px 1.6px rgb(67 132 245 / 70%); // TODO use color token
    }
  }

  &__label {
    display: inline-flex;
    flex: 0 1 auto;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }

  &__circle {
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s ease;
    border: 1px solid var(--border-basic-primary);
    border-radius: 16px;
    background-color: var(--surface-primary-default);
    width: 16px;
    height: 16px;
  }

  &__inner-circle {
    position: absolute;
    top: 3px;
    left: 3px;
    transition: all 0.2s ease;
    opacity: 0;
    border-radius: 8px;
    background-color: var(--action-primary-default);
    width: 8px;
    height: 8px;
  }

  &__text {
    flex: 1 0 auto;
    margin-left: 8px;
    color: var(--content-basic-primary);
  }

  &__input {
    opacity: 0;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  &__helper {
    margin-left: 24px;
    cursor: default;
  }

  &--selected {
    .radio-button__circle {
      border-color: var(--action-primary-default);
    }

    .radio-button__inner-circle {
      opacity: 1;
    }
  }

  &--selected:hover {
    .radio-button__circle {
      border-color: var(--action-primary-hover);
    }

    .radio-button__inner-circle {
      background-color: var(--action-primary-hover);
    }
  }

  &--disabled {
    &:not(.radio-button--selected) {
      .radio-button__circle {
        background-color: var(--surface-primary-disabled);
      }
    }

    .radio-button__circle {
      opacity: 0.4;
    }

    .radio-button__label,
    .radio-button__input,
    .radio-button__text,
    .radio-button__helper {
      cursor: not-allowed;
      color: var(--content-basic-disabled);
    }
  }
}
