$primary-color: #4384f5;
$secondary-color: #4bb678;

$hover-background-color: #e1e9ec;
$hover-primary-color: #4379d6;
$hover-red-color: #b9484a;

$font-primary-color: rgba(66, 77, 89, 1);
$font-secondary-color: rgba(66, 77, 89, 0.7);
$font-tertiary-color: rgba(66, 77, 89, 0.5);
$font-placeholder-color: rgba(66, 77, 89, 0.4);

$border-primary-color: #bcc6d0;
$field-hover-border-color: #a0a6ab;

$divider-color: #dde2e6;

$ui-background-color: #f3f7f9;
$ui-filter-color: #59699e;
$ui-tooltip-color: #424d57;

$error-color: #d64646;
$success-color: #4bb678;
$warning-color: #efa842;
$info-color: #5ca8f5;
