$primary-color: #4384f5;
$secondary-color: #4bb678;

$primary-color-30: rgba(67, 132, 245, 0.3);

$font-primary-color: rgba(66, 77, 89, 1);
$font-secondary-color: rgba(66, 77, 89, 0.7);
$font-tertiary-color: rgba(66, 77, 89, 0.5);
$font-placeholder-color: rgba(66, 77, 89, 0.4);

$border-primary-color: #bcc6d0;
$field-hover-border-color: #a0a6ab;

$ui-background-color: #f3f7f9;
$ui-select-color: #f1f6f8;
$ui-highlight-color: #f5f9fa;
$ui-filter-color: #59699e;
$ui-tooltip-color: #424d57;

$error-color: #d64646;
$success-color: #4bb678;
$warning-color: #efa842;
$info-color: #5ca8f5;
