$primary-color: #4384f5;
$secondary-color: #4bb678;

$font-primary-color: #424d57;
$font-secondary-color: #687179;
$font-tertiary-color: #8e949a;

$border-primary-color: #bcc6d0;

$ui-background-color: #f3f7f9;
$ui-select-color: #f1f6f8;
$ui-highlight-color: #f5f9fa;
$ui-filter-color: #59699e;
$ui-tooltip-color: #424d57;

$error-color: #f4574c;
$success-color: #4bb678;
$warning-color: #efa842;
$info-color: #5ca8f5;

$tooltip-color: #424d57;

$toast-notification-color: #424d57;
