@import '~@livechat/design-system-themes/dist/scss';

$base-class: 'select';

@mixin shared() {
  position: relative;
  width: inherit;
  font-size: 15px;
  line-height: 1.2;

  &-head {
    border-width: 1px;
    border-style: solid;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    outline: 0;
    transition: border 0.15s ease-in-out;

    &:hover {
      transition: border 0.15s ease-in-out;
    }

    &--focused {
      transition: border 0.15s ease-in-out;

      &:hover {
        transition: border 0.15s ease-in-out;
      }
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &-head__clear {
    opacity: 0;
    visibility: hidden;
    display: flex;
    transition: all 0.15s ease-in-out;

    &--visible {
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in-out;
    }
  }

  &-head__search {
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    z-index: 10;

    &--visible {
      flex: 1;
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in-out;
    }
  }

  &-head__input {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;

    ::placeholder,
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-ms-input-placeholder,
    :-moz-placeholder,
    :-ms-input-placeholder {
      opacity: 0.4;
    }

    &:focus,
    &:active,
    &:hover {
      outline: none;

      .#{$base-class}-head {
        border-width: 1px;
        border-style: solid;
      }
    }
  }

  &-body {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10%);
    transform-origin: top center;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    z-index: 100000;
    padding: 4px 0 8px 0;

    &--visible {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all 0.15s ease-in-out;
    }

    &__list {
      max-height: 224px;
      margin: 0;
      padding: 0;
      overflow-y: auto;

      &__header {
        cursor: default;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        padding: 8px 10px;
        align-items: center;
      }
    }

    &__item {
      position: relative;
      list-style: none;
      cursor: pointer;
      display: flex;
      padding: 9px 10px;
      align-items: center;

      &-content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 20px);
        width: 100%;
      }

      &--selected {
        .#{$base-class}-body__checkmark {
          opacity: 1;
          visibility: visible;
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }

  &-body__checkmark {
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    margin-left: auto;
    padding-left: 5px;
  }

  &-head__item {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    flex: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    max-width: calc(100% - 44px);
    width: 100%;

    &-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in-out;
    }

    &-placeholder {
      opacity: 0.4;
    }
  }
}

@mixin themable() {
  color: $text-primary;

  &-head {
    border-color: $border;
    background-color: $ui-background;

    &:hover {
      border-color: $border-hover;
    }

    &--focused {
      border-color: $primary;

      &:hover {
        border-color: $primary;
      }
    }
  }

  &-head__search {
    background-color: $ui-background;
  }

  &-head__input {
    color: $text-primary;
    background-color: transparent;

    ::placeholder,
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-ms-input-placeholder,
    :-moz-placeholder,
    :-ms-input-placeholder {
      color: $text-primary;
    }

    &:focus,
    &:active,
    &:hover {
      .#{$base-class}-head {
        border-color: $primary;
      }
    }
  }

  &-body {
    background-color: $ui-background;

    &__item {
      &--selected {
        color: $primary;
      }

      &--focused {
        background-color: $ui-hover;
      }
    }
  }

  &-body__checkmark {
    fill: $primary;
  }

  &-head__item {
    &-placeholder {
      color: $text-primary;
    }
  }

  &--error {
    .#{$base-class}-head {
      border-color: $danger;
    }
  }
}

.#{$base-class} {
  @include shared();

  @include lcds-theme() {
    @include themable();
  }
}

.theme--light {
  .#{$base-class} {
    @include lcds-theme($lcds-theme--light) {
      @include themable();
    }
  }
}
