$primary-color: #4384f5;
$secondary-color: #4bb678;

$hover-background-color: #e1e9ec;
$hover-basic-color: #f9fbfb;
$hover-primary-color: #4379d6;
$hover-red-color: #b9484a;

$loading-btn-basic-color: #fbfcfe;
$loading-btn-primary-color: #c3d7fa;
$loading-btn-error-color: #eec4c5;

$font-primary-color: rgba(66, 77, 87, 1);
$font-secondary-color: rgba(66, 77, 87, 0.7);
$font-tertiary-color: rgba(66, 77, 87, 0.5);
$font-placeholder-color: rgba(66, 77, 87, 0.4);

$border-primary-color: #bcc6d0;
$field-hover-border-color: #a0a6ab;
$field-background-color: #dde2e5;

$divider-color: #dde2e6;

$overlay-background-color: rgba(0, 0, 0, 0.5);

$ui-background-color: #f3f7f9;
$ui-background-color-hover: #e1e8ed;
$ui-filter-color: #59699e;
$ui-tooltip-color: #424d57;
$ui-tooltip-important-color: #facf50;

$error-color: #d64646;
$success-color: #4bb678;
$warning-color: #efa842;
$info-color: #5ca8f5;

$badge-primary-color: #fff;
$badge-primary-bg: $error-color;
$badge-secondary-color: #424d57;
$badge-secondary-bg: #cbd4de;

$icon-primary-color: #424d57;
