body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}
/* stylelint-disable selector-class-pattern */
.spacer {
  margin-bottom: 5px;
}
.spacer > * + * {
  margin-left: 5px;
}

.lc-dark-theme,
.lc-light-theme,
.lc-legacy-theme {
  background-color: var(--background);
  color: var(--content-default);
}
